/* css for treeview widget */

div.msg{
 color : red;
 margin: 1em 0;
}
.ui-dialog.ui-widget{
 background:#fff;
 }

.ui-dialog ul.treeview {
 background-color: transparent;
}

.ui-dialog ul.treeview li a.selectable,
.ui-dialog ul.treeview li a.selectable:hover{
 color:#E6820E;
}

.ui-dialog ul.treeview span,
.ui-dialog ul.treeview span:hover{
 color:#666;
}

/* bootstrap compatibility */
.cw-folder input[type='checkbox'] {
 margin: 0px;
 height:inherit; }