#dialog-overview-messages-list {
    .user,
    .group {
        margin-bottom: 15px;
        background: $body-bg;
        border: 1px solid $ityou-line-bg;
    }
}

form {
    &.message_receiver {
        border-top: 1px solid $ityou-line-bg;
        
        &, & + #message-stream {
            background: $body-bg;
            border-left: 1px solid $ityou-line-bg;
            border-right: 1px solid $ityou-line-bg;
            padding: 15px;
        }
        
        & + #message-stream {
            padding-top: 0;
            border-bottom: 1px solid $ityou-line-bg;
        }
    }
}