
.ui-tabs-nav li {
	padding: 10px;
	margin: 5px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
	-moz-border-radius: 5px 10px;     /* Firefox */
	border-radius: 5px 10px; 
	background-color: #837D7B;
}

.ui-tabs-nav a{
	text-decoration: none;
	color:#FFFFFF;
}


.ui-tabs-active {
	text-decoration: none;
	color:#D91910!important;
	background-color: #FFFFFF!important;
}
.ui-tabs-active a{
	text-decoration: none;
	color:#000!important;
	background-color: #FFFFFF!important;
}
.ui-widget-content {
    padding: 0px;
}



.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 20%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel {float: left; margin-left: 5%; padding: 1em; width: 70%;}

