.add_related {
  padding-right: .5em;
}

li.add_related label {
  margin-bottom: 0;
}

li.add_related input {
  margin-top: 0;
}
div.filter {
 background-color:inherit;
}

.cw-relationwidget-list {
  list-style: none;
}

.cw-toggle-checkbox:before {
  content:' [ '
}
.cw-toggle-checkbox:after {
  content:' ] '
}

.cw-relationwidget-single-link {
  margin-left: 0;
}
