[buildout]
extends = buildout.cfg
plone-series = 4.3
parts = download install test
eggs-directory = buildout-cache/eggs
download-cache = buildout-cache/downloads
basename = Plone-${versions:Plone}-UnifiedInstaller
filename = ${buildout:basename}.tgz
allow-hosts =
    *.google.com
    *.googlecode.com
    *.plone.org
    *.python.org
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net

[download]
recipe = hexagonit.recipe.download
url = https://launchpad.net/plone/${buildout:plone-series}/${versions:Plone}/+download/${buildout:filename}

[install]
recipe = collective.recipe.cmd
on_install = true
cmds = tar xjf ${download:location}/${buildout:basename}/packages/buildout-cache.tar.bz2

[versions]
# avoids CalledProcessError; see: https://github.com/collective/collective.recipe.cmd/issues/7
collective.recipe.cmd = 0.6
