/*** styles to make superfish navigation work with sunburst theme **/


/* padding for arrows */
#portal-globalnav.sf-arrows li a.sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}


/* submenu needs no min-width and no right border */
#portal-globalnav ul li a {
    min-width: 0;
    border-right: none; 
    white-space: inherit;  /* do not wrap long titles but adapt menu width */
} 


/* borders between subnav items */
#portal-globalnav ul li a {
    border-bottom: 1px solid #FFFFFF;
}
#portal-globalnav ul li:last-child a {
    border-bottom: none;
}

/* do not select subitems automatically */
#portal-globalnav .selected ul a {
    background: #DDDDDD;
    color: #205C90;
}
#portal-globalnav .selected ul a:hover {
    background: #205C90;
    color: #FFFFFF;
}

/* plone colors */

.sf-menu li {
    background: #DDDDDD;
}

#portal-globalnav li.navTreeItemInPath > a {
    background: #205C90;
    color: #FFFFFF;
}


/* @end */

