# output file options
[output_config]
#file_num = 1
#fname = ''
#fname_prefix = ''
#fname_suffix = ''
#outpath = 'plots'
#overwrite = True
#plotformat = 'pdf'
#save_transparent = True
#textlog = 'log.txt'

# figure setup
[fig_config]
#add_fig_ref = True
#add_zoomed_inset = True
#enable_dropshadow = True
#disable_legend = True
#legend_frameon = True
#legend_fontsize = '-2'
#legend_handlelength = 2.0
#legend_loc = 'best'
#legend_ncol = 1
#profile = 'kgraph'
usetex = True

[plot_config]
alpha = 0.8
#disable_markers = True
#disable_plotting = True
#fillstyle = 'full'
#global_scale_factor = 0.5
#linestyle = 'dashed'
#linewidth = 1.5
#marker = 'o'
#markercolor = None
#markeredgecolor = None
#markerfacecolor = None
#markersize = 3
#markeredgewidth = 0.5
#markevery = 1

[[xaxis]]
#label =
#var =
#units =

[[yaxis]]
#label =
#var =
#units =

[input_config]
ext = 'txt'

[[headers]]

[datasets]
#fname =
#path =

[[1]]
#fname =
#path =

[[2]]
#fname =
#path =
