.gp_featurepanel_selector_consult_button {
    height: 22px;
    width: 44px;
    background-image: url("../img/btn_consult_en_blue.png");
}

.gp_featurepanel_selector_title_col {
    font-weight: bold;
}

.gp_featurepanel_selector_grid .x-grid3-header,
.gp_featurepanel_selector_grid .x-grid3-header-inner {
    height: 8px;
}

.gp_featurepanel_selector_grid .x-grid3-hd-row td {
    line-height: 10px;
}
