/*.portletWhoAmI  .portletHeader {
	background:transparent url("++resource++ityou.whoisonline.resources/profile-icon.png") left center no-repeat;
	margin-left:10px;
	padding-left:30px;
}

.portletWhoIsOnline  .portletHeader {
	background:transparent url("++resource++ityou.whoisonline.resources/whoisonline-icon.png") left center no-repeat;
	margin-left:10px;
	padding-left:30px;
}
*/
.portletWhoIsOnline dd a,
.whoisonline-listing dd a {
	padding-right:0;
}

.portletWhoIsOnline dd a.portrait {
	padding:0;
}
.portletWhoIsOnline dd a.fullname {
}

.bar-wrapper {
	float:left;
	width:75px;
	height:6px;
	
	   position:absolute;
	   top:110px;
	   left:10px;
	   background-color:#111;
	   
}

.portletWhoIsOnline dd span.bar,
.whoisonline-listing dd span.bar {
	display:block;
	height:6px;
	background:transparent url(++resource++ityou.whoisonline.resources/bar.gif) left center no-repeat;
}


/*
.portletWhoIsOnline dd a img {
    height: 60px !important;	
	width: 40px !important;
    
}

.portletWhoAmI dd a img {
    height: 120px !important;
    width: 80px !important;
}
*/

.portletWhoIsOnline dd div.clear,
.whoisonline-listing dd div.clear {
	clear:left;
}

.portletWhoIsOnline .portletFooter {
	clear:both;
}

.portletWhoAmI  dd.portletItem,
.portletWhoIsOnline  dd.portletItem{
    padding:0 !important;
    border:none !important;
}
    

.portletWhoAmI dd a img {
    height: auto !important;
    width: auto !important;
}


.who-is-online-box {
    position:absolute;
		   background: rgba(255, 255, 255, 1.0);
    height:140px;
    width:280px;
	    border:1px solid #ccc;
        box-shadow:0 0 4px rgba(200,200,200,0.6);
	    box-shadow:0 0 4px rgba(200,200,200,0.6);
        border-radius:2px;
        padding:10px;
        opacity:1.0;
		font-size:12px;
		margin:12px 0 0 -10px;
		z-index:2;
                        display:none;
}

#who-is-online .arrow-top {
    background: transparent url("++resource++ityou.whoisonline.resources/arrow-top.png") no-repeat 0px bottom ;
    position: absolute;
    height: 30px;
	width: 40px;
	margin:-16px 0 0 0px;
    left: auto;
                	           display:none;
			   z-index:1;
}
.img-clip {
    position:absolute;
    clip:rect(10px,40px,40px,10px);
    margin:-10px 0 0 -10px;    
    width:40px;
    height:60px;
	
}
.img-portrait {
    position:absolute;
    clip:rect(0px,75px,100px,0px);
    margin:0px;    
    width:75px;
}
.portletWhoIsOnline .portrait {
    float:left;
    height:30px;
    width:30px;
    cursor:pointer;
	   padding-right:0px;
}

.info-profile {
    margin-left:80px;
    /*margin-top:10px;*/
	/*height:100px;*/
	color:#454545;
}

.clearfix-m:after, .clearfix-m::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
}


.portletWhoAmI .img-portrait {
    position: static;
    clip: auto;
    width: auto;
    float: left;
}


.logout-user {
    /*float: right;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-top: -23px;
    padding: 0;*/
    
    padding: 0px 0 0;
    width: 100%;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.logout-user button.large {
    width: 100%;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background: -moz-linear-gradient(center top , #999 5%, #333 100%) repeat scroll 0 0 #999999;
    color: #ccc;
    text-shadow: none;
    cursor:pointer;
/* 1px 1px 0 #CCCCCC;*/
}
.logout-user button.large:hover {
    width: 100%;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background: -moz-linear-gradient(center top , #333 5%, #999 100%) repeat scroll 0 0 #999999;
    color: #fff;
    text-shadow: none;
    cursor:pointer;
/* 1px 1px 0 #CCCCCC;*/
}



.info-profile dd {
	vertical-align: top;
	/*padding:4px 0 4px 30px;*/
	padding: 4px 0 0 0;
	margin-left:5px;
}

dd.my-profile,
dd.my-console,
dd.my-folder,
dd.write-message {
    position: relative;
}

dd.my-profile i,
dd.my-console i,
dd.my-folder i,
dd.write-message i {
    position: absolute;
    font-size: 1.2em;
}

dd.my-profile:hover,
dd.my-console:hover,
dd.my-folder:hover,
dd.write-message:hover {
    color: #789F09;
}

/*
dd.my-profile {
	background:transparent url("++resource++ityou.whoisonline.resources/profile-icon.png") left center no-repeat;
	padding-left: 25px;
}
dd.my-console {
	background:transparent url("++resource++ityou.whoisonline.resources/console-icon.png") left center no-repeat;
	padding-left: 25px;
}
dd.my-folder {
	background:transparent url("++resource++ityou.whoisonline.resources/folder-icon.png") left center no-repeat;
	padding-left: 25px;
}
dd.my-profile:hover {
	background:transparent url("++resource++ityou.whoisonline.resources/profile-active-icon.png") left center no-repeat;
}
dd.my-console:hover {
	background:transparent url("++resource++ityou.whoisonline.resources/console-active-icon.png") left center no-repeat;
}
dd.my-folder:hover {
	background:transparent url("++resource++ityou.whoisonline.resources/folder-active-icon.png") left center no-repeat;
}
*/

#who-is-online .img-icon {
    max-width:32px;
}

/* --- value for jquery --*/
.ajax-params.invisible {
	display:none;
}
/* --- /value for jquery --*/
