.can-copy-to-clipboard {
    
}

.can-paste-from-clipboard {
    min-height: 100px !important;
}

.copy-to-clipboard {
    &, &:hover, &:focus {
        background: none;
        border: 0;
        @include box-shadow(none);
    }
    
    i {
        font-size: 16px;
    }
}

.paste-from-clipboard {
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;
    
    &, &:hover, &:focus {
        background: none;
        border: 0;
    }
}