body.template-dashboard {
    #portal-column-content {
        background: none !important;
        border: none !important;
        padding: 0 !important;
    }
    
    #dashboard {
        @include clearfix;
        
        > div:not(.visualClear) {
            position: relative;
            width: 25% !important;
            padding: 0 15px 0 15px !important
            margin: 0 !important;
        
            > div {
                background: #fff;
                border: 1px solid #ddd;
            }
        }
    }
}