div.overlay-ajax {
    max-width: 800px !important;
    width: 95% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    
    .pb-ajax {
        > div {
            width: auto;
            
            .thumbnail-gallery-controls {
                position: absolute;
                top: 65px;
                bottom: 1em;
                left: 1em;
                right: 1em;
                
                .btn {
                    margin: 0 !important;
                    height: 100%;
                    display: none;
                    
                    &.prev {
                        left: 0;
                    }
                    
                    &.next {
                        right: 0;
                    }
                }
            }
            
            .spinner {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                background: rgba(0,0,0,0.5);
                z-index: 999;
                padding-top: 60px;
                
                i.fa {
                    font-size: 100px;
                    color: #fff;
                }
            }
        }
    }
}

h4.modal-title {
    font-size: 18px !important;
}