body {
    //padding-top: 60px; // 60px to make the container go all the way to the bottom of the topbar
    
    a {
        img.img-thumbnail {
            border: 1px solid #ddd;
        }
    }
}

// CONTENT
// -----------------------------------------------------------------------------
@import "theme/content";


// tabs
// -----------------------------------------------------------------------------
#tabs {
    .selected {
        > a {
            color: $body-bg;
            background-color: $gray-darker;
            text-decoration: none;
        }
    }
}

// footer
// -----------------------------------------------------------------------------
#footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $gray-lighter;
    
    ul {
        list-style: none;
    }
}

#portal-siteactions {
    li {
        display: inline;
        margin: 0 5px;
    }
}


.new-message {
    text-align: center;
    
    .btn {
        //width: 300px;
        max-width: 100%;
        margin-right: 0;
    }
}


input[name="form.button.save"] + input[name="form.button.cancel"] {
    &.btn.btn-default {
        margin-left: 10px;
    }
}

input[name="form.button.cancel"] + input[name="form.button.save"] {
    &.btn.btn-default {
        margin-left: 10px;
    }
}




