article img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.reviewer {
  position: relative;
}

.reviewer .remove-reviewer {
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 19px;
  width: 19px;
  display: none;
  border: 2px solid #fff;
  padding: 1px;
}

.reviewer:hover .remove-reviewer {
  display: block;
}

.comment blockquote {
  color: #999;
}

mark {
  color: #333;
  background-color: #FFFBBD;
}

.comment mark,
.view-excerpt-view mark {
  cursor: pointer;
}

.delete-comment-link {
  display: none;
  color: #999;
}

.comment:hover .delete-comment-link {
  display: block;
  color: #999;
}

.reviewer .stamp {
  border-radius: 10px;
  position: absolute;
  top: 23px;
  right: -5px;
  height: 19px;
  width: 19px;
  border: 2px solid #fff;
  padding: 3px;
  display: block;
  font-size: 0.6em;
}