/*body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}*/

#redWine .container{
  /*padding-top: 106px;*/
}

.permabutton{
  color:#FFF;
  background-color:#999;
  margin: 10px 20px 10px 15px;
}
.permabutton:hover{
  background-color:#FF0000;
}

.panel-default > .panel-heading {
  font-size: 26px;
  border-color: #722F37;
}

.wine{
    content: url(../img/wine.png);
    height: 30px;
}
.beer{
    content: url(../img/beer.png); /*todo: make*/
    height: 25px;
}
.cake{
    content: url(../img/cake.png);
    height: 30px;
}

tr:hover{
    background-color: #f5f5f5;
}

th.header{
  cursor: pointer; cursor: hand;
  border: none !important;
}

th.headerSortDown, th.headerSortUp{
  font-family: 'Glyphicons Halflings';
}

th.headerSortDown:after,th.headerSortUp:after{
  font-size: 10px;
  padding-left: 10px;
}  

th.headerSortDown:after{ content: "\e114"; }
th.headerSortUp:after{ content: "\e113"; }

a { color: #333; }

 .panel-heading{
    font-weight: bold;
 }
 .hiddenRow {
    padding: 0 !important;
}

.addNew{
    float: right;
    margin-top: 8px;
    width: 100%;
}

.addNew .form-group{margin-bottom: 6px;}
.addBox #select-control{height: 35px; margin-top: -1px;}
.center{
    text-align: center;
}

.left{
    text-align: left;
}
.moreCell{
    padding: 12px 8px 8px 15px !important;
}
.nameCell {
  padding: 8px 8px 8px 8px;
  max-width: 268px !important;
  vertical-align: middle !important;
}


#accordion {padding-bottom: 9px; margin: 13px 0 0;}

.noMargin{margin: 0;}

blockquote{
    margin:0 -15px 0;
    border-left: none;
}

.elementInfo{
    border-left: 5px solid #eeeeee;
}

.glyphicon{
    line-height: 143%;
  
}


.form-control {
    display: inline-block;
    width: 100% !important;

}
#select-control {
    display: inline-block;
    width: 37px !important;
    padding: 6px 2px;
}

.auto {width: auto !important;}
.form-group { 
  width: 100% !important;
  display: -webkit-flex;
}
.noLeftPadd{
  padding-left: 4px !important;
}

.addBox{
  min-width:188px;
  float: right;
}

.breakword{
   word-wrap: break-word;
}
.table > tbody > tr > td{border-top: none !important;}

.btn{ padding: 5px 12px;}
.btn-danger { background-color: #428bca; border-color: #428bca;}
.btn-danger:hover { background-color: #004b80; border-color: #004b80;}
.btn-success { background-color: #929292; border-color: #929292;}
.btn-success:hover { background-color: #727272; border-color: #727272;}

.clickable{
  cursor: pointer;
  cursor: hand;
}

.newCol{
    /*padding-right: 15px;*/
    float: right;
    width: 100%;
}
cite{color:#777;}
cite:hover{color:#024b8a; }
a:hover{text-decoration: none;}

.frontIcons{
  padding-right: 7px;
  color:#888;
}

hr{
    margin: 0px;
}
.col-sm-2{
  padding-top: 22px;
  display: inline-block;
  vertical-align: middle !important;
}
.col-md-6{
  display: inline-block;
  vertical-align: top;
}
.col-md-5{width:43.2% !important;}
.minCell{
    padding-top: 32px;
}
.rightFloat{
    float:right;
}
.accordion-toggle .col-sm-2{padding-top: 8px;}


tr {

  background: #fff;
  -moz-transition: background 0.5s ease;
-webkit-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
transition: background 0.5s ease;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px;
  float: right;
}
input:focus {
  outline:none;
  border-color:#aaa;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { }

/*.clickable{ background:#f5f5f5}

.collapsed{
  background: #fff;
}
*/
.goNyan{ margin-left: 250% !important;}
.nyan{
  height:90%;
  width: 100%;
  position: absolute;
  top: 70px;
  margin-left: -130%;
  background: url(/static/img/nyan.gif) no-repeat;
  -webkit-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -moz-transition: all 16s cubic-bezier(0.370,0.055,0.000,1.000);
  -o-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -ms-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -webkit-background-size:contain !important;
  -moz-background-size:contain !important;
  -o-background-size:contain !important;
  background-size:contain !important;
  z-index:10;
}

@media all and (max-width: 768px) {
blockquote p {
    font-size: 90%;
  }

.wine{
    height: 20px;
}
.col-sm-2{
   font-size: 90%;
  vertical-align: top;
}

}