#livesearch-container {
    position:absolute; 
    right: 0;
                                                    right:270px; 
    top: 51px;
                                                    top:11px;
}

#livesearch-container .panel-body {
    background-color:white;
}
#livesearch-container .btn.btn-bookmark {
    border-radius: 6px 0 0 6px !important;
    margin: 0 -1px 0 0;
    opacity: 0.5;
    height:36px;
                                                    display: none;
}
#livesearch-container .btn.btn-bookmark:hover,
#livesearch-container .btn.btn-bookmark.open {
    opacity: 0.8;
    color:#c00;
                                                    display: none;
}
#livesearch-container .livesearch-results {
    margin:-1px 0px 0 0 ;
}
#livesearch-container .form-control {
        border-radius: 0 !important;
        box-shadow: none;
        margin:0 0px 0 0px;
        width:245px;
                                                    width:150px;
        height: 37px;
                                                    height:28px;
                                                    background-color:#f3f3f3;
                                                    border-color:#ddd;
        
}
#livesearch-container .form-control input{
        border: 1px solid #CCCCCC;
        border-radius: none !important;
}
