/* #FB newcontentmenu */
#new-content-container {
            display:none;
    position:absolute; 
    right: 0px; 
    z-index:1000;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    -webkit-box-shadow: 0 0 0 0px white, 0 2px 2px #ccc;
       -moz-box-shadow: 0 0 0 0px white, 0 2px 2px #ccc;
            box-shadow: 0 0 0 0px white, 0 2px 2px #ccc;

}
#new-content-container .btn.btn-bookmark {
    border-radius: 6px 0 0 2px !important;
    margin: 0 -1px 0 0;
    opacity: 0.5;
    height:36px;
}
#new-content-container .btn.btn-bookmark:hover,
#new-content-container .btn.btn-bookmark.open {
    opacity: 0.8;
    color:#c00;
}

#new-document-box{

    background: none repeat scroll 0 0 rgba(255, 255, 255, 1.0);
    float: left;
    z-index: 9999 !important;
    width: 304px;
    min-height: 100px;
    -moz-border-radius: 2px;
    border-radius: 0 0 0 2px;
}

#new-document-help {
	color: #666;
	padding: 15px;
}

#new-document-box.home-folder-active {
    background: #f6f8fa;
}

#new-document-box li{
    float: left;
}

#new-document-box .deactivated {
    margin-bottom:0;
}
#new-content-container  .newActionMenuContent i.fa {
    font-size:32px;
}

#new-document-box.selected{
    display: block;
}

#new-document-box dd a {
    width: 100px !important;
    height: 75px !important;
    color: #636669;
    font-size: 12px;
    background-repeat: no-repeat !important;
    background-position: center 15px !important;
    text-align: center;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    padding-left:0px !important;
}

#new-document-box .subMenuTitle{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

#new-document-box #plone-contentmenu-settings,
#new-document-box #settings {
    display: none;
}

#new-document-box dd a:hover{
/*    background-color: #789F09 !important;*/
    color:#336699;
}

#new-document-box.home-folder-active dd a:hover{
    /*background-color: #982760 !important;*/
    color:#336699;
}

#newContentActionMenus{
     background-color:transparent;
}

/* -----
.icons-on .newActionMenuContent a {
    background: url("++resource++ityou.esi.viewlets.images/no-picture-big.png") no-repeat transparent;
}

.icons-on #new-document-box .contenttype-folder {
    background: url("++resource++ityou.esi.viewlets.images/folder-big.png") no-repeat transparent;
}

.icons-on #new-document-box .contenttype-document {
    background: url("++resource++ityou.esi.viewlets.images/document-big.png") no-repeat transparent;
}
.icons-on #new-document-box .contenttype-event {
    background: url("++resource++ityou.esi.viewlets.images/event-big.png") no-repeat transparent;
}

.icons-on #new-document-box .contenttype-link {
    background: url("++resource++ityou.esi.viewlets.images/link-big.png") no-repeat transparent;
}
.icons-on #new-document-box .contenttype-news-item {
    background: url("++resource++ityou.esi.viewlets.images/news-big.png") no-repeat transparent;
}
.icons-on #new-document-box .contenttype-file {
    background: url("++resource++ityou.esi.viewlets.images/file-big.png") no-repeat transparent;
}
.icons-on #new-document-box .contenttype-image {
    background: url("++resource++ityou.esi.viewlets.images/image-big.png") no-repeat transparent;
}
.icons-on #new-document-box .contenttype-topic {
    background: url("++resource++ityou.esi.viewlets.images/topic-big.png") no-repeat transparent;
}
---------------- */
.newActionMenuContent li a,
.icons-on .contenttype-document,
.icons-on .contenttype-event,
.icons-on .contenttype-folder,
.icons-on .contenttype-link,
.icons-on .contenttype-news-item,
.icons-on .contenttype-plone-site,
.icons-on .contenttype-topic,
.icons-on .contenttype-file,
.icons-on .contenttype-image {
    padding-left: 0px !important; 
    display: inline-block;
    line-height: 2em;
/*            background-size: 32px 32px !important;*/
    background-image:none !important;
}
.contenttype-document i.fa,
.contenttype-event i.fa,
.contenttype-folder i.fa,
.contenttype-link i.fa,
.contenttype-news-item i.fa,
.contenttype-plone-site i.fa,
.contenttype-topic i.fa,
.contenttype-file i.fa,
.contenttype-image i.fa {
    padding-right:5px !important;
}

#new-document-box #folder-switcher {
    width: 100%;
    height: 32px;
}

#new-document-box #folder-switcher li {
    width: 50%;
    text-align: center;
    padding:10px 0px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom:1px solid #ddd;
    background-color:#f1f2f3;    
}

#new-document-box #folder-switcher .fs-left {
                    background-color:#FFFFFF;
}

#new-document-box #folder-switcher .fs-right {
                    border-left:1px solid #ddd;
                    background-color:#f6f8fa;
}

#new-document-box #folder-switcher .fs-active {
                    border-bottom:1px solid white;
                    color: #636669;
}
#new-document-box #folder-switcher .fs-right.fs-active {
                    border-bottom:1px solid #f6f8fa;
}

#new-document-box #folder-switcher .fs-mouseover {
    color: #369;
}

#new-document-box #no-permission {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
}

/* #/FB newcontentmenu */
