[buildout]
develop = .

parts = test
	    product
        pydev

newest = false
unzip = true

[product]
recipe = zc.recipe.egg
eggs = sterch.conveyor
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = sterch.conveyor [test]

[pydev]
recipe = pb.recipes.pydev
eggs = ${product:eggs}