.site-view .site-icon {
    float:right;
}

.site-icon, .site-pictures img {
    border: 2px solid #666;
    box-shadow: 0px 0px 5px #888;
    border-radius: 5px;
}

.site-tags, .site-pictures {
    padding:0;
    margin-left:0;
}

.site-tags li, .site-pictures li {
    display:inline;
}

.site-gallery-view > .row-fluid {
    margin-bottom:40px;
}

.description {
    margin-bottom:20px;
}