# output file options
[output_config]
bbox_inches = option(None, 'tight', default='tight')
file_num = integer(default=None)
fname = string(default=None)
fname_prefix = string(default=None)
fname_suffix = string(default=None)
outpath = string(default=None)
overwrite = boolean(default=False)
pad_inches = float(default=0.1)
plotformat = option('png', 'jpg', 'pdf', 'ps', 'svg', default='pdf')
save_transparent = boolean(default=False)
textlog = string(default=None)

# figure setup
[fig_config]
profile = option('ipynb-inline', 'kgraph', 'paper', 'print', default='kgraph')
aspectratio = float(default=None)

enable_dropshadow = boolean(default=False)
usetex = boolean(default=False)
fontfamily = option('sans-serif', 'serif', default='sans-serif')

disable_legend = boolean(default=False)
multi_legend = boolean(default=False)

legend_loc = option('best', 'upper right', 1, 'upper left', 2, 'lower left', 3, 'lower right', 4, 'right', 5, 'center left', 6, 'center right', 7, 'lower center', 8, 'upper center', 9, 'center', 10, default='best')
legend_fontsize = pass(default=12)
legend_numpoints = integer(default=1)
legend_scatterpoints = integer(default=1)
#legend_scatteryoffsets = float_list(default=None)
legend_markerscale = float(min=0, default=1.0)
legend_frameon = boolean(default=False)
legend_fancybox = boolean(default=True)
legend_shadow = boolean(default=False)
legend_framealpha = float(min=0, max=1, default=None)
legend_ncol = integer(default=1)
legend_mode = option('expand', default=None)
legend_bbox_to_anchor = tuple(default=None)
#legend_bbox_transform = string(default=None)
legend_title = string(default=None)
legend_borderpad = float(default=0.5)
legend_labelspacing = float(default=0.25)
legend_handlelength = float(default=1.0)
legend_handletextpad = float(default=0.25)
legend_borderaxespad = float(default=0.5)
legend_columnspacing = float(default=None)

nrows = integer(default=1)
ncols = integer(default=1)
sharex = option('row', 'col', 'all', 'none', default='none')
sharey = option('row', 'col', 'all', 'none', default='none')
#sharex = boolean(default=False)
#sharey = boolean(default=False)
squeeze = boolean(default=True)

add_fig_ref = boolean(default=False)

add_image_overlay = boolean(default=False)
add_zoomed_inset = boolean(default=False)

inset_cfgfile = string(default=None)
overlay_cfgfile = string(default=None)

# plot options
[plot_config]
alpha = float(min=0, max=1, default=0.8)
dalpha = float(min=0, max=0.1, default=0)
disable_markers = boolean(default=False)
disable_plotting = boolean(default=False)
fillstyle = option('full', 'left', 'right', 'bottom', 'top', 'none', default='full')
global_scale_factor = float(default=0.5)
linestyle = string(default='solid')
linewidth = float(default=1.5)
marker = string(default='o')
markercolor = string(default='k')
markeredgecolor = string(default=None)
markerfacecolor = string(default=None)
markersize = float(default=3)
markeredgewidth = float(default=0.5)
markevery = integer(default=1)

[[xaxis]]
label = string(default=None)
var = string(default='x')
units = string(default=None)

auto_minor_locator = integer(default=None)
major_format_str_formatter = string(default=None)

log_scale = boolean(default=False)

min = float(default=None)
max = float(default=None)

left_limit = float(default=None)
left_limit_scale_factor = float(default=0.9)
scale_left_limit = boolean(default=False)
round_left_limit_down_to_nearest = float(default=None)
round_left_limit_up_to_nearest = float(default=None)
round_left_limit_to_nearest = float(default=None)

right_limit = float(default=None)
right_limit_scale_factor = float(default=1.1)
scale_right_limit = boolean(default=False)
round_right_limit_down_to_nearest = float(default=None)
round_right_limit_up_to_nearest = float(default=None)
round_right_limit_to_nearest = float(default=None)

[[yaxis]]
label = string(default=None)
var = string(default='y')
units = string(default=None)

min = float(default=None)
max = float(default=None)

auto_minor_locator = integer(default=None)
major_format_str_formatter = string(default=None)

log_scale = boolean(default=False)

bottom_limit = float(default=None)
bottom_limit_scale_factor = float(default=0.9)
scale_bottom_limit = boolean(default=False)
round_bottom_limit_down_to_nearest = float(default=None)
round_bottom_limit_up_to_nearest = float(default=None)
round_bottom_limit_to_nearest = float(default=None)

top_limit = float(default=None)
top_limit_scale_factor = float(default=1.1)
scale_top_limit = boolean(default=False)
round_top_limit_down_to_nearest = float(default=None)
round_top_limit_up_to_nearest = float(default=None)
round_top_limit_to_nearest = float(default=None)

# input file properties
[input_config]
ext = string(default=None)
#plotformat = option('png', 'jpg', 'pdf', 'ps', 'svg', default='pdf')

[[headers]]
xvar = string(default=None)
yvar = string(default=None)
xvars = string_list(default=None)
yvars = string_list(default=None)
___many___ = string(default=None)

# datasets plot settings
[datasets]
dataformat = string(default=None)
fname = string(default=None)
fnames = string_list(default=None)
nsets = integer(default=None)
path = string(default=None)
plot_number = integer(default=None)

row = integer(default=None)
col = integer(default=None)

#xvars = string_list(default=None)
#yvars = string_list(default=None)

xscale_factor = float(default=1)
yscale_factor = float(default=1)

alpha = float(min=0, max=1, default=1)
fillstyle = option('full', 'left', 'right', 'bottom', 'top', 'none', default='full')
linestyle = string(default=None)
linewidth = float(default=None)
marker = string(default=None)
markercolor = string(default=None)
markeredgecolor = string(default=None)
markerfacecolor = string(default=None)
markersize = float(default=None)
markeredgewidth = float(default=None)
markevery = integer(default=None)

___many___ = float(default=None)

[[__many__]]
dataformat = string(default=None)
fname = string(default=None)
fnames = string_list(default=None)
nsubsets = integer(default=None)
path = string(default=None)
plot_number = integer(default=None)

row = integer(default=None)
col = integer(default=None)

#xvars = string_list(default=None)
#yvars = string_list(default=None)

axhline = boolean(default=False)
axhline_y = float(default=None)
axvline = boolean(default=False)
axvline_x = float(default=None)

alpha = float(min=0, max=1, default=None)
fillstyle = option('full', 'left', 'right', 'bottom', 'top', 'none', default=None)
label = string(default=None)
linestyle = string(default=None)
linewidth = float(default=None)
marker = string(default=None)
markercolor = string(default=None)
markeredgecolor = string(default=None)
markerfacecolor = string(default=None)
markersize = float(default=None)
markeredgewidth = float(default=None)
markevery = integer(default=None)

disable_legend = boolean(default=False)
legend_loc = option('best', 'upper right', 1, 'upper left', 2, 'lower left', 3, 'lower right', 4, 'right', 5, 'center left', 6, 'center right', 7, 'lower center', 8, 'upper center', 9, 'center', 10, default='best')
legend_fontsize = pass(default=None)
legend_numpoints = integer(default=1)
legend_scatterpoints = integer(default=1)
#legend_scatteryoffsets = float_list(default=None)
legend_markerscale = float(min=0, default=None)
legend_frameon = boolean(default=False)
legend_fancybox = boolean(default=True)
legend_shadow = boolean(default=None)
legend_framealpha = float(min=0, max=1, default=None)
legend_ncol = integer(default=1)
legend_mode = option('expand', default=None)
legend_bbox_to_anchor = tuple(default=None)
#legend_bbox_transform = string(default=None)
legend_title = string(default=None)
legend_borderpad = float(default=None)
legend_labelspacing = float(default=None)
legend_handlelength = float(default=None)
legend_handletextpad = float(default=None)
legend_borderaxespad = float(default=None)
legend_columnspacing = float(default=None)

[[[__many__]]]
dataformat = string(default=None)
fname = string(default=None)
fnames = string_list(default=None)
path = string(default=None)
plot_number = integer(default=None)

row = integer(default=None)
col = integer(default=None)

#xvars = string_list(default=None)
#yvars = string_list(default=None)

axhline = boolean(default=False)
axhline_y = float(default=None)
axvline = boolean(default=False)
axvline_x = float(default=None)

alpha = float(min=0, max=1, default=None)
fillstyle = option('full', 'left', 'right', 'bottom', 'top', 'none', default=None)
label = string(default=None)
linestyle = string(default=None)
linewidth = float(default=None)
marker = string(default=None)
markercolor = string(default=None)
markeredgecolor = string(default=None)
markerfacecolor = string(default=None)
markersize = float(default=None)
markeredgewidth = float(default=None)
markevery = integer(default=None)

[inset_config]
zoom_factor = float(default=2)
location = integer(min=1, max=10, default=6)
alpha = float(min=0, max=1, default=0.8)
dalpha = float(min=0, max=0.1, default=0)
disable_markers = boolean(default=False)
disable_plotting = boolean(default=False)
fillstyle = option('full', 'left', 'right', 'bottom', 'top', 'none', default='full')
global_scale_factor = float(default=0.5)
linestyle = string(default='solid')
linewidth = float(default=1.5)
marker = string(default='o')
markercolor = string(default=None)
markeredgecolor = string(default=None)
markerfacecolor = string(default=None)
markersize = float(default=3)
markeredgewidth = float(default=0.5)
markevery = integer(default=1)

[[xaxis]]
label = string(default=None)
var = string(default=None)
units = string(default=None)

left_limit = float(default=None)
left_limit_scale_factor = float(default=0.9)
scale_left_limit = boolean(default=False)
round_left_limit_down_to_nearest = float(default=None)
round_left_limit_up_to_nearest = float(default=None)
round_left_limit_to_nearest = float(default=None)

right_limit = float(default=None)
right_limit_scale_factor = float(default=1.1)
scale_right_limit = boolean(default=False)
round_right_limit_down_to_nearest = float(default=None)
round_right_limit_up_to_nearest = float(default=None)
round_right_limit_to_nearest = float(default=None)

[[yaxis]]
label = string(default=None)
var = string(default=None)
units = string(default=None)

bottom_limit = float(default=None)
bottom_limit_scale_factor = float(default=0.9)
scale_bottom_limit = boolean(default=False)
round_bottom_limit_down_to_nearest = float(default=None)
round_bottom_limit_up_to_nearest = float(default=None)
round_bottom_limit_to_nearest = float(default=None)

top_limit = float(default=None)
top_limit_scale_factor = float(default=1.1)
scale_top_limit = boolean(default=False)
round_top_limit_down_to_nearest = float(default=None)
round_top_limit_up_to_nearest = float(default=None)
round_top_limit_to_nearest = float(default=None)
