[buildout]
unzip = true
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
show-versions = true
develop = ..

parts =
#    scripts

socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
interpreter = zopepy
eggs = rg.infocard
