.float-left {
  float: left;
}
.clear-left {
  clear: left;
}
.zoomin {
  background-image:url("../img/icon_zoomin.png") !important;
  height:20px !important;
  width:20px !important;
}
.zoomout {
  background-image:url("../img/icon_zoomout.png") !important;
  height:20px !important;
  width:20px !important;
}
.zoomfull {
  background-image:url("../img/icon_zoomfull.png") !important;
  height:20px !important;
  width:20px !important;
}
.pan {
  background-image:url("../img/icon_pan.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawpoint {
  background-image:url("../img/draw_point_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawline {
  background-image:url("../img/draw_line_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon {
  background-image:url("../img/draw_polygon_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.next {
    background-image:url("../img/resultset_next.png") !important;
    height:20px !important;
    width:20px !important;
}
.back {
    background-image:url("../img/resultset_previous.png") !important;
    height:20px !important;
    width:20px !important;
}
.queryonclick {
    background-image:url("../img/icon_query.png") !important;
    height:20px !important;
    width:20px !important;
}
.getmouseposition {
    background-image:url("../img/mouse_xy.png") !important;
    height:20px !important;
    width:20px !important;
}
.editfeature_create {
    background-image:url("../img/add_off.png") !important;
    height:20px !important;
    width:20px !important;
}
.editfeature_delete {
    background-image:url("../img/delete_off.png") !important;
    height:20px !important;
    width:20px !important;
}
.editfeature_update {
    background-image:url("../img/edit_off.png") !important;
    height:20px !important;
    width:20px !important;
}
.gp-unselectall {
    background-image:url("../img/draw_polygon_clear_off.png") !important;
    height:20px !important;
    width:20px !important;
}
.querybyrect {
    background-image:url("../img/icon_roi_rectangle.png") !important;
    height:20px !important;
    width:20px !important;
}
.queryonclickwizard {
    background-image:url("../img/icon_active.gif") !important;
    height:20px !important;
    width:20px !important;
}