/* normalize input,textarea*/
#userprofile-wrapper,
#user-activity-wrapper {
    padding: 0;
	border: none;
}
#user-activity-wrapper {
    margin:30px 0;
}

#userprofile-wrapper .right-column {}
#userprofile-wrapper .left-column {}


#userprofile-wrapper .col {
    margin:0 0 0 0px;
}

@media (min-width: 992px) {
    #userprofile-wrapper .left-column {
        float: left;
    }
    #userprofile-wrapper .col {
        margin:0 0 0 0px;
    }

}


#userprofile-wrapper .property {
    border-bottom:1px solid #efefef;
    padding-right:10px;
}

#userprofile-wrapper h3 {
    font-size:140%;
    color:#454545;
    background:#efefef;
    padding: 5px 15px;
    clear:both;
}

#userprofile-wrapper .portrait_block {
	   width:100% !important;
                /*height: 200px;*/
	   padding: 0px 0 0px 0;
	   float: left;
                        background-color:#efefef;
    margin:15px 0 15px 0;
}

#userprofile-wrapper .portrait_block .portrait {
	display:block;
    float:left;
    width:150px;
    margin-right:15px;
}

#userprofile-wrapper .personal-info {
    float:left;
                border:1px solid red;
}

#userprofile-wrapper .portrait_block .personal-info label {
    width:30%;
                border:1px solid green;
}

#userprofile-wrapper .portrait_block .personal-info .pfield {
    width:68%;
                border:1px solid yellow;
}


#userprofile-wrapper .portrait_block #portrait.pfield.True img {
	cursor: pointer;
}





#userprofile-wrapper input, #userprofile-wrapper textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

#userprofile-wrapper input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#userprofile-wrapper textarea {
    overflow: auto;
    vertical-align: top;
}

#userprofile-wrapper input:focus, #userprofile-wrapper textarea:focus {
    outline: 0;
}

#userprofile-wrapper .pfield, #userprofile-wrapper .pfield:focus {
    outline: 0;
}



#userprofile-wrapper .left-column .icon label{
	padding-left: 20px;
}

#userprofile-wrapper .left-column .icon label.ityou-fa:before {
    font-family: FontAwesome;
    color: #333;
    display: inline-block;
    margin-left: -20px;
    padding-right: 5px;
    font-style: normal;
}

#userprofile-wrapper .left-column .icon label.ityou-fa.phone:before {
    content: '\f095';
}

#userprofile-wrapper .right-column .visualClear,
#userprofile-wrapper .left-column .visualClear {
    clear:both;	
	width:100%;
	height:1px;
	background-color:transparent;
} 

#userprofile-wrapper label {
	float:left;
    font-weight:normal;
    color:#666;
    font-style:italic;
    padding:0.2em 0 0.2em 0;
	  line-height: 1.3em;   
                                    width:40%;

}
#userprofile-wrapper .right-column label {
/*	width:100%;*/
                                                        	/*min-width:80px;*/
}
#userprofile-wrapper .right-column div {
                                    /*    float:left;  */
	padding:0.2em 5px 0.2em 5px;
	width:55%;
	min-height:1.3em;
	line-height:1.3em;
	position: relative;
}

#userprofile-wrapper .left-column .property div {
    float:left;
	padding:0.2em 5px 0.2em 5px;
	width:55%;
	min-height:1.3em;
	line-height:1.3em;
	position: relative;
}

@media (min-width: 768px) {
    #userprofile-wrapper .right-column label {
        width: 40%;
    }
    #userprofile-wrapper .right-column div {
        width: 60%;
        float:right;
    }
    #userprofile-wrapper .left-column label {
        width: 40%;
    }
    #userprofile-wrapper .left-column div {
        width: 60%;
    }
}


#userprofile-wrapper .right-column .property {
	width: 100% !important;
	float: left;
}

#userprofile-wrapper .property #description {
    font-weight:normal !important;
}

#userprofile-wrapper .right-column div.Text {
    white-space: pre-wrap;
    margin: 0 !important;
}

#userprofile-wrapper .left-column .property {
	width: 100%;
	display:block;
	float:left;
	min-height:1.3em;
    padding:0.2em 5px 0.2em 5px;
    position: relative;
}

#user-fullname {
    font-size:130%;
    padding:15px 0;
    line-height:1.5em;
        width: 100% !important;
}

#user-actions {
	float: left;
	padding: 0.5em;
}

#personal-edit a {
	background: transparent url('++resource++ityou.extuserprofile.images/edit-icon.png') center left no-repeat;
	padding-left: 20px;
    width:4em;
    text-decoration:none;
    border-bottom:none !important;
}
#contentview-edit a:hover {
	background: transparent url('++resource++ityou.extuserprofile.images/edit-icon-active.png') center left no-repeat;
}

#userprofile-wrapper .left-column #contentview-edit,
#userprofile-wrapper .left-column #send-message {
	display: block;
    padding: 0;
	font-weight: bold;
}

/*
#userprofile-wrapper .left-column #send-message {
    background: transparent url('++resource++ityou.extuserprofile.images/email.png')  left 4pt no-repeat;
    }

#userprofile-wrapper .left-column #contentview-edit #message_text,
#userprofile-wrapper .left-column #send-message #message_text {
	width:80px;
	color: #454545 !important;
	font-size: 11px;
}

#userprofile-wrapper .left-column #contentview-edit #message_text:hover,
#userprofile-wrapper .left-column #send-message #message_text:hover {
	color: #75AD0A !important;
	cursor: pointer;
}
*/

label.skype {
	background: transparent url('++resource++ityou.extuserprofile.images/skype.png') center left no-repeat;
	padding-left: 20px;
}

label.twitter {
	background: transparent url('++resource++ityou.extuserprofile.images/twitter.png') center left no-repeat;
	padding-left: 20px;
}

label.fb {
	background: transparent url('++resource++ityou.extuserprofile.images/facebook.png') center left no-repeat;
	padding-left: 20px;
}

label.icq {
	background: transparent url('++resource++ityou.extuserprofile.images/icq.png') center left no-repeat;
	padding-left: 20px;
}

label.xing {
	background: transparent url('++resource++ityou.extuserprofile.images/xing.png') center left no-repeat;
	
}

label.linkedin {
	background: transparent url('++resource++ityou.extuserprofile.images/linkedin.png') center left no-repeat;
}
label.email {
	background: transparent url('++resource++ityou.extuserprofile.images/email.png') center left no-repeat;
}



#userprofile-wrapper h2 {
    clear: both;
}


/* --- felder bearbeiten ---- */
/*.pfield:hover{
	background: #ffc url('++resource++ityou.extuserprofile.images/edit-icon-active.png') center right no-repeat;
}*/


.property i {
    /*position: absolute;
    font-size: 1.2em;
    right: 10px;
    top: 5px;*/
}

.property .CheckBox i {
    position: relative;
}

.property .CheckBox .save-user-property {
	position: absolute;
}


.property.state-hover {
    background-color: #ffffcc;
}

.property.state-hover:before {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    content: '\f044';
    font-family: FontAwesome;
    font-size: 1.2em;
}

.property.state-success.state-hover:before {
    content: '\f00c';
}

.property.state-failure.state-hover:before {
    content: '\f12a';
}

.property.state-active label {
    padding-top: 5px !important;
}

.property.state-active input {
    padding: 1px;
}

.property.state-active i {
    cursor: pointer;
}




.pfield textarea,
.pfield.Text {
    min-height:3em;
}

.property textarea {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif !important;
	font-size: 12px !important;
}

/* Image selection to crop */
.template-author #content .window { 
	display:none;
}

.template-author .thumb {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	width: 128px;
	height: 128px;
	text-align: center;
	position: relative;
	vertical-align: middle;
}

/* MR 09.05.14 */
/*.template-author .thumb img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}*/

.template-author #upload-image {
	display: inline;
}
/* /Image selection to crop */

.formTabs,
#fieldset-categorization,
#fieldset-dates,
#fieldset-ownership,
#fieldset-settings {
	display: none;
}

#ESI_ROOT {
	display: none
}
