body {
	padding: 0;
	border: 0;
	margin: 0;
	color: white;
	background: black;
}

body, input {
	font-family: Arial, sans-serif;
}

img {
	border: 0;
	vertical-align: middle;
}

h1 {
	color: white;
	border-bottom: 1px #789193 solid;
	margin: 0;
	font-size: 80px;
	padding-left: 9px;
	text-align: center;
	font-weight: bold;
	height: 90px;
}

#browse-menu {
	border: 1px white solid;
	margin: 25px 0 0 2px;
	float: left;
	width: 300px;
	position: fixed;
	top: 92px;
	bottom: 10px;
}

#browse-menu, #selectType li {
	background: #282828;
}

#selectType {
	padding: 0 2px 0 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	top: -21px;
	left: -1px;
}

#selectType li {
	border: 1px white solid;
	display: inline;
	padding: 1px 4px 2px 4px;
}

#selectType li.active {
	border-bottom: none;
	padding-bottom: 3px;
}

#selectType li.inactive:hover {
	background: #999999;
}

#artistList, #genreList {
	margin-top: 0;
	overflow: auto;
	position: absolute;
	top: 20px;
	bottom: 0px;
	right: 0px;
	left: 10px;
}

#artistList ul, #genreList {
	margin-top: 0;
	list-style-type: decimal;
	list-style-image: url(../../img/classic/li.png);
	padding: 0 1em 0 1em;
}

#letterSelector {
	font-size: x-small;
	position: fixed;
	top: 121px;
	width: 280px;
}

#letterSelector a {
	font-weight: normal;
	text-decoration: underline;
}

#status {
	position: absolute;
	overflow: auto;
	top: 92px;
	right: 1px;
	bottom: 0px;
	width: 200px;
}

#nowPlaying, #playlist {
	border: 1px white solid;
	border-right: 1px #777777 solid;
	border-bottom: 1px #777777 solid;
	padding-bottom: 1em;
	margin: 25px 0 2px 0;
	color: white;
}

#nowPlaying ol {
	padding-left: 10px;
	margin: 0;
}

#nowPlaying #artist, #nowPlaying #track, #nowPlaying #time, #nowPlaying #control {
	margin-left: 1em;
	padding-bottom: 2px;
}

#nowPlaying #artist {
	list-style-image: url(../../img/classic/artist.png);
}

#nowPlaying #track {
	list-style-image: url(../../img/classic/music.png);
}

#nowPlaying #time {
	list-style-image: url(../../img/classic/time.png);
}

#nowPlaying #control {
	list-style-type: none;
}

#nowPlaying, #nowPlaying h2 {
	background: #ffae00;
	color: black;
}

#playlist, #playlist h2 {
	background: #282828;
}

#nowPlaying h2, #playlist h2 {
	border: 1px white solid;
	border-right: 1px #777777 solid;
	color: white;
	border-bottom: 0;
	position: relative;
	top: -21px;
	left: -1px;
	font-size: medium;
	padding: 1px 4px 2px 4px;
	margin: 0;
	display: inline;
}

#playlist ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

#playlist ol {
	margin-top: 0;
	padding-left: 2em;
}

#playlist li {
	padding: 0 1em 0 0;
}

h1 a:hover {
	color: #ffffff;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

a:hover {
	color: #cccccc;
}

a:focus {
	outline: none;
}

#message {
	position: absolute;
	top: 38px;
	left: 2px;
	padding: 2px 2em 2px 2em;
	font-size: large;
	background-color: #ffcf28;
	color: black;
}

#message .corner {
	position: absolute;
	background-color: black;
	height: 4px;
	width: 4px;
}

#message .tl {
	top: 0;
	left: 0;
	background-image: url(../../img/classic//msg-tl.png);
}

#message .tr {
	top: 0;
	right: 0;
	background-image: url(../../img/classic/msg-tr.png);
}

#message .bl {
	bottom: 0;
	left: 0;
	background-image: url(../../img/classic/msg-bl.png);
}

#message .br {
	bottom: 0;
	right: 0;
	background-image: url(../../img/classic/msg-br.png);
}

.freeSlot {
	font-style: italic;
	color: #bbbbbb;
	font-size: small;
}

#searchResult {
	position: fixed;
	top: 99px;
	left: 330px;
	right: 230px;
	bottom: 10px;
	color: white;
	overflow: auto;
}

#searchResultList {
	list-style-type: none;
	padding-left: 0
}

li.searchResultItem {
	overflow: auto;
	width: 99%;
	background: #222222;
	margin: 2px;
}

ul.trackList {
	padding-bottom: 10px;
}

#searchResult h3 {
	padding-left: 16px;
}

#searchResult li.track {
	list-style-image: url(../../img/classic/music.png);
}

#searchResult li.track a {
	font-weight: normal;
}

#searchResult li.album {
	list-style-image: url(../../img/classic/folder.png);
}

#searchResult img.coverArt {
	float: right;
	clear: both;
	margin: 10px;
}

#searchResult h2 {
	padding-top: 0;
	margin: 0;
	border-bottom: 1px white solid;
}

#progress {
	position: absolute;
	right: 30px;
	top: 40px;
	padding: 5px;
	color: black;
}

#progress #icon {
	height: 16px;
	width: 16px;
	background-image: url(../../img/classic/progress.gif);
	margin: 2px;
}

#progress #text {
	display: inline;
}

li.seperator {
	border-top: 1px #999999 solid;
}

#meta {
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: x-small;
}
