/* ------------------------------------------------------------------------------
    I N T K - T H E M E
--------------------------------------------------------------------------------- */

body {
  background-color: #f8f8f8 !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#portal-column-content {
  margin-left: -100% !important;
  width: 100% !important;
}

#portal-footer-wrapper .cell {
  margin-left: -100% !important;
  width: 100% !important;
}

#portal-logo {
    width: 75px;
    height: 75px;
}

#portal-logo img {
    width: 75px;
    height: 75px;
}

#FooterPortlet .managePortletsLink {
    display: none;
}

.folder_contents_portlet_manager .managePortletsLink {
    display: none;
}

#content-core {
    margin-top: 20px;
    background-color: #f8f8f8;
}

.thumb-image img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.thumbnail {
    background-color: #f8f8f8 !important;
    border: none !important;
    margin-bottom: 28px !important;
}

.caption {
    padding: 0px !important;
    padding-left: 30px !important;
    
}

.thumbnail h3 {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    text-transform: uppercase;
    font-family: "Helvetica" !important;
    font-style: bold;
    font-color: #242424;
}

.thumbnail a {
    text-decoration: none;
    color: black !important;
    font-size: 16px;
}

.thumbnail a:hover {
    text-decoration: none;
    color: black !important;
}

.thumbnail p {
    font-size: 14px;
    color: #666666;
    font-family: 'Merriweather' !important;
    font-style: italic;
    font-weight: 300;
    line-height: 1.7
}

/* Override media queries */

@media (min-width: 568px) {
  .container-fluid {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

/* FOOTER */
#customfooter {
    background-color: #eeeeee;
}

#FooterPortlet {
    padding-top: 45px;
    display: inline-block;
    width: 100%;
}

#FooterPortlet .portletWrapper {
    
}

#FooterPortlet .portletItem p {
   font-family: 'Merriweather', serif;
   font-size: 14px;
}

#FooterPortlet .portletHeader {
   background: none;
   text-transform: uppercase;
   font-family: 'Helvetica';
   font-style: bold;
   font-size: 16px;
   padding:0px;
   padding-right: 10px;
}

@media (min-width: 568px) {
    #FooterPortlet .portletHeader {
       text-align: center;
    }
    #FooterPortlet .portletItem {
        text-align: center;
    }
}

