#todo-list-in {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 50px;
}

#todo-table th.portrait {width: 16px;}
#todo-table .sender{}
#todo-table .url {}
#todo-table .description {}
#todo-table .update  {}
#todo-table .deadline  {}
#todo-table .state {width: 100px;}
#todo-table .uid {display: none;}
#todo-table .priority {
    width:0px; 
    padding:6px;    
    background-position: -5px center !important;
}

#todo-table .priority .prio {display: none;}


#todo-table .prio1 {background-color: #ff0000 !important;}
#todo-table .prio2 {background-color: #ff9900 !important;}
#todo-table .prio3 {background-color: #ffcc00 !important;}
#todo-table .prio4 {background-color: #ffff00 !important; }
#todo-table .prio5 {background-color: #ffff99 !important;}

#todo-table .prio1 td.sorting_1 {background-color: #ff0000;}
#todo-table .prio2 td.sorting_1 {background-color: #ff9900;}
#todo-table .prio3 td.sorting_1 {background-color: #ffcc00;}
#todo-table .prio4 td.sorting_1 {background-color: #ffff00;}
#todo-table .prio5 td.sorting_1 {background-color: #ffff99;}