.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
	padding:0 0 1em 0;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	padding:0 0 1em 0;	
}

.dataTables_info {
	padding: 1em 0;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
    padding: 1em 0;

}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('++resource++ityou.workflow.images/back_disabled.png');
}

.paginate_enabled_previous {
	background-image: url('++resource++ityou.workflow.images/back_enabled.png');
}

.paginate_disabled_next {
	background-image: url('++resource++ityou.workflow.images/forward_disabled.png');
}

.paginate_enabled_next {
	background-image: url('++resource++ityou.workflow.images/forward_enabled.png');
}

table#todo-table  {
	margin: 0 auto;
	clear: both;
	width: 100%;
	    font-size:11px;
}

table#todo-table  thead tr th {
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}
table#todo-table tr {
    clear:all;
}

table#todo-table  tfoot th {
	padding: 3px 18px 3px 10px;
	font-weight: bold;
}

table#todo-table  tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table#todo-table  td {
	padding: 4px;
}

table#todo-table  td.center {
	text-align: center;
}

table#todo-table  td:nth-child(1) {
	padding:8px 0px 48px 4px;
}

#todo-table .sorting_asc {
	background: #CDCDC1	url('++resource++ityou.workflow.images/sort_asc.png') no-repeat center left;
}

#todo-table .sorting_desc {
	background: #CDCDC1	url('++resource++ityou.workflow.images/sort_desc.png') no-repeat center left;
}

#todo-table .sorting {
	background: #DCDCDC url('++resource++ityou.workflow.images/sort_both.png') no-repeat center left;
}

#todo-table .sorting_disabled {
	background-color: #DfDfDf;	
}

table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


#todo-table tr {
    padding: 0;
}
#todo-table tr.even {
    background-color:#F5F5F5;
}
#todo-table tr.odd {
    background-color:#F5F5F5;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

#todo-table .top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
}

#todo-table .top .fax {
	float: none;
}

#todo-table .clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

#todo-table td.group {
	background-color: #d1cfd0;
}

#todo-table td.details {
	background-color: #d1cfd0;
}


.example_alt_pagination div.fax {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

tr.odd td.sorting_1 {
	background-color: #EEEEE0;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EEEEE0;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}

tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}

.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}


#todo-table {
    width: 100%;    
}

#todo-table tr.odd{
    background-color:#eaeaea;  
}

#todo-table tr.even td.sorting_1{
    background-color:#EEEEE9;  
}


#todo-table td {
    vertical-align:top;
    padding:8px
    margin:0;
}
#todo-table th {
    background-color: #DCDCDC;
    padding:8px 8px 8px 20px;

}


#todo-table img.img-clip {
    clip: rect(10px, 50px, 50px, 10px);
    height: 70px;
    margin: -10px 0 0 -10px;
    position:absolute;
    width: 50px;    
}

#todo-table th.sender {width: 16%;}
#todo-table th.url {width: 16%;}
#todo-table th.description {width: 22%}
#todo-table th.update {width: 14%}
#todo-table th.deadline {width: 12%}
#todo-table th.state {width: 22%}
#todo-table th.uid {}

#todo-table select {
    font-size:10px;
    padding:1px;
    margin:0;
    background:#fff;
    max-width:100px;
    line-height:1em;
}

#todo-table select option {
    font-size:10px;
    padding:1px;
    margin:0;
    background-color:#fff;
}

#group {padding-right: 10px;}