#edit-bar, .formTabs{
	display: none;
}
.userrole-manager #edit-bar,
.userrole-manager .formTabs{
	display: block;
}
.portaltype-observation .documentFirstHeading,
.portaltype-question .documentFirstHeading{
	display:none;
}
.esdDiv {
	overflow: hidden;
	margin-top: 4px;
	background-color: #F5F5F5;
	padding: 8px;
}
.esdLabel{
	font-style: italic;
	font-weight: normal;
	color: #918C86;
}
.esdDiv .value{
	color: #00446a;
	font-size: 1.5em;
}
#qa .questionTitle{
	color: #00446a;
	font-size: 1.5em;	
}
.eea-tabs {
	margin-top: 10px !important;
}
#visual-portal-wrapper ul.eea-tabs a{
	height: 100% !important;
	max-width: 100% !important;
}

.template-esdrt-content-observation .datagridwidget-cell .int-field {
	width: 8em;
}
.estTable {
	max-width: 100%;
	width: 100%;
	overflow: auto;
	/**border-width: 0px 0px 0px 1px;
	border-style: dotted;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
	border: 1px solid #b6b6b6;
	color: #666666;
	line-height: normal;
}
.estTable th{
	cursor: auto !important;
	text-align: center;
	background-color: #DADADA;
	color: #000;
	padding: 4px;
	width: 9%;
	font-weight: normal !important;
}
.estTable th:first-child{
	width: 37%;
	text-align: left;
}
.estTable td{
	padding: 10px 6px;
}
.estTable td:first-child {
	font-style: italic;
}
.estTable tbody tr:nth-child(odd) {
	background: #eee;
}
.estTable tbody tr:nth-child(even) {
	background: #fff;
}
.standardButton{
	color:#fff !important;
	background:#346F83;
	background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
	background: -webkit-linear-gradient(#478EA5, #346F83); /* */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83'); /* */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')"; /* */
	background-image: -moz-linear-gradient(270deg, #478EA5, #346F83);
	background-image: -ms-linear-gradient(top,#478EA5,#346F83);
	background-image: -o-linear-gradient(top,#478EA5,#346F83);
	background-image: linear-gradient(top,#478EA5,#346F83);
	font: bold 12px Verdana, Arial, sans-serif;
	padding: 7px 11px;
	position: relative;
	display: inline-block;
	text-shadow: 0 1px 1px #000;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-ms-transition: border-color .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
	-webkit-transition: box-shadow .218s;
	-moz-transition: box-shadow .218s;
	-ms-transition: box-shadow .218s;
	-o-transition: box-shadow .218s;
	transition: box-shadow .218s;
	border: 1px solid #346F83;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.standardButton:hover,
#content a.standardButton:hover{
	background-color:#f6a800;
	background-image: -webkit-gradient(linear,0% 40%,0% 70%,from(orange),to(#FF9123));
	background: -webkit-linear-gradient(orange, #FF9123); /* */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123'); /* */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='#FF9123')"; /* */
	background-image: -moz-linear-gradient(270deg, orange, #FF9123);
	background-image: -ms-linear-gradient(top,orange,#FF9123);
	background-image: -o-linear-gradient(top,orange,#FF9123);
	background-image: linear-gradient(top,orange,#FF9123);
	color: #FFFFFF !important;
	cursor:pointer;
	border-color: #999999;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
	text-shadow: none;
}
.standardButton a, .standardButton a:hover, .standardButton a:visited {
	color: #FFFFFF !important;
}
.backButton .eea-icon:before{
  content: "\f053";
}
.actions{
	text-align: right;
	margin-top: 10px;
}
#qa{
	margin-top: 10px;
}
.question {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	position: relative;
	margin-top: 5px;
	font-size: 13px !important;
}
.question.comment{
	margin-left:30px;
}
.question.commentanswer{
	margin-right:30px	
}
.question div{
	padding: 5px;
}
.question .from{
	border-bottom: 1px solid lightgray;
}
.question .messageDate{
	float: right;
}
.arrow-left-border{
	border-color: transparent lightgray transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-left{
	border-color: transparent white transparent transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	left: -20px;
	position: absolute;
	padding: 0px !important;
}
.arrow-right-border{
	border-color: transparent transparent transparent lightgray;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -21px;
	position: absolute;
	padding: 0px !important;
}
.arrow-right{
	border-color: transparent transparent transparent white;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	top: 33px;
	right: -20px;
	position: absolute;
	padding: 0px !important;
}
.observationList {
	width: 100%;
}
.observationList th{
	cursor: pointer;
	background-color: #005e7d;
	color: #fff;
	border: 0.1em solid #e7e7e7;
	border-style: solid solid none;
	padding: 4px;
}
.observationList th:after{
	content: ' ';
}
.observationList th.asc:after{
	content: '▼';
}
.observationList th.desc:after{
	content: '▲';
}
.observationList tbody tr{
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}
.observationList tbody tr:hover{	
	background-color: #EEEEEE;
	cursor: pointer;
}
.observationList th{
	vertical-align: middle !important;
	border: 0px !important;
}
.observationList td{
	padding: 8px;
	border-right: 0px !important;
	background-color: white !important;
	vertical-align: middle !important;
}
.observationList tr.psiBackground td,
.observationList tr.ptcBackground td{
	background-color: #F6D18B !important;
}
.observationList tr.technicalCorrectionBackground td{
	background-color: #FFA500 !important;
}
.observationRefCell{
	color: #427597;
	font-weight: bold;
	font-size: 14px;
}
.statusCell {
	text-align: center;
}
.statusCell span{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 14px;
}
.statusCell span.draft{
	background-color: #CDF4FE;
	color: #028CA9;
}
.statusCell span.open{
	background-color: #CB7801;
	color: white;
}
.statusCell span.conclussion{
	background-color: #5cb85c;
	color: white;
}
.statusCell span.finished{
	background-color: #DADADA;
	color: #999999;
}
.gasCell{
	text-align: center;
	font-weight: bold;
}
.yearCell{
	text-align: center;
	vertical-align: middle;
}
.wfRole:before{
	content: "\f007";
}
.wfStep:before{
	content: "\f044";
}
.observationIcon:before{
	content: "\f0f6";
}
.questionIcon:before{
	content: "\f0e6";
}
.conclusionIcon:before{
	content: "\f00c";
}
.clickableRow{
	cursor: pointer !important;
}
.wfPoint:before{
	content: "\f111";
}
.wfPoint2:before{
	content: "\f10c";
}
.wfTime:before{
	content: "\f017";
}
#workflowTable td{
	min-width: 195px;
	color: gray;
	position: relative;
	vertical-align: top;
}
#workflowTable tr td:last-child {
	color: black;
}
#workflowTable tr td .border{
	border-top: 1px solid gray;
	width: 100%;
	position: absolute;
	top: 9px;
	left: 10px;
}
#workflowTable tr td:last-child .border{
	border: none;
}
.attachment:before{
	content: "\f0c6";
}
.confidential:before {
	content: "\f023";
}
.collapsiblePanelTitle {
	/**background-color:#2c8da2; */
	line-height:30px; 
	/**color:white; */
	cursor:pointer; 
	margin-top:10px;
	font-weight: bold;
}
.collapsiblePanelTitle.collapsed {
	margin-bottom: 10px;
}
.collapsiblePanelTitle .eea-icon-left:before {
	content: "\f078";
	color:#2c8da2;
}
.collapsiblePanelTitle.collapsed .eea-icon-left:before {
	content: "\f054";
	color:#2c8da2;
}
#tabs {
	/**border: 1px solid #DEDEDE;
    height: 205px;*/
    position: relative;
	overflow: hidden;
}
.tabs {
	overflow: hidden;  
	//*-webkit-box-shadow: 0 1px 0 #FFF inset; -moz-box-shadow: 0 1px 0 #FFF inset; 
	//box-shadow: 0 1px 0 #FFF inset;*/
	background-color: #FBFBFB;
}
.tabs>div {
	display: block; 
	float: left; 
	font: 15px/35px Arial, Helvetica, Sans-serif; 
	padding: 0 10px; 
	color: #999; 
	text-shadow: 0 1px 0 #FFF;
	position: relative;
	overflow: hidden;
	/**background: #e1e1e1; 
	background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); */
	border-top: 6px solid transparent;
}
.tabs>div.active{
	border-top: 6px solid #4489A0;
	background-color: #F3F3F3;
	box-shadow: 6px 0 15px -4px rgba(31, 73, 125, 0.8), -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}
.tabs>div:first-child{
	margin-left: 10px;
}
.tabs div a{
	border-bottom: 0px !important;
}
.tabs div a.overview:before{
	content: "\f06e";
	font-size: 30px;
	color: black;
}
.tabs a.inbox:before{
	content: "\f01c";
	font-size: 30px;
	color: black;
}
#filters .row{
	background-color: #F3F3F3;
}
#filters .row{
	padding: 5px 0;
}
#observations{
	background-color: #F3F3F3;
	padding: 0px 10px;
	overflow: hidden;
	padding-top: 10px !important;
}
ul.eea-tabs{
	background-color: #FBFBFB !important;
	padding-left: 5px !important;
}
#visual-portal-wrapper ul.eea-tabs {
	border-radius: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
#visual-portal-wrapper ul.eea-tabs li:first-child > a {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
#visual-portal-wrapper ul.eea-tabs a {
	border-top: 6px solid transparent !important;
}
#visual-portal-wrapper ul.eea-tabs a.current {
	border-top: 6px solid #4489A0 !important;
	box-shadow: 6px 0 15px -4px rgba(31, 73, 125, 0.8), -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}
#visual-portal-wrapper ul.eea-tabs li, 
#visual-portal-wrapper ul.eea-tabs a,
#visual-portal-wrapper ul.eea-tabs a:hover {
	color: #427597 !important;
	text-shadow: none !important;
}
.progressbar{
	width: 80%;
	position: absolute;
}
.progressbar tr:first-child td{
	background-color: #EBEBEB;
	width: 25%;
	border: 1px solid #F5F5F5;
}
.progressbar.progress0 tr:first-child td#progress0,
.progressbar.progress25 tr:first-child td#progress0,
.progressbar.progress75 tr:first-child td#progress0,
.progressbar.progress100 tr:first-child td#progress0{
	background-color: #A8DFFA;
}
.progressbar.progress25 tr:first-child td#progress25,
.progressbar.progress75 tr:first-child td#progress25,
.progressbar.progress100 tr:first-child td#progress25{
	background-color: #74B7D6;
}
.progressbar.progress75 tr:first-child td#progress75,
.progressbar.progress100 tr:first-child td#progress75{
	background-color: #5FA5C6;
}
.progressbar.progress100 tr:first-child td#progress100{
	background-color: #458EB1;
}
.progressbar td{
	color: #918C86;
	font-size: 75%;	
}
#collage .row_1 .block_1 {
	width: 65% !important;
}
#collage .row_1 .block_1 h2{
	display: none;
}
#collage .row_1 .collage-column:nth-child(2){
	display: none !important;
}
#collage .row_1 .block_3 .collage_item_1,
#collage .row_1 .block_3 .collage_item_2{
	background-color: #F3F3F3;
	padding: 5px;
}
#collage .row_1 .block_3 .collage_item_1 h2{
	display: none;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList {
	height: 254px;
	overflow: auto;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table{
	width: 100%;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table tr:nth-child(even){
	border-bottom: 1px solid #E7E7E7;
}
#collage .row_1 .block_3 .collage_item_2 .reviewerList table tr td:first-child{
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 15px;
}
#collage .row_2 .block_1 table th{
	background-color: #055B7B;
	color: white;
}
#collage .row_2 .block_1 table tr:nth-child(even){
	background-color: #F5F5F5;
}
#collage .row_2 .block_1 table tr.title{
	background-color: #E6EEF2;
	font-weight: bold;
}
span.envelope:before{
	content: "\f0e0";
}