$benefit-margin: 30 + common-sprite-height(benefits-developers);

.benefits {
    font-size: 0;
    margin-top: 130px;

    .benefit {
        font-size: 16px;
        line-height: 26px;
        color: #666;

        .title {
            font-size: 20px;
            line-height: 0.8;
            color: #333;
            letter-spacing: -1.4px;
            margin-bottom: 25px;
        }

        &:before {
            content: '';
            display: block;
            margin: 45px auto 0;
        }

        &.devs:before {
            margin-bottom: $benefit-margin - common-sprite-height(benefits-developers);
            @include use-sprite(benefits-developers);
        }

        &.ops:before {
            margin-bottom: $benefit-margin - common-sprite-height(benefits-operations);
            @include use-sprite(benefits-operations);
        }

        &.designers:before {
            margin-bottom: $benefit-margin - common-sprite-height(benefits-designers);
            @include use-sprite(benefits-designers);
        }

        &.pms:before {
            margin-bottom: $benefit-margin - common-sprite-height(benefits-project);
            @include use-sprite(benefits-project);
        }
    }

    @include breakpoint-mobile {
        margin-top: 50px;

        .benefit {
            font-size: 13px;
            line-height: 17px;
            width: 100%;
            margin-right: 0;

            &.devs, &.ops, &.designers, &.pms {
                &:before {
                    margin-top: 17px;
                    margin-bottom: 15px;
                }
            }

            .title {
                margin-bottom: 14px;
                font-size: 16px;
            }
        }
    }
}
