; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <manuel.guenther@idiap.ch>
; date:   Wed Feb 13 12:35:29 CET 2013

[buildout]
parts = scripts

; required packages: just the xfacereclib.extension.CSU since it contains the patch_CSU.py script
eggs =  xfacereclib.extension.CSU

extensions = bob.buildout
develop = .

newest = false

[scripts]
recipe = bob.buildout:scripts

