; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <manuel.guenther@idiap.ch>
; date:   Wed Feb 13 12:35:29 CET 2013

[buildout]
parts = scripts

; required packages: the facereclib, the original code and our wrapper package
eggs =  facereclib
        PythonFaceEvaluation
        xfacereclib.extension.CSU

extensions = bob.buildout
develop = [PATH_TO_YOUR_CSU_COPY]/PythonFaceEvaluation
          .

debug = false
verbose = true
newest = false

[scripts]
recipe = bob.buildout:scripts
; enable if you want to have the bob scripts installed
dependent-scripts = false
