$sitenav-bg:        $gray-lighter;


body {
    padding-top: 0;
}


.sitenav {
    text-align: right;
    padding: 5px 15px;
    background-color: $sitenav-bg;
}

.navbar-header {
    width: 100%;
    min-height: 100px;
    margin-left: -15px;
    padding-bottom: 15px;
}

.login-wrapper {
    margin-top: 15px;
}

#login_form {
    label {
        width: 100%;
        text-align: center;
    }
}

