/*
 * CSS for styling the new occhiello field
 */

p.occhiello {
	width: 99%;
	background-color: #f0f0f0;
	padding: 0.2em 0.5em; 
}

#archetypes-fieldname-occhiello input, input#form.occhiello {
	width:99%;
}