.redactor_box { display: inline-block; min-width: 750px; }
.redactor_box textarea, .redactor_box iframe { min-height: 300px; }

.redactor_editor {min-height: 250px;}
.redactor_editor p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
}
.redactor_editor ul, ol {
    padding: 0 0 0 2em !important;
    margin-left: 0 !important;
    font-size: 14px !important;
}
.redactor_editor li {
    list-style-type: inherit;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    line-height: 1.6em !important;
}
.redactor_editor li span {
    font-size: 14px !important;
}
.redactor_toolbar li {
    font-size: 14px;
}

.form-row {
    overflow: visible !important;
}