.icon_mail{background-image: url('icons/mail.png');}
.icon_system-monitor{background-image: url('icons/system-monitor.png');}
.icon_users{background-image: url('icons/users.png');}

.main-frame {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:90px;
    display: block;
    overflow: hidden;
}
.main-frame .frame-body{
    position: absolute;
    height: 100%;
    top:0;
    bottom:0;
}
.main-frame iframe{
    border: 0;
    display: block;
    height:100%;
    width: 100%;
}

.bottom-toolbar{
    position: absolute;
    bottom:0;
    height: 91px;
    left:0;
    right:0;
    background:url('bottom-toolbar.png');
    overflow: hidden;
}
.bottom-toolbar .bars{
    border: none;
    text-decoration: none;
    outline: 0;
    position: absolute;
    left:15px;
    top:15px;;
}
.bottom-toolbar .bars img{
    border: none;
}


.bottom-toolbar .border{
    width:2px;
    height:90px;
    background: url('v-border.png') left top repeat-y;
    float:left;
    position: relative;
    top:-1px;
}
.bottom-toolbar .lock-button{
    position: absolute;
    right:0;
    top:2px;
    width:35px;
    height: 89px;
    background: url('bottom-toolbar-lock.png') left top repeat-x;
    cursor: pointer;
}

.bottom-toolbar .lock-button .icon{
    background: url('bottom-toolbar-lock-icon.png') -29px center no-repeat;
    width:35px;
    height: 89px;
    position: absolute;
    right:0;
    top:0;
}
.bottom-toolbar .lock-button .icon-unlocked{
    background-position: 7px center;
}
.bottom-toolbar .lock-button:hover{
    background-position: left -89px;
}
.bottom-toolbar .lock-button:active{
    background-position: left -178px;
}
.bottom-toolbar-menu-layout{
    position: absolute;
    left: 100px;
    right: 285px;
    height: 89px;
    overflow: hidden;
}
.bottom-toolbar .bottom-toolbar-menu{
    position: relative;
    left:50%;
    float:left;
}
.bottom-toolbar .bottom-toolbar-menu .item{
    float:left;
    margin-top:6px;
    font-size: 14px;
    text-align: center;
    color:#686868;
    cursor: pointer;
    text-decoration: none;
    width: 107px;
    height: 79px;
    opacity: 0.6;
}

.bottom-toolbar .bottom-toolbar-menu .item span{
    position: relative;
    padding-top: 55px;
    display: block;
    background-repeat: no-repeat;
    background-position: center 7px;
}
.bottom-toolbar .bottom-toolbar-menu .item-active{
    background: url('bottom-toolbar-active.png') center top no-repeat;
    opacity: 1;
}

.bottom-toolbar .tray{
    position: absolute;
    right: 40px;
    width: 250px;
    height: 89px;
}
.bottom-toolbar .tray .icons{
    height:41px;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    border-bottom: 1px solid #dddddd;
    padding-left: 10px;
}
.bottom-toolbar .tray .tray-icon{
    float:left;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: underline;
    line-height: 45px;
    cursor: pointer;
    margin-right: 20px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.bottom-toolbar .tray .user-info{
    border-top: 1px solid #dddddd;
    position: absolute;
    top:42px;
    left:0;
    right: 0;
    height:48px;
    padding-right: 90px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    color: #373737;
}
.bottom-toolbar .tray .user-info span{
    font-size: 9px;
    display: block;
    color:#676767;
}
.bottom-toolbar .tray .exit{
    width: 62px;
    height: 15px;
    cursor: pointer;
    background: url('/static/images/exit.png') left top no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.bottom-toolbar .tray .exit:hover { background-position: bottom left; }
