
.ap_title{
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */	
  margin-top: 100%;
  color: #FFFFFF;
  padding: 0px 50px;
  font-size:30px;
  /*height: 90px; */

}

.ap_icon {
    margin: 35% 0% 39% 0%;
    max-height: 40%;
    text-align: center;
}

.no_pad{
	padding: 0px!important;
	/*max-width: 1362px!important;*/
}

.ap_col {
	height: 200px;
}

.ap_presentation {

	display: inline-block;
}

.ap_content {
 	background-color: #000;
 	height: 90%;
}
