/* column configurations */

/* 1 column */

#collage .collage-1-columns .block_1 {
    width: 100%;
}

#collage.edit .collage-1-columns .block_1 {
    width: 98%;
}

/* 2 columns */

#collage .collage-2-columns .block_1,
#collage .collage-2-columns .block_2 {
    width:47%;
}

#collage.edit .collage-2-columns .block_1,
#collage.edit .collage-2-columns .block_2 {
    width:47%;
}

#collage .collage-2-columns .block_2 { width:49.9%; }

/* 3 columns */

#collage .collage-3-columns .block_1,
#collage .collage-3-columns .block_2 {
    width:33%;
}

#collage.edit .collage-3-columns .block_1,
#collage.edit .collage-3-columns .block_2,
#collage.edit .collage-3-columns .block_3 {
    width:31%;
}


#collage .collage-3-columns .block_3 {
    width: 33.9%;
}

#collage .collage-3-columns .block_2 { width:32.9%; }

/* 4 columns */

#collage .collage-4-columns .block_1,
#collage .collage-4-columns .block_2,
#collage .collage-4-columns .block_3,
#collage .collage-4-columns .block_4 {
    width:24%;
}

#collage.edit .collage-4-columns .block_1,
#collage.edit .collage-4-columns .block_2,
#collage.edit .collage-4-columns .block_3,
#collage.edit .collage-4-columns .block_4 {
    width:23%;
}

#collage .block_4 {
    float: left;
}

/*
#collage .collage-4-columns .block_4 {
    width: 24.9%;
}


#collage.edit .collage-4-columns .block_4 {
    width: 22%;
}
*/