.social-connect button {
  color:#fff;
  font-weight: 600;
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 2.3em;
  text-align: center;
  background: #ccc;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.social-connect button.facebook {
  background: #677eb5;
  background: -moz-linear-gradient(top,  #677eb5 0%, #5268a1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#677eb5), color-stop(100%,#5268a1));
  background: -webkit-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: -o-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: -ms-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: linear-gradient(to bottom,  #677eb5 0%,#5268a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#677eb5', endColorstr='#5268a1',GradientType=0 );
  border:1px solid #4f66a0;
  text-shadow:1px 1px 2px #4f66a0;
}
.social-connect button:hover {
  background: #4f66a0;
  border-color: #44588c;
}

.social-connect button.facebook:before {
  content: '';
  background: url(../images/facebook-logo.png) no-repeat 4px center;
  border-right:1px solid #687fb5;
  display: block;
  width:32px;
  height: 100%;
  position: absolute;
  left: 0;
}
