.expander {
    min-height: 50px;
}

.breadcrumb {
    display: block;
    border-bottom: 1px solid $gray-light; // #ddd
    min-height: 38px;
    margin: 0 -15px;
    padding-left: 15px;
    @include border-radius(0);
}