.portlet {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid $gray-light; // #ddd
    
    dt.portletHeader {
        font-size: 140%;
        font-weight: 500;
        line-height: 1.6em;
        color: $brand-primary; // #369
        background-color: $gray-lighter; // #efefef
        padding: 5px 10px;
        margin: 0 0 10px 0;
        
        &:hover {
            background-color: #fff;
        }
    }
}


div.managePortletsLink,
a.managePortletsFallback {
    background: none;
    @include border-radius(0);
    font-size: 100%;
    margin: auto;
    padding: 0;
    text-align: left;
}