#sidepanel-switch {
    display: block;
    border-bottom: 1px dashed $gray-light; // #ccc
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    
    &:hover {
        .fa {
            color: $gray; // #666
            
            &.fa-arrow-circle-left {
                color: $gray-light;
                font-size: 20px;
                z-index: 20;
                display: block;
                background-color: $gray-lighter; // #f5f5f5
                margin: 0 auto -10px auto;
                width: 20px;
            }
        }
    }
}


#sidemenu {
    display: inline;
    
    li {
        display: block;
        white-space: nowrap;
        border-bottom: 1px solid $gray-light; // #ddd
        background-color: $gray-lighter; // #efefef
        
        &:first-child {
            border-top: 1px solid $gray-light; // #ddd
            margin-top: 37px;
            padding-top: 0;
        }
        
        a {
            .fa-home {
                color: #333;
            }
            .fa-envelope {
                color: #c60;
            }
            .fa-user {
                color: #c60;
            }
            .fa-users {
                color: #c00;
            }
            .fa-dashboard {
                color: #363;
            }
            .fa-folder {
                color: #369;
            }
            .fa-calendar {
                color: #699;
            }
            .fa-cog {
                color: #aaa;
            }
            .fa-cogs {
                color: #999;
            }
        }
        
        &:hover {
            background-color: #e6e6e6;
            
            a {
                color: $btn-warning-bg; // #f60
                text-decoration: none;
                
                .fa {
                    color: $btn-warning-bg;
                }
            }
        }
    }
    
    > li {
        > a {
            display: block;
            width: 199px;
        }
    }
}