.table {
    > thead {
        > tr {
            > th {
                border: 0;
            }
        }
    }
    
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    
    &.listing {
        td,
        th {
            background: $ityou-tbl-border;
            border: 1px solid $ityou-tbl-border;
        }
        
        tbody {
            tr {
                &.odd {
                    td {
                        background: $ityou-tbl-odd-bg;
                    }
                }
            }
        }
    }
}


.table-striped {
    > tbody {
        > tr {
            &:nth-child(2n+1) {
                > th,
                > td {
                    background-color: $ityou-tbl-bg;
                }
            }
        }
    }
}