/*** portlet multimedia ***/

.portletMultimedia .galleryMultimedia {
	background-color: #FFF;
	border: 1px solid #CCC;
	float: left;
	height: 64px;
	margin: 0.2em 0.5em;
	padding: 0.2em;
	text-align: center;
	width: 64px;
}

