//
// COMMONS
// -----------------------------------------------------------------------------
$ityou-body-bg:     #ecedef;
$ityou-line-bg:     #ddd;

$brand-secondary:   #80cc28;

// back to top button bg color on hover
$back-to-top-hover-bg: $brand-secondary;  


//
// Tables
// -----------------------------------------------------------------------------
$ityou-tbl-bg:      #f6f7f9;
$ityou-tbl-odd-bg:  #fff;
$ityou-tbl-border:  #f1f2f3;


//
// IMESSAGE VARIABLES
// -----------------------------------------------------------------------------
$imessage-error-border:             $btn-danger-border;
$imessage-unread-border:            $btn-warning-border;
$imessage-selection-hover:          #fff;

$imessage-sent-bg:                  #e5ffc6;
$imessage-sent-border:              darken(#e5ffc6, 12.5%);
$imessage-received-bg:              $body-bg;
$imessage-received-border:          $ityou-line-bg;

$imessage-message-border-radius:    0;
$imessage-message-border-color:     $gray-light;
$imessage-message-bg:               $gray-lighter;
$imessage-message-font-size:        $font-size-base;

// if a button should be hidden for some reason: `none`, otherwise `block`
$imessage-msg-hide-button-display:  none;
$imessage-msg-del-button-display:   block;

$imessage-msg-hide-button-bg:       transparent;
$imessage-msg-del-button-bg:        transparent;
$imessage-msg-hide-button-border:   0;
$imessage-msg-del-button-border:    0;

$imessage-dialog-overview-bg:       #e5ffc6;