div#OpenLayers.Control.PanZoom_5_zoomout{
	display:none !important;
}
.olControlPanPanel div {
background-image:url('img/tool-sprites.gif') !important;
font-size:0 !important;
height:15px !important;
width:15px !important;
}
.olControlPanPanel .olControlPanNorthItemInactive {
background-position:15px -60px !important;
left:16px !important;
}
.olControlPanPanel .olControlPanEastItemInactive {
background-position:15px -120px !important;
left:30px !important;
top:16px !important;
}
.olControlPanPanel .olControlPanSouthItemInactive {
background-position:15px -75px !important;
left:16px !important;
top:32px !important;
}
.olControlPanPanel .olControlPanWestItemInactive {
background-position:15px -105px !important;
left:2px !important;
top:16px !important;
}
.olControlZoomPanel {
left:21px !important;
}
.olControlZoomPanel div {
background-image:url('img/tool-sprites.gif') !important;
font-size:0 !important;
height:15px !important;
width:15px !important;
}
.olControlZoomPanel .olControlZoomInItemInactive {
background-position:15px -240px !important;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
display:none !important;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
background-position:15px -255px !important;
top:123px !important;
}
