/* Calendar Search Events view syles */
 
.fieldSearchKey {
 margin-top : 2em;
 margin-bottom : 2em;
}

.searchEvent {
 margin-bottom : 1em;
 margin-bottom : 1em;
}

.searchPages{
 text-align : center;
}

.searchEventTimeText {
	padding: 0.2em;
	margin: 0.2em 0em;
	background-color: #f0f0f0;
}

table.searchBarTable {
	width: 99%;
}

input.searchDisabled {
	color: white;
	background-color: red;
}

.daySum {
	border: 1px solid #8CACBB;
	border-collapse: collapse;
	width: 99%;
}

.daySum caption {
	font-size: 120%;
	font-weight: bold;
	text-align: left;
}

.daySum th,
.daySum td {
	border: 1px solid #8CACBB;
	padding: 0.2em 0.4em;
}

th.evCol1 {
	width: 25%;
}
th.evCol2 {
	width: 25%;
}
th.evCol3 {
	width: 25%;
}
th.evCol4 {
	width: 25%;
}

.daySum th {
	background-color: #DEE7EC;
}
