/*
copyright 2014 LOGILAB S.A. (Paris, FRANCE), all rights reserved.
contact http://www.logilab.fr -- mailto:contact@logilab.fr

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 2.1 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program. If not, see <http://www.gnu.org/licenses/>.
*/

div.cw-subprocess-progress {
    padding: 0.2em 0;
    margin-right: 0.2em;
}

@font-face {
    font-family: "Entypo";
    src: url('entypo.eot');
    src: url('entypo.eot') format('embedded-opentype'), url('entypo.woff') format('woff'), url('entypo.ttf') format('truetype'), url('entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.cw-subprocess-progress a:before {
    display: inline-block;
    font-family: "Entypo";
    font-weight: normal;
    line-height: 0.625;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 1em;
    margin: 0 0.2em;
    -webkit-font-smoothing: antialiased;
}

progress:not([value]) {
   background: gray;
}

div.cw-subprocess-progress.initialized a:before {
    content: "\0270E";
    color: blue;
}

div.cw-subprocess-progress.in-progress a:before {
    content: "\025B6";
    color: orange;
}

div.cw-subprocess-progress.succeeded a:before {
    content: "\02713";
    color: green;
}

div.cw-subprocess-progress.failed a:before {
    content: "\0274C";
    color: #D32322;
}

div.cw-subprocess-progress.killed a:before {
    content: "\026A1";
    color: #D32322;
}
