/*
  ALL HEIGHTS SHOULD BE MULTIPLES OF 18

    see note on typography:
    http://wiki.github.com/joshuaclayton/blueprint-css/quick-start-tutorial

  BLUEPRINT CSS SETTINGS (yaml)
  tbwp-admin:
    path: /home/rsyring/dev/blaze/templatingbwc-src/default/templatingbwc/static/blueprint-css
    semantic_classes:
      "#page-header, #page-nav, #page-body, #page-footer": ".span-24"
      "#page-footer": ".last"
      "#page-container": ".container"
      "#page-container:after": ".clearfix:after"
      "#page-nav:after": ".clearfix:after"

    COLOR SCHEME:

    http://colorschemedesigner.com/#3D31TrXvvw0w0

*/

/*

###
### GENERAL TYPOGRAPHY
###

*/

body {
    font-family:Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.9em;
    margin: .5em 0;
}

h2 {
    font-size: 1.7em;
    margin: .75em 0 .5em 0;
}

h3 {
    margin: 1em 0 .75em 0;
}

h4 {
    margin: 1.25em 0 1em 0;
}

h5 {
    margin: 1.5em 0 1.25em 0;
}

#primary-heading {
    font-size: 1.9em;
    margin-top: 12px;
    margin-bottom: .5em;
}

/* give margin so the title doesn't look like a heading */
dl {
    margin-left: 2.5em;
}

/* images on top are before any text, so no top margin */
p img.top {
    margin-top: 0px;
}

a,
a:active,
a:hover,
.js-action-link {
    text-decoration: underline;
    color: #215BA5;
    outline: 0;
}

a:hover,
.js-action-link:hover {
    text-decoration: none;
}

a:visited {
    color: #0B356B;
}

.js-action-link:hover {
    cursor: pointer;
}

/*

###
### ELEMENTS
###

*/
body {
    background: url(../images/gray_maze_background.png);
}

#page-container {
    background: white;
    text-align: left; /* w/out this IE7 shows everything in the center */
}

#page-container.showgrid {
    background:url(../../blueprint-css/src/grid.png);
}

#page-header {
    height: 54px;
}

#page-header,
#page-footer {
    /* #474747, fine grain pattern from jQuery UI at 20% */
    background: url(../images/dark_fine_grain_background.png);
    color: #ececec;
}

#page-header h1 {
    padding: 10px 0 0 14px; /* match left padding of content elements */
    color: #ececec;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

#page-header a {
    color: #FBCC20;
    text-decoration: none;
}

#page-header a:hover {
    color: #BCA241;
    text-decoration: underline;
}

#header-left a {
    text-decoration: none;
    font-size: .7em;
}

#header-right ul {
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-right: 4px; /* match right padding of content elements, but li has 10 px */
}

#header-right li {
    float: left;
    margin: 0 10px 0 0;
    border-right: solid 1px #bdbdbd;
}

#header-right li a,
#header-right li strong {
    margin-right: 10px;
}

#header-right li strong {

}

#header-right li.last {
    margin-right: 10px;
    border: none;
}

#header-right li.last a {
    margin-right: 0;
}

#page-nav {
    /* jQuery UI themeroller: #5e5e5e, inset soft, 20% */
    background: url(../images/charcoal_inset_background.png) repeat-x left -30px;
}

#page-body {
    padding-bottom: 20px;
}

#primary-content {
    padding: 12px 14px 0 14px;
    position: relative;
}

.sidebar-right #primary-content {
    width: 630px;
    float: left;
}

.sidebar-right #sidebar-content {
    /* primary-content padding + width => 14 * 2 + 630 = 658
       total width - primary-content width => 950 - 658 = 292
       space available - sidebar padding => 292 - 14 = 278
    */
    width: 278px;
    padding: 12px 14px 0 0;
    float: left;
}

#user-messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-messages li {
    margin: 0 0 .3em 0;
    padding: .3em;
    padding-left: 35px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border: solid 1px;
    position: relative;
}

#close-all-messages {
    text-align: right;
}

#close-all-messages a {
    text-decoration: none;
}

#close-all-messages a:hover {
    text-decoration: underline;
}

#user-messages .close-icon {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background: url(../icons/black-x-12.png) no-repeat;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#user-messages li.sev-error {
    background-image: url(../icons/cancel.png);
    background-color: #FBE3E4;
    border-color: #FBC2C4;
    color: #860006;
}

#user-messages li.sev-warning {
    background-image: url(../icons/error.png);
    background-color: #FFF6BF;
    border-color: #FFD324;
    color: #5F5200;
}

#user-messages li.sev-notice {
    background-image: url(../icons/information.png);
    background-color: #8FBDE0;
    border-color: #6BACDE;
    color: #003863;
}

#user-messages li.sev-success {
    background-image: url(../icons/accept.png);
    background-color: #E6EFC2;
    border-color: #C6D880;
    color: #4E6100;
}

.cbox {
    /* matches the top margin on primary-header */
    margin-top: 12px;
}

/*
  use when you don't need to match the margin of a primary-heading, useful
  when both content columns have boxes
*/
.cbox-top {
    margin-top: 0px;
}

.cbox-header {
    background: url(../images/charcoal_inset_background.png) repeat-x left -30px;
}

.cbox-header h1,
.cbox-header h2,
.cbox-header h3,
.cbox-header h4,
.cbox-header h5,
.cbox-header h6,
h1.cbox-header,
h2.cbox-header,
h3.cbox-header,
h4.cbox-header,
h5.cbox-header,
h6.cbox-header,
.cbox-header ul li a {
    color: #ececec;
    padding: .4em .4em;
    font-size: 1.2em;
    margin: 0;
}

.cbox-header-tabs h1,
.cbox-header-tabs h2,
.cbox-header-tabs h3,
.cbox-header-tabs h4,
.cbox-header-tabs h5,
.cbox-header-tabs h6 {
    float: left;
    padding-bottom: 0;
}

.cbox-header ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.cbox-header ul li {
    float: left;
    margin: 0;
    padding: 0;
}

.cbox-header ul li a {
    font-weight: bold;
    font-size: .9em;
    float: left;
    border-left: solid 1px #4f4f4f;
    padding: .8em 1em 1em 1em;
    text-decoration: none;
}

.cbox-header ul li.ui-tabs-selected a {
    background: url(../images/white_up_arrow.gif) no-repeat center bottom;
}

.cbox-header ul li a:visited {
    color: #ECECEC;
}

.cbox-header ul li a:hover {
    background: url(../images/white_up_arrow.gif) no-repeat center bottom #5e5e5e;
    color: #FDDA57;
}

.cbox .ui-tabs-hide {
    display: none !important;
}

.cbox-content {
    padding: 1em;
    border: #bdbdbd solid 1px;
    border-top: 0px;
}

/*

###
### jQuery UI overrides
###

*/
.ui-dialog-titlebar .ui-state-default {
    background: url("../images/jquery-ui/ui-bg_inset-soft_20_5e5e5e_1x100.png") repeat-x scroll 50% 50% #5e5e5e;
    border: none;
}

.ui-state-default .ui-icon {
    background-image: url("../images/jquery-ui/ui-icons_FBCC20_256x240.png");
}

.ui-dialog-titlebar .ui-state-hover,
.ui-dialog-titlebar .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("../images/jquery-ui/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

.ui-dialog-titlebar .ui-state-hover .ui-icon,
.ui-dialog-titlebar .ui-state-focus .ui-icon {
	background-image: url("../images/jquery-ui/ui-icons_454545_256x240.png");
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: -1px;
    border-bottom-width: 1px;
    border-bottom-color: #FFF;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
}

/*

###
### SUPERFISH NAV
###

*/


.sf-menu {
    float: none;
    margin: 0;
    padding-left: 4px; /* menu's have 10px of left margin and we want 14px total to match content padding */
    line-height: 1;
}

.sf-menu a,
.sf-menu .sf-placeholder {
    border-left: 1px solid #bdbdbd;
    border-top: none;
    padding: .5em .8em;
    text-decoration: none;
    font-size: 1.1em;
}

.sf-menu .sf-placeholder {
    padding-right: 2.25em;
}

.sf-menu li {
    background: none;
}

.sf-menu li.first a,
.sf-men li.first .sf-placeholder {
    border-left: none;
}

.sf-menu a,
.sf-menu a:visited, /* visited pseudo selector so IE6 applies text colour*/
.sf-menu .sf-placeholder {
    color: #FBCC20;
}

.sf-menu li a:hover,
.sf-menu li .sf-placeholder:hover,
.sf-menu li.sfHover,
.sf-menu li.sfHover a,
.sf-menu li.sfHover .sf-placeholder,
.sf-menu li.sfHover a:hover
.sf-menu li.sfHover .sf-placeholder:hover { /* visited pseudo selector so IE6 applies text colour*/
    color: #000;
    background: #ececec;
}

.sf-menu li a:hover {
    text-decoration: underline;
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu .sf-placeholder:focus,
.sf-menu a:hover,
.sf-menu .sf-placeholder:hover,
.sf-menu a:active {
    color: #000;
    background: #ececec;
    outline: 0;
    z-index: 1; /* IE7: drop-down nav ends up behind box headers without this */
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: black; /* IE8 fallback colour */
}

/* sub-menus */
.sf-menu ul {
    border-right: solid 1px #bdbdbd;
}

.sf-menu ul li {
    border-bottom: solid 1px #bdbdbd;
}

.sf-menu li.sfHover ul li a:hover,
.sf-menu li.sfHover ul li .sf-placeholder:hover {
    background: #fdf9e5;
}
.sf-menu li.sfHover ul li a:hover {
    text-decoration: underline;
}

.sf-menu ul ul {
    border-top: 1px solid #bdbdbd;
}

.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #000000; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(0,0,0,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
	border-left-color: rgba(255,255,255,.5);
}

/*

###
### BlazeForm forms
###

*/
form.generated,
div.static-form {
    margin: 0px;
    padding: 0px;
    position: relative;
}

form.generated div.row,
div.static-form div.row {
    padding: 0.4em 0 0.4em 0;
    margin: 0;
    border: solid 1px #CCCCCC;
    border-top: none;
}

/* START: Expand row around floated child elements */
/* http://csscreator.com/?q=attributes/containedfloat.php */
form.generated div.row:after,
div.static-form div.row:after {
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
}

form.generated div.row,
div.static-form div.row {
    display: inline-block;
}

/* Hides from IE Mac \*/
* html form.generated div.row,
* html div.static-form div.row {
    height: 1%;
}
form.generated div.row,
div.static-form div.row {
    display:block;
}
/* End Hack */
/* END: Expand row around floated child elements */

form.generated div.row.first,
div.static-form div.row.first {
    border-top: solid 1px #CCCCCC;
}

form.generated div.row.odd,
div.static-form div.row.odd {
    background-color: #F6F6F6;
}

form.generated div.row.even,
div.static-form div.row.even {
    background-color: #FFF;
}

/* remove background colors and borders from a submit button so it appears
  below the form */
form.generated div.row.submit,
form.generated div.row.reset,
form.generated div.row.cancel,
form.generated div.row.submit-only,
div.static-form div.row.submit-only {
    background: none;
    border: none;
}

form.generated div.row input.cancel {
    background: none;
    border: none;
    margin-top: 3px;
    text-transform: lowercase;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

form.generated div.row.submit-only,
div.static-form div.row.submit-only {
    padding-top: 15px;
}

form.generated label,
div.static-form label {
    width: 150px;
    float: left;
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 1.1em;
}

form.generated div.field-wrapper,
form.generated div.group-wrapper,
div.static-form div.field-wrapper,
div.static-form div.group-wrapper {
    width: 620px;
    position: relative;
    float: left;
    padding: 0 0 0 10px;
    margin: 0;
    /* IE double-margin bug */
    display: inline;
}

/* margin should be the label width plus the left padding on the field-wrapper */
form.generated div.field-wrapper.no-label,
form.generated div.group-wrapper.no-label,
div.static-form div.field-wrapper.no-label,
div.static-form div.group-wrapper.no-label{
    margin-left: 160px;
}

/****** BEGIN group elements ********/
form.generated div.group-wrapper div.first,
form.generated div.group-wrapper div.odd,
form.generated div.group-wrapper div.even,
div.static-form div.group-wrapper div.first,
div.static-form div.group-wrapper div.odd,
div.static-form div.group-wrapper div.even{
    /* IE 6 doesn't understand the multi-class selectors above, so we need to cancel
    the styling
    */
    border: none;
    background: none;
}

form.generated div.group-wrapper label,
div.static-form div.group-wrapper label {
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
}

form.generated div.grpel,
div.static-form div.grpel {
    float: left;
    margin: 0 15px 0 0;
}

form.generated div.group-wrapper div.field-wrapper,
div.static-form div.group-wrapper div.field-wrapper {
    position: static;
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
    display: block;
}
/****** END group elements ********/


form.generated .required_note {
    position: absolute;
    top: -2em;
    right: 0;
}

form.generated .header-section {
    position: relative;
}

form.generated .header-section .required_note_above_header {
    position: absolute;
    top: 1em;
    right: 0;
}

form.generated .header-section h3 {
    margin-top: 1em;
}


form.generated .required_note span.star,
form.generated .required_note_above_header span.star{
    color: red;
}

form.generated span.required-star {
    position: absolute;
    left: 0;
    color: red;
    padding: 0;
    margin: 0;
}

form.generated input.text,
form.generated input.password,
form.generated input.file {
    /* the width doesn't actually seem to affect the file input */
    width: 175px;
    padding: .2em;
    margin: 2px 0;
}

/* have to set the width on the checkbox or otherwise the left margin
  doesn't line up with the other input elements in IE */
form.generated input.checkbox {
    width: 13px;
    height: 13px;
}

form.generated label.after {
    width: auto;
    padding: 0 0 0 .5em;
}

form.generated ul.errors,
form.generated ul.notes,
div.static-form ul.notes {
    margin: 0px 0 0 5px;
    padding: 3px;
    list-style: none;
}

form.generated ul.errors {
    margin: 0;
    padding: 0;
}

form.generated ul.errors li,
form.generated ul.notes li,
div.static-form ul.notes li {
    margin: 4px 0 0 0;
    padding: 0 0 0 15px;
    text-indent: -12px;
}

form.generated p.note,
div.static-form p.note {
    margin: 3px 0 0 5px;
    padding: 3px 3px 3px 15px;
    text-indent: -12px;
}

form.generated p.error {
    margin: 0;
    padding: 3px 8px;
    margin: 3px 0 0 0;
}

form.generated ul.errors li {
    padding-left: 8px;
    text-indent: 0px;
}

form.generated p.error,
form.generated ul.errors li {
    background-color: #FBE3E4;
    border: solid 2px #FBC2C4;
    color: #860006;
}

form.generated p.frozen {
    margin: 0;
    padding: 0;
}

/*

###
### Blueprint-CSS overrides
###

*/

/* jquery-ui uses a less specific position than blueprint, so we need to
  add a selector so it applies
*/
input.ui-helper-hidden-accessible {
    position: absolute;
}

/*

###
### inverted tab color scheme (tcs)
###

*/
.inverted-tcs {
    border: none;
}
.inverted-tcs .ui-widget-header{
    background: none;
    border: none;
    border-left: none;
    border-right: none;
}
.inverted-tcs .ui-tabs-panel {
    border-top: 1px solid #aaaaaa;
}
