textarea.zen-mode-textarea {
    font-family: monospace;
    font-size: 1.2em;
    width: 60%;
    min-height: 400px;
}

.radpress-description {
    position: absolute;
    border: 1px solid rgb(153, 153, 153);
    background-color: white;
    width: 300px;
    top: 100px;
    right: 22px;
}

.radpress-description h3 {
    margin: 0;
    padding: 10px;
    background-color: rgb(153, 153, 153);
    color: white;
}

.radpress-description pre {
    margin: 0;
    padding: 10px;
}
