[buildout]
extends = versions/versions.cfg
parts = test
    paste
develop = .
allow-picked-versions = false

[versions]
gocept.package =

[test]
recipe = zc.recipe.egg
scripts = py.test=test
eggs =
    gocept.package [test, doc]
    pytest

[paste]
recipe = zc.recipe.egg
eggs =
    PasteScript
    gocept.package
scripts = paster
