[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = Products.Collage
package-extras = [test]
unzip = true


[instance]
eggs +=
    plone.app.contenttypes
    ipdb
    plone.reload


[versions]
plone.app.contenttypes = 1.1b2
plone.app.event = 1.1.1
plone.app.portlets = 2.5.1
