; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <manuel.guenther@idiap.ch>
; date:   Wed Feb 13 12:35:29 CET 2013

[buildout]
parts = scripts
newest = false
develop = .

; required packages: the facereclib, our wrapper package, and a list of image databases
eggs =  bob
        facereclib
        xfacereclib.extension.CSU
        PythonFaceEvaluation


; Extension required to find the CSU package
extensions = mr.developer
auto-checkout = *

sources-dir = ../links/

[sources]
PythonFaceEvaluation = fs PythonFaceEvaluation


[scripts]
recipe = xbob.buildout:scripts
nose-flags = -v --nologcapture
; enable if you want to have the bob scripts installed
dependent-scripts = false
