; vim: set fileencoding=utf-8 :
; author: Manuel Guenther <manuel.guenther@idiap.ch>
; date:   Wed Feb 13 12:35:29 CET 2013

[buildout]
parts = scripts

; required packages: the facereclib, the original code and our wrapper package
eggs =  facereclib
        PythonFaceEvaluation
        xfacereclib.extension.CSU

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.buildout
          src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.io.image
          src/bob.sp
          src/bob.math
          src/bob.measure
          src/bob.learn.activation
          src/bob.learn.linear
          src/bob.learn.misc
          src/bob.ip.base
          src/bob.ip.color
          src/bob.ip.gabor
          src/bob.db.base
          src/bob.db.verification.utils
          src/bob.db.verification.filelist
          src/bob.db.atnt
          src/facereclib
          ${buildout:csu-dir}/PythonFaceEvaluation
          .

csu-dir = [PATH_TO_YOUR_CSU_COPY]

; options for bob.buildout extension
debug = false
verbose = true
newest = false

[environ]
BOB_BUILD_PARALLEL = 4

[sources]
bob.buildout = git https://github.com/bioidiap/bob.buildout
bob.extension = git https://github.com/bioidiap/bob.extension
bob.blitz = git https://github.com/bioidiap/bob.blitz
bob.core = git https://github.com/bioidiap/bob.core
bob.io.base = git https://github.com/bioidiap/bob.io.base
bob.io.image = git https://github.com/bioidiap/bob.io.image
bob.sp = git https://github.com/bioidiap/bob.sp
bob.math = git https://github.com/bioidiap/bob.math
bob.measure = git https://github.com/bioidiap/bob.measure
bob.learn.activation = git https://github.com/bioidiap/bob.learn.activation
bob.learn.linear = git https://github.com/bioidiap/bob.learn.linear
bob.learn.misc = git https://github.com/bioidiap/bob.learn.misc
bob.ip.base = git https://github.com/bioidiap/bob.ip.base
bob.ip.color = git https://github.com/bioidiap/bob.ip.color
bob.ip.gabor = git https://github.com/bioidiap/bob.ip.gabor
bob.db.base = git https://github.com/bioidiap/bob.db.base
bob.db.verification.utils = git https://github.com/bioidiap/bob.db.verification.utils
bob.db.verification.filelist = git https://github.com/bioidiap/bob.db.verification.filelist
bob.db.atnt = git https://github.com/bioidiap/bob.db.atnt
facereclib = git https://github.com/idiap/facereclib branch=master

[scripts]
recipe = bob.buildout:scripts
; enable if you want to have the bob scripts installed
dependent-scripts = false

