.rowlight {
  background: white;
}

.rowdark {
  background: wheat;
}

.highlighted {
  background: grey;
}

table.pycompta {  
  border-collapse: collapse; 
  border: 1px solid black;

}

table.pycompta th { 
  border-left: 1px solid black;
  border-bottom: 1px solid black; 
}

table.pycompta td { 
  border-left: 1px solid black;
}
