ul#activity-stream-list {
    
    li.activity {
        .well {
            background: lighten($ityou-body-bg, 4%);
            border: 1px solid $ityou-line-bg;
            margin-bottom: 15px; // #LM
            @include box-shadow(none);
            padding: 0;
            
            .activity-box {
                background: $body-bg;
                padding: 15px;
            }
            
            ul {
                &.activity-comment-list {
                    padding-top: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-top: 1px solid $ityou-line-bg;
                    
                    li {
                        &.activity-comment {
                            .panel {
                                @include box-shadow(none);
                            }
                        }
                    }
                    
                    & + .col-xs-12.clearfix {
                        padding-left: 15px;
                        padding-right: 15px;
                        
                        & + .col-xs-12 {
                            padding-left: 15px;
                            padding-right: 15px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
