[buildout]
eggs-directory = /var/local/eggs
include-site-packages = false
extends = http://download.ztfy.org/webapp/ztfy.webapp.dev.cfg
versions = versions
newest = false
allow-picked-versions = false
src = src
develop = .
          ../ztfy.base
          ../ztfy.baseskin
          ../ztfy.extfile
          ../ztfy.file
          ../ztfy.i18n
          ../ztfy.jqueryui
          ../ztfy.mail
          ../ztfy.security
          ../ztfy.skin
          ../ztfy.utils
          ../ztfy.zmi
          ../ztfy.zmq
parts = package i18n pyflakes pyflakesrun test

[package]
recipe = zc.recipe.egg
eggs = ztfy.scheduler

[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = ${package:eggs}
       z3c.recipe.i18n
packages = ztfy.scheduler
domain = ztfy.scheduler
output = src/ztfy/scheduler/locales
zcml = <include file="configure.zcml" />

[pyflakes]
recipe = zc.recipe.egg
eggs = pyflakes
scripts = pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main
initialization = if not sys.argv[1:]: sys.argv[1:] = ["${buildout:src}"]

[pyflakesrun]
recipe = collective.recipe.cmd
on_install = true
cmds = ${buildout:directory}/bin/${pyflakes:scripts}

[test]
recipe = zc.recipe.testrunner
eggs = ztfy.scheduler [test]

[versions]
ztfy.scheduler = 0.5.2
