.concat {
  display: none;
}

.concatenate {
  display: block;
}

@font-face {
  font-family: 'Pipeline';
  src: url(pipeline/fonts/pipeline.eot);
  src: url(pipeline/fonts/pipeline.eot?#iefix) format('embedded-opentype');
  src: local('☺'), url(pipeline/fonts/pipeline.woff) format('woff'), url(pipeline/fonts/pipeline.ttf) format('truetype'), url(pipeline/fonts/pipeline.svg#IyfZbseF) format('svg');
  font-weight: normal;
  font-style: normal;
}
.relative-url {
  background-image: url(pipeline/images/sprite-buttons.png);
}
.relative-url-querystring {
  background-image: url(pipeline/images/sprite-buttons.png?v=1.0#foo=bar);
}
.absolute-url {
  background-image: url(/images/sprite-buttons.png);
}
.absolute-full-url {
  background-image: url(http://localhost/images/sprite-buttons.png);
}
.no-protocol-url {
  background-image: url(//images/sprite-buttons.png);
}
