[buildout]
extends =
    http://dist.plone.org/release/4.2.1/versions.cfg
    rabbitmq.cfg
parts +=
# for tests
    test
    coverage-test
    coverage-report
# for docs
    graphviz
    plantuml
    bin-plantuml
    sphinx
    activate
    docs
develop = .
versions = versions

[versions]
docutils = 0.9.1

[test]
recipe = zc.recipe.testrunner
eggs = collective.zamqp [test]
initialization =
    import rabbitfixture.server
    rabbitfixture.server.RABBITBIN = "${buildout:parts-directory}/rabbitmq/scripts"
    os.environ["PATH"] = "%s:%s" % ("${erlang:location}/bin", os.environ["PATH"])
defaults = ['--auto-color', '--auto-progress']

[coverage-test]
<= test
defaults = ['--auto-color', '--auto-progress', '--coverage=coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')

[graphviz]
recipe = hexagonit.recipe.cmmi
url = http://www.graphviz.org/pub/graphviz/stable/SOURCES/graphviz-2.28.0.tar.gz
md5sum = 8d26c1171f30ca3b1dc1b429f7937e58

[plantuml]
recipe = hexagonit.recipe.download
url = http://downloads.sourceforge.net/project/plantuml/plantuml.jar
download-only = true

[bin-plantuml]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh -e
    GRAPHVIZ_DOT="${graphviz:location}/bin/dot" java -jar "${plantuml:location}/plantuml.jar" "$@"
#    GRAPHVIZ_DOT="${graphviz:location}/bin/dot" java -Djava.awt.headless=true -jar "${plantuml:location}/plantuml.jar" "$@"
output = ${buildout:bin-directory}/plantuml
mode = 755

[sphinx]
recipe = zc.recipe.egg
eggs = collective.zamqp [docs]
scripts = sphinx-build
dependent-scripts = true
initialization =
    import sys
    reload(sys)
    # Fix UnicodeDecodeError's with sphinxtogithub
    sys.setdefaultencoding('utf-8')

[activate]
recipe = evg.recipe.activate

[docs]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    source ${buildout:bin-directory}/activate
    sphinx-build -c ${buildout:directory}/sphinx ${buildout:directory}/src/collective/zamqp ${buildout:directory}/docs
