/* ------------------------------------------------------------------------------
    I N T K - T H E M E
--------------------------------------------------------------------------------- */

#portal-logo {
    width: 75px;
    height: 75px;
}

#portal-logo img {
    width: 75px;
    height: 75px;
}
