.embededMediaShow.javascripted.fullscreen {
    background-color: black;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.embededMediaShow.javascripted.fullscreen .mediaShowMedia
{
    height: 100%;
    width: 100%;
}

.embededMediaShow.javascripted.fullscreen .mediaShowInfo
{
    display: none;
}