@-webkit-keyframes jelly{
    from,to{
        -webkit-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    25%{
        -webkit-transform:scale(.9, 1.1);
        transform:scale(.9, 1.1)
    }
    50%{
        -webkit-transform:scale(1.1, .9);
        transform:scale(1.1, .9)
    }
    75%{
        -webkit-transform:scale(.95, 1.05);
        transform:scale(.95, 1.05)
    }
}
@keyframes jelly{
    from,to{
        -webkit-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    25%{
        -webkit-transform:scale(.9, 1.1);
        transform:scale(.9, 1.1)
    }
    50%{
        -webkit-transform:scale(1.1, .9);
        transform:scale(1.1, .9)
    }
    75%{
        -webkit-transform:scale(.95, 1.05);
        transform:scale(.95, 1.05)
    }
}
::selection {
    background: #428bca; /* Webkit */
    color: white;
}
::-moz-selection {
    background: #428bca; /* Firefox */
    color: white;
}
h1 a {
    display: inline-block;
}
.title h1 a:hover, .title h1 a:focus {
    color: #428bca;
    text-decoration: none;
    -webkit-animation: jelly .5s;
    animation: jelly .5s;
}
h2 {
    font-size: 20px;
    margin-top: 0;
    color: #428bca;
}
h2::after {
    content: ' :';
}
/*
 =======
|  Nav  |
 =======
*/
.has-success .form-control,
input[type=search],
input[type=search]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 1px #ccc;
}
.nav button {
    background-color: white;
    border: none;
    height: 30px;
    width: 40px;
}
.nav button:hover,.nav button:active, .nav button:focus {
    border: none;
}
@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 80px;
    }
}
#nb-links {
    color: #428bca;
    position: absolute;
    top: -20px;
    right: 0;
}
/* SearchBar */
#search-button {
    padding: 0;
    width: 50px;
    height: 34px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.has-feedback .form-control-feedback {
    top: 1px;
    z-index: 1;
}
.has-success .form-control,
.has-error .form-control {
    border-color: #ccc;
}
.has-success .form-control:focus,
.has-error .form-control:focus {
    border: solid 1px green;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control:focus {
    border: solid 1px red;
}
ul.ui-corner-all {
    margin-top: 1px;
    padding: 0;
    border: solid 1px #ccc;
    border-top: none;
}
.ui-corner-all, .ui-corner-bottom,
.ui-corner-right, .ui-corner-br {
    border-radius: 0;
    -moz-border-radius: 0;
    background-color: white;
}
.ui-state-hover,
.ui-widget-content.ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: none;
    color: black;
    background: none;
    background-color: #ddd;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: 0;
}
/*
 =============
|  Responses  |
 =============
*/
td:nth-child(1){
    width: 30px;
}
td:nth-child(3){
    text-align: center;
}
/*
 =============
|  Edit mode  |
 =============
*/
sup {
    color: red;
}
#legend {
    color: red;
    position: fixed;
    bottom: 10px;
    right: 20px;
}
#add-wiget .edit-table > tbody > tr > td:nth-child(1),
#responses .edit-table > tbody > tr > td:nth-child(1) {
    padding-top: 22px;
}
#add-widget .edit-table > tbody > tr > td:nth-child(3)
#responses .edit-table > tbody > tr > td:nth-child(3) {
    padding-top: 16px;
}
.glyphicon-minus {
    height: 30px;
    background: red;
    color: white;
    border: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.glyphicon-minus:hover {
    background-color: rgba(255, 0, 0, .4);
}
.glyphicon-edit.active {
    color: green;
}
.col-md-4 {
    padding-left: 0;
}
.glyphicon-plus {
    top: 0;
    height: 32px;
    background-color: green;
    color: white;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.glyphicon-plus:hover {
    background-color: rgba(0, 128, 0, .4);
}
#add-widget,
#responses {
    margin-top: 10px;
}
/* Add */
#add-widget > div {
    padding: 0px 49px 0px 30px;
}
#add-widget > div > div {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 8px;
}
#add-widget table,
#responses table {
    width: 100%;
    border-collapse: collapse;
}
#add-widget table tr,
#responses table tr {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
#add-widget table td,
#responses table td {
    border: 1px solid #ddd;
}
#add-widget table tr:first-child td,
#add-widget table tr:last-child td,
#responses table tr:first-child td {
    border-top: 0;
}
#add-widget table tr.last-tr td,
#add-widget table tr:last-child td,
#responses table tr.last-tr td,
#responses table tr:last-child td {
    border-bottom: 0;
}
#add-widget table tr td:first-child,
#responses table table tr td:first-child {
    min-width: 130px;
    border-left: 0;
}
#responses table tr td:last-child {
    border-right: 0;
    padding: 9px;
}
#add-widget table tr td:last-child,
#responses table table tr td:last-child {
    border-right: 0;
    padding: 0;
}
#add-widget label,
#responses label {
    margin: 0;
}
#add-widget input,
#add-widget textarea,
#responses input,
#responses textarea {
    margin: 2%;
    padding: 2px;
    min-width: 98%;
    width: 98%;
    max-width: 98%;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid 1px rgb(169, 169, 169);
}
#add-widget .form-control,
#add-widget .form-control:hover,
#responses .form-control,
#responses .form-control:hover {
    box-shadow: none;
}
#add-widget .has-error .form-control,
#responses .has-error .form-control {
    border-color: red;
}
#add-widget .has-warning .form-control,
#responses .has-warning .form-control {
    border-color: orange;
}
#add-widget .has-success .form-control,
#responses .has-success .form-control {
    border-color: green;
}
#add-widget input[type="number"],
#responses input[type="number"] {
    line-height: 10px;
}
#add-widget textarea,
#responses textarea {
    height: 60px;
}
#add-widget .tagit,
#responses .tagit {
    background: none;
    background-color: white;
    border: solid 1px rgb(169, 169, 169);
    padding: 2px 0;
    margin: 2%;
    margin-right: 0;
}
#add-widget .tagit.has-error,
#responses .tagit.has-error {
    border: solid 1px red;
}
#add-widget ul.tagit li.tagit-choice,
#responses ul.tagit li.tagit-choice {
    margin: 1px 2px;
    background: rgb(28, 148, 196);
    color: white;
    padding: 0 4px;
    line-height: 22px;
}
#add-widget ul.tagit li.tagit-choice-editable,
#responses ul.tagit li.tagit-choice-editable {
    padding: 0 18px 0 4px;
}
#add-widget ul.tagit li.tagit-new,
#responses ul.tagit li.tagit-new {
    margin: 0 2px;
    padding: 0 2px 0 2px;
    line-height: 14px;
}
#add-widget .tagit input,
#responses .tagit input {
    margin: 0;
    background: none;
    height: 23px;
    border: none;
    position: relative;
    display: inline-block;
}
#add-widget div.tags-update,
#add-widget div.input-update,
#responses div.tags-update,
#responses div.input-update {
    width: 100%;
    position: relative;
}
#add-widget div.tags-update div,
#add-widget div.input-update div,
#responses div.tags-update div,
#responses div.input-update div {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 12px;
    margin-top: 17px;
    color: green;
}
#add-widget div.tags-update div,
#responses div.tags-update div {
    margin-top: 19px;
}
#add-widget input[type="reset"],
#add-widget input[type="submit"],
#responses input[type="reset"],
#responses input[type="submit"] {
    margin: 0;
    color: white;
    background-color: green;
    border: none;
    width: 20%;
    display: inline-block;
    position: relative;
    float: right;
    max-width: 20%;
    min-width: 20%;
    line-height: 20px;
    margin-right: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#add-widget input[type="reset"],
#responses input[type="reset"] {
    background-color: #428bca;
}
#add-widget input[type="reset"]:hover,
#responses input[type="reset"]:hover {
    background-color: rgba(66, 139, 202, .5);
}
#add-widget input[type="submit"],
#responses input[type="submit"] {
    margin-left: 2%;
}
#add-widget input[type="submit"]:hover,
#responses input[type="submit"]:hover {
    background-color: rgba(0, 128, 0, .4);
}
small {
    font-size: 85%;
    color: red;
    margin: -13px 10px 0 10px;
    position: absolute;
}
.has-warning small {
    color: orange;
}
small.update {
    font-size: 100%;
    margin: 8px 0 0 0;
    padding: .2em 8px;
    position: relative;
    display: block;
    background-color: green;
    color: white;
    text-align: right;
    -webkit-transition: all 1s ease-in-out 1s;
    -moz-transition: all 1s ease-in-out 1s;
    -ms-transition: all 1s ease-in-out 1s;
    -o-transition: all 1s ease-in-out 1s;
    transition: all 1s ease-in-out 1s;
}
small.update.disappear {
    background-color: rgba(255, 0, 0, 0.001);
}
/* readonly */
#add-widget ul.tagit.readonly li span,
#responses ul.tagit.readonly li span {
    width: 10%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
#add-widget .tagit.readonly,
#responses .tagit.readonly {
    background: none;
    border: none;
    width: 90%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
#add-widget ul.tagit.readonly li.tagit-new,
#responses ul.tagit.readonly li.tagit-new {
    height: 0;
    line-height: 0;
}
/*
 ========
|  Misc  |
 ========
*/
.text-danger {
    color: red;
}
#nb-results {
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
}
