
/******************************
 * General
 ******************************/

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 82%;
}

a {
    color: #3D6E1C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.flash-messages div.ui-state-highlight {
    padding: .3em;
    margin-bottom: 8px;
}

div.error-messages div.ui-state-error {
    padding: .3em;
    margin-bottom: 8px;
}
