[buildout]
eggs-directory = /var/local/eggs
include-site-packages = false
extends = http://download.ztfy.org/webapp/ztfy.webapp.dev.cfg
versions = versions
newest = false
allow-picked-versions = false
develop = .
          /var/local/src/ztfy-bb/ztfy.base
          /var/local/src/ztfy-bb/ztfy.baseskin
          /var/local/src/ztfy-bb/ztfy.extfile
          /var/local/src/ztfy-bb/ztfy.file
          /var/local/src/ztfy-bb/ztfy.jqueryui
          /var/local/src/ztfy-bb/ztfy.utils
parts = package i18n pyflakes pyflakesrun test

[package]
recipe = zc.recipe.egg
eggs = ztfy.skin

[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = ${package:eggs}
       z3c.recipe.i18n
packages = ztfy.skin
domain = ztfy.skin
output = src/ztfy/skin/locales
zcml = <include file="configure.zcml" />

[pyflakes]
recipe = zc.recipe.egg
eggs = pyflakes
scripts = pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main
initialization = if not sys.argv[1:]: sys.argv[1:] = ["${buildout:directory}/src"]

[pyflakesrun]
recipe = collective.recipe.cmd
on_install = true
cmds = ${buildout:develop}/bin/${pyflakes:scripts}

[test]
recipe = zc.recipe.testrunner
eggs = ztfy.skin [test]

[versions]
ztfy.skin = 0.6.19
