.chatmodule {
  color: @gray-dark;
  width: 250px;
  margin: 20px auto;

  form {
    margin-bottom: 0em;

    input {
      width: 100%;
      padding-left: 5px;
    }
  }
}

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  h1 {
    display: inline;
    font-size: 1.3rem;
  }
  .message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .left {
    float: left;
    text-align: center;
  }
  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
}


.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    min-width: 40px;
    max-width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.message-lisa {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.message-me {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  p {
    font-size: 1.2rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

section.chatmodule {
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 1000;
  margin: 0;
}