/* infocard styles */
#content-core > table {
  width:100%;
  margin:auto;
}
#content-core> table > tbody > tr {
  vertical-align:top;
}
#content-core> table > tbody > tr > th,
#content-core> table > tbody > tr > td
{
  text-align:left;
  line-height: 2em;
  font-size: 1.2em;
}
#content-core> table > tbody > tr > th {
  width:30%;
}
#content-core> table > tbody > tr > td {
  width:70%;
}
#content-core> table > tbody > tr > td > p:last-child {
  margin-bottom:0;
}