/* copied from plone */
.contentActions {
    background-color: #cde2a7;
    border-left: 1px solid #74ae0b;
    border-right: 1px solid #74ae0b;
    color: #578308;
    text-align: left;
    text-transform: none;
    padding: 0 1em 0 0;
    z-index: 2;
    position:relative;
    font-size: large;
    font-weight: bold;
    height: 2.2em;
}
.contentActions ul,
.contentActions li {
    margin: 0;
    list-style: none;
    list-style-image: none;
    color: Black;
    text-align: left;
    line-height: 2.2em;
}
.contentActions li {
    float: left;
    z-index: 4;
    border-left: 1px solid #74ae0b;
}
.contentActions a {
    text-decoration: none;
    /* color: #578308; */
    color: #375306;
    padding: 0 0.5em;
    cursor: pointer;
}

.contentActions span.subMenuTitle {
    padding: 0em 0.5em;
    position: relative;
    white-space: nowrap;
    display: inline;
}
.contentActions a span.subMenuTitle {
    padding: 0px;
    display: inline;
}

.actionMenu {
    /*  The spec says we can't put this on an element with a float (although
        Opera is the only one that cares) and we need it in order to catch
        the position:absolute bubbling up */

    position: relative;
    margin: 0;
    padding: 0;
}
.actionMenu .actionMenuHeader {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.actionMenu.activated .actionMenuHeader {
    position: relative;
    z-index: 10;
}
.actionMenu .actionMenuHeader a {
    display: block;
}
.arrowDownAlternative {
    font-size: 0.85em;
}
.actionMenu .actionMenuContent {
    display: none;
    z-index: 5;
    position: absolute;
    top: 2.2em;
    left: 1px;
    height: auto;
    padding: 0;
    margin: 0;
}
.actionMenu.activated .actionMenuContent {
    display: block !important;
}
.actionMenu.activated .actionMenuContent {
    /* this one will be ignored by IE, it is here to fix the cut-off error in
       Firefox */
    display: table !important;
    border-collapse: collapse;
    border-spacing: 0;
}
.actionMenu.deactivated .actionMenuContent {
    display: none !important;
}
.actionMenu .actionMenuContent ul {
    display: block;
    background: #cde2a7;
    border: 1px #74ae0b;
    border-style: none solid solid solid;
    margin: -2px 0 0 0;
    padding: 0;
}
.actionMenu .actionMenuContent li {
    float: none;
    background-color: transparent;
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
}
.actionMenu .actionMenuContent li a {
    display: block;
    white-space: nowrap;
    margin: 0.2em 0;
}
.actionMenu .actionMenuContent .selected {
    display: block;
    white-space: nowrap;
    padding: 0 0.5em;
    margin: 0.2em 0;
}
.actionMenu .actionMenuContent li a:hover {
    background-color: #74ae0b;
    color: White;
}
.actionMenu .actionMenuContent .actionSeparator a {
    padding-top: 0.2em;
    border-top: 1px solid #74ae0b;
}
.actionMenu .actionMenuContent .actionMenuSelected {
    color: #000;
    font-weight: bold;
}

.odd { background-color:#eeeeee; }


/* does not work for some reason
.actioncell { width: 55px; }
*/

/* general form presentation */
.error { color:red; font-weight: bold }
.field label{ font-weight: bold; }
.formHelp { font-size: small; }
.fieldRequired { font-size: 0pt; } 
.fieldRequired:after{ font-weight: bold; content: "*"; font-size:medium; }
div.action{ display:inline; }

/* special form presentation */
.client input#forn-widgets-title, .client .field-title input { width: 5em; }
input#form-widgets-provider_order_no, .field-provider_order_no input { width: 5em; }
input#form-widgets-unit, .field-unit input { width: 10em; }
input.decimal-field { width: 6em; text-align: right; }
input.int-field { width: 3em; text-align: right; }
td.decimal-field { text-align: right; }
td.int-field { text-align: right; }

input#form-widgets-note, .field-note input { width: 40em; }


/* messages */
dl.message { 
    background-color: #ffffe3; 
    border: 1px solid #996;    
 }

dl.message dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
 }

dl.message dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
 }

dl.warning { border-color: #d80 }
dl.warning dt { background-color: #d80 }
dl.warning dd { background-color: #fd7 }

dl.error { border-color: #d00 }
dl.error dt { background-color: #d00 }
dl.error dd { background-color: #fd7 }

/* destroys the table
.order-perfect:before { content:url("/++resource++dm_zope_reseller/green.png") }
.order-too-high:before { content:url("/++resource++dm_zope_reseller/red.png") }
.order-too-low:before { content:url("/++resource++dm_zope_reseller/yellow.png") }
*/

/* .order-perfect .field-packages { border: 4pt solid green } */
.order-optimal .field-packages { border: 4pt solid yellow }
.order-too-high .field-packages { border: 4pt solid red }
.order-too-low .field-packages { border: 4pt solid orange }

.delivery-missing-data .field-packages { border: 4pt solid red }
.delivery-missing-data .field-catalog_price { border: 4pt solid red }
.delivery-incomplete-distribution .field-article_title { border: 4pt solid orange }
.delivery-incomplete-assignment .field-article_title { border: 4pt solid yellow }
/* .delivery-perfect .field-article_title { border: 4pt solid green } */

.client-delivery-incomplete-assignment .field-client_title {  border: 4pt solid red }
/* .client-delivery-incomplete-confirmation .field-client_title {  border: 4pt solid orange } */
/* .client-delivery-perfect .field-client_title {  border: 4pt solid green } */

.client-delivery-item-proposed .field-article_title {  border: 4pt solid red }
/* .client-delivery-item-assigned .field-article_title {  border: 4pt solid orange } */

.client-delivery-undelivered .field-client_title {  border: 4pt solid yellow }

/* Print overrides */
@media print { 
  .contentActions, .action  { display:none }
}

/* add padding to action cell icons */
/* .actioncell input { margin-left:1em; margin-right:1em } */
.actioncell input { margin:0.3em }
