/* rg.infocard search styles */
.listing.collection-listing {
  width:100%;
  margin:auto;
}
div.formControls {
  margin:0;
  margin-top: 1.35em;
  width:25%;
  float:right;
}
.formControls > input {
  margin-right:2em;
}
#content-core form .field {
  width:25%;
  min-width:200px;
  float:left;
  clear:none;
}
div.field.error {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size:inherit;
}

#content-core .field input,
#content-core .field select {
  width:90%;
}

#content-core table.dataTable tr.odd td {
  background-color: #eee;
}
#content-core table.dataTable tr.even  td {
  background-color: #FFF;
}
.dataTables_filter {
  float: none;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.dataTables_filter input {
  width:100%;
}
#content a.link-overlay {
  border-bottom: none !important;
}