/* infocardcontainer styles */
#formfield-form-widgets-locations,
#formfield-form-widgets-recipients {
  float:left;
  clear:none;
  width: 47%;
  padding-right: 1%;
  margin-right: 1%;
}

#formfield-form-widgets-locations textarea,
#formfield-form-widgets-recipients textarea {
  min-height:10em;
}

.datagridwidget-table-view {
  background:none;
}
.datagridwidget-block-edit-cell > div:first-child {
  float:left;
}
.datagridwidget-block-edit-cell > div:nth-child(2) span.required,
.datagridwidget-block-edit-cell > div:nth-child(3) .label,
.datagridwidget-block-edit-cell > div:nth-child(3) .fieldTextFormat {
  display:none;
}

div.error {
  font-size: inherit;
}
.ploneSkin .mceStatusbar a.mceResize {
  background: none;
}