@import "utils";

/*** LAYOUT **************************************************************************************/

div.width-full {
  width: 100%;
}
div.width-1\3a 3 {
    width: 33.33%;
}
div.position-1\3a 3 {
    margin-left: -66.66%;
}
div.position-2\3a 3 {
    margin-left: -33.33%;
}
div.position-1\3a 3 > .arrondi,
div.position-2\3a 3 > .arrondi {
    margin-left: 0.25em;
}

div.width-3\3a 4 {
	width: 75%;
}
div.position-1\3a 4 {
	margin-left: -75%;
}
div.width-1\3a 4 {
	width: 25%;
}
div.position-2\3a 4 {
    margin-left: -50%;
}
div.position-3\3a 4 {
	margin-left: -25%;
}

div.position-0 {
  margin-left: -100%;
}

div.position-1\3a 2 {
    margin-left: -50%;
}
div.width-1\3a 2 {
    width: 50%;
}

body.template-cours_plan_view {
    div.width-1\3a 4 {
        width: 39.5%;
        margin-left: -39.5%;
    }
    div.width-3\3a 4 {
        width: 60%;
    }
}

#visual-portal-wrapper {
    min-width: 53em;
}

.documentContent {
    background-color:transparent;
    padding-top:2em !important;
}
body#content.documentContent {
    padding-top: 0 !important;
}

.documentActions {
    border:0;
}
#portal-colophon {
    display:none;
}

#portal-personaltools {
    padding:0;
    line-height:2em;
}

#portal-column-content, #region-content {
    border:0 !important;
    padding:0 !important;
}


#portal-footer,
#portal-siteactions {
    background-color:transparent;
    border:0;
    margin:2em 0;
    padding:0;
    text-shadow: 0 0 0 @black100;
    clear:both;
}
#portal-footer {
    p {
        color: @lightColor;
        text-align: center;
        text-shadow:@black0 0px 0px 0px;
        padding: 0.5em 0;
        margin: 0 5px;
    }
    a.link, a.link:hover {
        color: @lightColor !important;
        text-decoration:underline;
    }
}


div#content, #portal-column-one {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGElEQVQIHWM4s2f1f4b///8zMPva6kBYAHN0CuVoDKbzAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	background-position: left bottom;
    background-color: @lightGreyColor;
    .box-shadow(0, 0, 10px, @black100);
}
div#content {
    margin: 0;
    padding: 10px 20px 4em 20px;
}
#portal-column-one {
    color: @darkColor;
}


/*** TROMBINOSCOPE *****************************************************************/

#listingTrombi {

    ul {
        text-align: center;
        
        li {
            background-color: @lightColor;
            color: @darkColor;
            display: inline-block;
            width: 21.5%;
            padding: 1%;
            margin:0.5%;
            margin-bottom: 5px;
        	font-family: "Comic Sans MS";
            .box-shadow(0, 3px, 6px, @black50);
            .rotation(1deg);
            
            &:nth-child(3n) {
                .rotation(-2deg);   
            }
            img {
                width: 100%;
                margin-bottom: 5px;
            }
            span {
                display: block;
                text-align: center;
                font-weight: bold;
                .ellipsis();
            }
            br {
                display: none;
            }
        }
    }
}

/*** CONNEXION *******************************************************/



/*** DIVERS *****************************************************************/

#edit-bar * {
    text-shadow: 0 0 0 @black100;
}
#edit-bar {
    display: none !important;
}

.centrer{
	text-align:center;
}
.position_gauche {
    float: left;
    margin-right: 0.5em;
    clear: none;
}
.position_droite {
    float: right;
    margin-left: 0.5em;
    clear: none;
}

.visualClear {
    display:block;
}

.discreet, #content .discreet,
.element_vide {
    color: @darkGreyColor;
    font-size: 85%;
    font-weight: normal;
}
.element_vide {
    font-size: 100%;
    margin-left: 2em;
}


.lecteur_exportable iframe {
    width: 100%;
}

iframe.insert_wims {
	width:100%;
	height:100%;
	min-height:600px;
	border:none;
}

div.pb-ajax ul.formTabs {
    display : none;
}

.vignette_primo img {
    width:60px;
}

/*** MARGES SUR TITRES TAGS ****/

#content h2.texte_icone.icone_tags {
    margin-top: 2em;
}

body.template-jalonfolder_view.section-cours {
    #content {
        h2.texte_icone.icone_cours {
            float: left;
            margin-bottom: 1em;
        }
        div.tags {
            margin-top: 2.25em !important;
        }
        #create_cours {
            clear: left;
            margin-bottom: 0.5em;

            a.bouton {
                float: left;
            }
            ul#tag {
                padding: 0.5em 0;
            }
        }
        #create_cours, #tableau, h2.texte_icone.icone_universite {
            padding-left: 20px !important;

            #tableau, table.listing {
                padding-left: 0 !important;
            }
        }
        .mescours_etudiants {
            h2.texte_icone.icone_user {
                float: right;
                margin-top: 0.5em;
                margin-right: 40px;
            }
            h2.texte_icone.icone_cours {
                clear: none;
            }
        }

    }
}

/*** LET IT SNOW ****/

/*@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-color:@mainColor;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:@mainColor;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
body.template-firstpage_view.portaltype-plone-site.role-anonymous,
body.template-login_form.role-anonymous,
body.template-ent {
    background-image: url('@{theme}/snow.png'), url('@{theme}/snow3.png'), url('@{theme}/snow2.png') !important;
    background-repeat: repeat !important;
    background-position: top left !important;
    
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;

    div#content {
        background-image: none !important;
    }
}*/



