@import "utils";


/*@slideWidth: 300px;

#pageslide {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 999999;
    font-size: 80%;
    
    width: @slideWidth;
    
    background-color: #333;
    background-image: url("++resource++jalon.theme.images/linen.png");
    .box-shadow(-10px, 0, 5px, #2A2A2A, inset);

    * {
        color: @lightColor;
        text-shadow: 0 0 transparent;
    }

    h2, p, ul.onglets {
        clear: left;
    }
    h2 {
        display: none;
        
        .gradient(@white20, @black25);
        text-shadow: 0 1px 2px @black100;
        border-bottom: 1px solid @black100;
        .box-shadow(0, -1px, 1px, @white10, inset);

        padding: 0.5em;
        margin: 0;
        text-align: center;
        &:before {
            .opacity(100);
        }

        a.bouton {
            background-color: @black100 !important;
            color: @white100 !important;
             .box-shadow(0, 1px, 1px, @white25,  ~'!important');
        }
    }
    h3 {
        & {
            position: relative;
            z-index: 10;
            padding: 1em;
            margin: 0;
            .gradient(@black50, @black0);
            text-align: center;
            text-shadow: 0 1px 2px @black100;
        }
        &:after {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-bottom-color: @black100;
            left: 12.5%;
            border-width: 7px;
            margin-left: -7px;
        }
    }
    p {
        background-color: @black100;
        border-top: 1px solid @white25;
        bottom: 0;
        .opacity(75);
        padding: 0.5em 0;
        position: fixed;
        text-align: center;
        width: @slideWidth;
        z-index: 10;

        span:before {
            .opacity(100);
        }
    }

    #secondary {
        h2:first-child {
            border-top: 0;
        }
        p:last-child {
            border-bottom: 0;
        }
    }


    ul.onglets {
        margin: 0;

        .categorie {
            .radius(0);
            .gradient(@black50, @black0);
            background-color: transparent !important;
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
            width: 25%;

            &.selected, &:hover {
                z-index: 10;
            }
            &.selected a, a:hover {
                background-color: @mainColor;
                .gradient-2stops(@white10, @white0, 49.9%, @black10, 50%, @black20);
            }

            a {
                margin: 0 !important;
                padding: 0 !important;
                border: 0 !important;
                line-height: 3em;

                background-color: #333333;
                box-shadow: 0 1px 1px @black100, 0 -1px 1px @white10 inset;
                .gradient-2stops(@white10, @white0, 49.9%, @black10, 50%, @black20);

                span {
                    display: none;
                }
            }
        }
    }

    ul.sortable {
        padding: 0 5px;

        li {
            display: block;
            background-color: #333;
            background-color: @white10;
            border: 1px solid @white10;
            margin: 0;
            margin-bottom: 2px;
            padding: 0.5em;
            cursor: move;
            .radius(5px);
            .box-shadow(0, 1px, 1px, @black100);

            span.titre {
                float: left;
                font-weight: bold;
                text-shadow: 0 1px 1px @black100;

                &:before {
                    .opacity(100);
                }
            }
            span.indicateur {
                float: right;
                background-color: #222;
            }
        }
    }

    &::-webkit-scrollbar {
        width:10px;
        height:10px;
        border-left:solid 1 @black100;
    }
    &::-webkit-scrollbar-button:start:decrement {
        display:block;
        height:5px;
    }
    &::-webkit-scrollbar-button:end:increment {
        display:block;
        height:5px;
    }
    &::-webkit-scrollbar-button:vertical:increment {
        background-color:transparent;
    }
    &::-webkit-scrollbar-track:enabled {
        background-color:rgba(113,112,107,0.1);
        -webkit-border-radius:5px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        height:50px;
        background-color: @white25;
        -webkit-border-radius:5px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        width:50px;
        background-color: @white25;
        -webkit-border-radius:5px;
    }
}*/

/*** INTERFACE v2 *******************************************************/



@portal_top_font_size: 1em;
@portal_top_logo_margin: 0.5em;
@portal_top_height: 2*@portal_top_font_size + 2*@portal_top_logo_margin;

body {
    background-image: none;

    div#portal-top {
        background: url("@{theme}/@{backgroundImageTop}") repeat-x scroll 50% bottom transparent !important;
        background-size: 100% auto !important;
        background-color: @black33;
        position: fixed;
        z-index: 11;

        a#portal-logo, ul#portal-languageselector, ul#portal-globalnav {
            font-size: @portal_top_font_size;
            line-height: @portal_top_font_size;
            padding: 0;
        }

        a#portal-logo {
            margin: @portal_top_logo_margin;
            height: 2*@portal_top_font_size;

            img {
                width: auto;
                height: 100%;
            }
        }
        ul#portal-globalnav, ul#portal-languageselector {
            li a {
                padding: (@portal_top_height - @portal_top_font_size)/2;
                margin: 0;
                border:0;
                .radius(0);
                .box-shadow-none();
            }
        }
        ul#portal-languageselector {
            li a {
                height: 1em;
                padding-left:@portal_top_logo_margin;
                padding-right:@portal_top_logo_margin;
            }
        }
    }
    div#portal-column-content {
        background-color: @lightColor;
        font-size: @portal_top_font_size;
        margin-top: @portal_top_height;
    }
    #portal-breadcrumbs {
        z-index: auto;
    }


    div#content {
        border: 0;
        .box-shadow-none();
        background-image: none;
        padding-bottom: 6em;

        .jumbotron {
            background: url("@{theme}/blurred2.jpg") repeat-x scroll 50% bottom transparent;
            background-size: 100% 500%;
            margin: -10px -20px 0 -20px;
            padding: 30px 20px;
            text-align: center;

            h1, h2, .discreet {
                color: @lightColor;
            }

            h1, h2 {
                font-weight: normal;
                font-family: 'hero_lightlight', sans-serif;
                color: @lightColor;
                text-shadow: 0 0 12px @black50;
                margin: 0;
                padding: 0;
            }
            h1 {
                letter-spacing: 0.33em;
                font-size: 200%;
            }
            h2 {
                //font-size: 100%;
                font-weight: 400;
                letter-spacing: 0.15em;
                margin-top: 1em;
                .ellipsis();
            }
        }

    }

    #portal-footer {
        margin: 0;

        p {
            margin: 0;
            padding: 1em;
            //background-color: @mainColor;
            background-color: transparent;
            .radius(0);
        }
    }
}

/*** CONNEXION *******************************************************/

body.template-firstpage_view.role-anonymous,
body.template-login_form.role-anonymous,
body.template-inscrire_mooc {

    div#visual-portal-wrapper {
        min-width: auto;
    }
    div#portal-top {
        display: none;
    }

    ul#portal-globalnav, #portal-languageselector {
        li a:hover, li.selected a, li.selected a:hover,
        li.currentLanguage a {
            background-image: none !important;
            background-color: @black50 !important;
        }
    }

    div#portal-column-content {
        margin-top:0;
    }
    div#content {
        background-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;

        h1 {
            text-transform: inherit;
            font-size: @connexionTitleSize;
        }
        .jumbotron {
            margin: 0;
            background-image: url("@{theme}/@{backgroundImageLog}");
            padding-top: 75px;
            padding-bottom: 75px
        }


        div.row {
            text-align: center;
            padding: 2em 0;
            width: 80%;
            margin-left: 10%;
            border-bottom: 1px solid lighten(@mediumGreyColor, 10%);

            &:last-child {
                border-bottom: 0;
            }

            div.cell div {
                padding: 0 3%;

                h3 {
                    font-family: 'Ubuntu',sans-serif;
                    font-size: 150%;
                    font-weight: 700;
                    text-shadow: none;

                    &.texte_icone:before {
                        display: inline-block;
                        font-size: 3em;
                        width: 2em;
                        line-height: 2em;
                        .radius(2em);
                        background-color: saturate(@mainColor, 25%);
                        //background-color: saturate(@mainColor, 15%);
                        color: @lightColor;
                        .opacity(100);
                    }
                    span {
                        display: block;
                        margin-top: 0.5em;
                    }
                }
                p {
                    color: @darkGreyColor;
                    font-size: 105%;
                    text-align: center;
                }
                a.bouton {
                    font-size: 133%;
                }

            }
        }
    }

    #portal-footer {
        p {
            padding: 2em;
        }
    }
}

div#content div.connexion {
    a.bouton {
        border: 0 !important;

        &.blanc {
            font-size: 133%;
            margin-top: 2em;
        }
        &.small {
            background-color: @black100;
        }
    }
}

body.template-login_form.role-anonymous,
body.template-inscrire_mooc {
    div#content {
        padding-bottom: 0;
    }
}
body.template-inscrire_mooc {
    div#content {
        h1 {
            font-size: 300%;
        }
        h2 {
            font-size: 200%;
        }
    }
}



.video-container {
    height: 0;
    overflow: hidden;
    padding: 0 0 55% !important;
    position: relative;

    iframe, object, embed {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

/*** MOBILE ***/

@media only screen and (max-width: 480px) {

    body.template-firstpage_view.role-anonymous, body.template-login_form.role-anonymous {

        div#content {
            div.row {
                width: 100%;
                margin: 0;

                div.cell {
                    float: none;
                    width: 100%;
                    margin-left: -100%;
                }
            }
        }
    }
}

/*** BULLES ***/

.bulle {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    text-shadow: none;
    text-align: center;

    &:before {
        display: inline-block;
        font-size: 3em;
        width: 2em;
        line-height: 2em;
        .radius(2em);
        background-color: saturate(@mainColor, 25%);
        //background-color: saturate(@mainColor, 15%);
        color: @lightColor;
        .opacity(100);
    }
    &.on {
        &:before, span.sup {
            background-color: @informationColor;
        }
    }
    &.off {
        &:before, span.sup {
            background-color: @warningColor;
        }
    }
    strong {
        display: block;
        margin-top: 0.5em;
    }
    span.sup {
        font-size: 150%;
        position: absolute;
        top: 0;
        margin: 0;
        margin-left: 0.25em;
    }
}


