@import "utils";

/*** TABLEAUX *****************************************************************/

@table-border-color: @black10;
    
table.listing {
    width: 100%;
    clear: both;
    border: 0;
    padding: 0;
    padding-left: 20px;
    border-collapse: separate !important;
    
    td, th {
        padding: 0.5em 1em;
        white-space: nowrap;
        vertical-align: middle;
        
        .indicateur,
        .bouton.fullwidth {
        	display: block !important;
        	text-align: center;
        	white-space: nowrap;
        	.radius(1.25em);
        }
    }
    
    thead {
        th {
            width: 1px;
            white-space: nowrap;
        }
        tr th {
            text-align: left;
            border: 1px solid @table-border-color;
            border-right-width: 0;
            background-color: @lightColor;
            
            &.icone {
                text-align: center;
            }
            
            &:first-child {
                .radius-top-left(5px);
            }
            &:last-child {
                .radius-top-right(5px);
                border-right-width: 1px;
            }
        }
    }
    
    tbody {
        tr {
            &, &.odd, &.even {
                background-color: transparent;
                
                td {
                    background-color: @lightColor;
                    border: 0;
                    border-bottom: 1px solid @table-border-color;
                }
            }
            &:last-child td {            
                &:first-child {
                    .radius-bottom-left(5px);
                }
                &:last-child {
                    .radius-bottom-right(5px);
                }
            }
            td:first-child {
                border-left: 1px solid @table-border-color;
            }
            td:last-child {
                border-right: 1px solid @table-border-color;
            }
        }
    }
    
    tfoot {
        tr td {
            border-right-width: 0;
            &.icone {
                font-weight: normal;
                font-size: 133%;
            }
        }
    }
    
    thead th,
    tfoot td {
        text-align: center;
        font-size: 100%;
        font-weight: bold;
        color: @darkGreyColor;
    }
    
    .fullwidth {
        width: auto;
        white-space: normal;
    }
    
    .tdcenter {
        text-align: center;
    }
    
    caption {
        display: none;
       
        &.texte_icone {
           display: table-caption;
           text-align:left;
        }
    }
}


/*** LISTING VIDE *********************************/

div.listing_vide {
    clear: both;
    margin: 0 !important;
    padding: 1em;
    
    &, p {
        color: @darkGreyColor;
        text-align: center;
        font-size: 100% !important;
        font-weight: bold;
    }
}

/*** CHECK ALL *********************************/

th.checkall {
    text-align: center !important;
    
    label, .sortdirection {
        display: none;
    }
}

/*** DIVERS *********************************/

.sortdirection {
    margin-left: 0.5em;
}
