@import "utils";

/*** PLAN INTERACTIF ****************************************************************/

ol#plan {
    clear: both;
	li span.arrondi {
	    display: block;
	    margin-top: 0.25em;
    }
}

ul#annonces, ul#actualites {
    clear: both;
    li span.arrondi {
        display: block;
        margin-top: 0.25em;
        overflow-x: hidden;
    }
}

.sortableElement:hover {
    cursor: move;
}
.sortableElement .drag {
    display: block;
}

.typeElement {
    padding-left: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-left-width: 5px;
    z-index: auto;
    
    &.type_Titre {
        border-color: @category2Color;
        border-width: 3px 0 0 3px;
    }
    &.type_Mon_Espace {
        border-left-color: @category3Color;
    }
    &.type_Activite {
        border-left-color: @category5Color;
    }

    .typeElementTitre {
        line-height: 2.25em;

        &a {
            color:@mainColor !important;
        }
    }
    &.off {
        .typeElementTitre {
            color:@mediumGreyColor !important;
        }
    }

    &.type_Titre .typeElementTitre {
        font-size: 105%;
        font-weight: 700;
    }
    &.type_TexteLibre .typeElementTitre {
        font-size: 90%;
        line-height: inherit;
    }

    a.bouton.popover-button {
        margin-left: 1em !important;
    }
}




ul#annonces, ul#actualites {
	.typeElement {
		border: none;
		
		.typeElementTitre {
			float: none;
		}
	}
}
ul#annonces .discreet {
    /*.ellipsis();
	   
    &:hover {
       white-space: normal;
    }
    
    br {
        display: none;
    }*/
}

#glossaire, #bibliographie {
    &.listing_vide {
        margin-top: 0.25em !important;
        padding: 0.5em;
    }
    .typeElement {
        border: 0;
        
        a {
            border-bottom: 0;
        }
    }
}

.placeholder {
    background-color: @informationColor;
    color: @lightGreyColor;
    font-size: 150%;
    height: 2em !important;
    .radius(5px);
    
    &:before {
        line-height: 2em;
    }
}

.plan > ol > .chapitre {
    margin-bottom: 1em !important;
}
#content .plan a.link-overlay {
    border-bottom:0 !important;
    font-weight: 700;
}

/***************************************/

#plan .typeElement {
    padding: 0.5em 0;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    .box-shadow(0, 1px, 0, @white75, inset);

    &.sortableElement {
        padding: 0;
    }

    .typeElementTitre {
        color: @black100 !important;
        text-shadow: 0 1px 1px @white100;
    }
    &.off {
        .typeElementTitre {
            color:@mediumGreyColor !important;
            &:hover {
                color:@darkGreyColor !important;
            }
        }
    }

    .drag {
        margin: 0.5em;
        margin: 0.25em 0.5em 0;

        &:before {
            width: 0.5em;
            .radius(1em);
            color: transparent;
            content: ".";
            display: inline-block;
            line-height: 1.75em;
            margin-right: 0.5em;
        }
    }

    &.type_Titre {
        border:3px solid #437E66 !important;
        /*border-bottom-width: 0 !important;
        .radius-bottom-left(0);
        .radius-bottom-right(0);*/

        .drag {
            &:before {
                display: none;
            }
        }
    }

    &.type_Titre .drag:before {
        background-color: saturate(@category2Color, 25%);
    }
    &.type_TexteLibre .drag:before {
        display: none;
    }
    &.type_Mon_Espace .drag:before {
        background-color: saturate(@category3Color, 25%);
    }
    &.type_Activite .drag:before {
        background-color: saturate(@category5Color, 25%);
    }

}

.nouveau:before {
    color: darken(@category4Color, 10%);
}
