@import "utils";

/*** BOUTONS ***********************************************************************/

a.bouton, #content a.bouton,
a.bouton:focus, #content a.bouton:focus,
input.bouton, input.searchButton, input.destructive,
.standalone,
.context, .formControls .actionButtons .button, .documentEditable * .context,
div.qq-upload-button, .uploadifybutton, .qq-upload-list .qq-upload-cancel,
#content a.creer_tag, #content #tag li a, #tag li a,
button.ui-button,
.listesDoubles button.versListeDouble,

body.portaltype-ploneboard ul.visualNoMarker.discreet li a,
body.portaltype-ploneboardforum ul.visualNoMarker.discreet li a,
body.portaltype-ploneboardforum a.link-parent,
body.portaltype-ploneboardconversation a.link-parent,
button.destructive {
    display:inline-block;
    width:auto;
    font-size: 1em;
    font-weight:normal;
    margin:0;
    margin-bottom: 0.1em;
    margin-right: 0.25em;
    padding: 0.5em 1em !important;
    background-position:0 0 !important;
    cursor:pointer;
    overflow:visible;
    text-decoration:none;
    
    background-color:@buttonColor;
    color: @lightColor !important;
    
    border-width: 1px !important;
    border-style: solid !important;
    border-color: @black10 !important;
    border-bottom-color: @black25 !important;
    
    text-shadow:0 -1px 1px @black100;
    .radius(3px);
    border-color: @black25 !important;
}
a.bouton.small, #content a.bouton.small, input.context.small, .context.small,
input.bouton.small, input.searchButton.small, input.destructive.small, .standalone.small,
#content a.creer_tag, #content #tag li a, #tag li a,
.listesDoubles button.versListeDouble,

body.portaltype-ploneboard ul.visualNoMarker.discreet li a,
body.portaltype-ploneboardforum ul.visualNoMarker.discreet li a,
body.portaltype-ploneboard ul.visualNoMarker.discreet li .searchButton,
body.portaltype-ploneboardforum a.link-parent,
body.portaltype-ploneboardconversation a.link-parent {
    font-size:90%;
    padding: 0.25em 0.75em !important;
}
a.bouton.blanc, #content a.bouton.blanc, .context.blanc,
input[name="form.button.cancel"],
#uploadify-clear-queue,

body.portaltype-ploneboardforum a.link-parent,
body.portaltype-ploneboardconversation a.link-parent {
    background-color: @lightColor;
    color: @darkColor !important;
    font-weight:bold;
    text-shadow:0 1px 1px @white100;
    .gradient(@black0, @black5, ~'!important');
}

a.bouton.off, #content a.bouton.off,
input.bouton.off, input.context.off,
.standalone.off {
	.opacity(50);
	cursor:default !important;
}

a.bouton:hover, #content a.bouton:hover, .context:hover,
input.bouton:hover, input.searchButton:hover, input.destructive:hover,
.standalone:hover,
.context:hover, .formControls .actionButtons .button:hover, .documentEditable * .context:hover,
.qq-upload-button:hover,
#content a.creer_tag:hover, #content #tag li a:hover, #tag li a:hover {
    text-decoration:none;
    .gradient(@black25, @black0, ~'!important');
}
a.bouton.blanc:hover, #content a.bouton.blanc:hover, .context.blanc:hover,
input[name="form.button.cancel"]:hover,
#uploadify-clear-queue:hover {
    .gradient(@black10, @black0, ~'!important');
}


a.bouton.warning, #content a.bouton.warning,
input.context.warning {
  background-color:@warningButtonColor;
  color: @lightColor;
}

a.bouton.important, #content a.bouton.important, .context.important,
input.bouton.important, input.searchButton.important, input.destructive.important, .standalone.important,
.context.important, input.context.important,
#content .qq-upload-list .qq-upload-cancel {
	background-color:@importantColor;
	color: @lightColor;
}


a.bouton.information, #content a.bouton.information, .context.information,
input.bouton.information, input.searchButton.information, input.destructive.information, .standalone.information,
.context.information, input.context.information {
	background-color:@informationColor;
	color: @lightColor;
}

/*** TEXTES ICONES ***********************************************************************/

.texte_icone {
    padding-left: 22px !important; /* 18 + 4 */
}
label.texte_icone {
    display: inline-block;
}

/***  ICONES SEULES ***********************************************************************/

a.bouton.iconeseule, 
#content a.bouton.iconeseule {
    padding: 0 !important;
    .radius(1.1em);
}

/*** DIVERS *********************************************************************************/

.bouton.icone_retour.position_droite {
    margin-right: 40px;
}
