@import "utils";

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {

	div#visual-portal-wrapper {
		font-size: 110%;
	    min-width: 0em;
	}
	div#content.connexion {
	    padding-top: 10px;
	    background-position: center 10px;
	    min-height: 0;
	}

	#portal-footer, #portal-siteactions {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
	
	.categorie {
		margin-right: 0 !important;

    	&.categorie_plan a {
    		font-size: 85%;
    	}
    }
}