@import "utils";

@font-face {
	font-family: 'IcoMoon';
	src: url('@{theme}/fonts/IcoMoon.eot');
	src: url('@{theme}/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('@{theme}/fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('@{theme}/fonts/IcoMoon.woff') format('woff'),
		url('@{theme}/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

ul#portal-globalnav li a span:before,
#content .categorie a:before,
.texte_icone:before,
.bouton_icone:before, #content a.creer_tag:before,
.qq-upload-list .qq-upload-cancel:before, .qq-upload-button:before,
a.bouton.iconeseule:before, #content a.bouton.iconeseule:before,
.typeElement .typeElementTitre:before,
#tag li a:before, #content #tag li a:before,
table.listing th.icone, table.listing td.icone, table.listing span.icone,
.placeholder:before,
.favori:before,
#pageslide ul.onglets a:before,

body.portaltype-ploneboard ul.visualNoMarker.discreet li a:before,
body.portaltype-ploneboardforum ul.visualNoMarker.discreet li a:before,
body.portaltype-ploneboardforum a.link-parent:before,
body.portaltype-ploneboardconversation a.link-parent:before,
body.portaltype-ploneboardforum form button.standalone:before,
body.portaltype-ploneboardconversation .boardCommentActions .context:before,
body.portaltype-ploneboardconversation .boardCommentActions .destructive:before,
body.portaltype-ploneboardconversation .boardCommentActions .standalone:before,
body.portaltype-ploneboardconversation .boardCommentReplyActions .standalone:before,
body.portaltype-ploneboardconversation .boardComment blockquote:before,

.mceButton:before {
    font-family: 'IcoMoon';
    font-weight: normal !important;
    vertical-align: top;
    margin-right: 0.5em;
}

ul#portal-globalnav li a span:before,
.indicateur:before {
    margin-right: 0.5em;
    vertical-align: baseline;
}
#content .categorie a:before {
    font-size: 250%;
    padding: 0.33em;
    margin: 0;
    display: block;
    text-align: center;
}
#content .categorie.categorie_resume a:before {
    display: inline;
    font-size: 125%;
    padding-right: 0;
}

.texte_icone:before,
table.listing tbody td.icone, table.listing tbody td span.icone {
    font-size: 100%;
    .opacity(50);
}
label.texte_icone:before {
    font-size: 125%;
}
a.bouton.iconeseule,
#content a.bouton.iconeseule,
.qq-upload-list .qq-upload-cancel {
    &:before {
        font-size: 125%;
        margin: 0;
    }
    &.small:before {
        font-size: 50%;
    }

}
.typeElement .typeElementTitre:before {
    font-size: 150%;
    .opacity(50);
}
.typeElement.type_TexteLibre .typeElementTitre:before {
    font-size: 125%;
}

#tag li a:before, #content #tag li a:before {
    font-size: 75%;
    margin-left: 0.25em;
    margin-right: 0.5em;
    vertical-align: middle;
}

#message {
    &.success::before, &.failure::before, &.warning::before,
     .success::before,  .failure::before,  .warning::before {
        font-family: 'IcoMoon';
        font-weight: normal !important;
        vertical-align: top;
        margin-right: 0.25em;
        content: "\0041";
    }
    &.warning::before, .warning::before {
        content: "\0069";
    }
    &.failure::before, .failure::before {
        content: "\003a";
    }
}


/***************************************************/

ul#portal-globalnav {
    font-size: 100%;
    
    li:first-child a, li:first-child a:hover {    
        .radius-top-left(1.5em);
        .radius-bottom-left(1.5em);
    }
    li:last-child a, li:last-child a:hover {
        .radius-top-right(1.5em);
        .radius-bottom-right(1.5em);
    }
}


ul#portal-globalnav li a span {
    background-image: none !important;
    padding-left: 0 !important;
    text-indent: 0 !important;
}

ul#portal-globalnav li a span strong {
    font-weight: normal !important; 
}


ul#portal-globalnav li#portaltab-logout a span {
    &:before {
        margin-right: 0;
    }
    strong {
        display: inline-block;
        text-indent: -10000px;
    }
}


#content .categorie a {
    background-image: none !important;
    text-shadow: 0 -1px 1px @black100;
}


.onglets .categorie a,
#content .onglets .categorie a {
    line-height: inherit;
}
.onglets .categorie a:before,
#content .onglets .categorie a:before {
    display: inline;
    font-size: 150%;
    margin-right: 0.25em;
    vertical-align: top;
    font-weight: normal !important;

}




.texte_icone {
    padding-left: 0 !important;
    
}
a.texte_icone.icone_wims:hover:before {
    display: inline-block;
    .transitionPrefix(transform, 1s);
    .rotation(360deg);
}



a.bouton.iconeseule,
#content a.bouton.iconeseule {
    padding: 0.25em 0.35em !important;
}
a.bouton.iconeseule span, 
#content a.bouton.iconeseule span {
    display: none;
}


.typeElement .typeElementTitre {
    /*background-image: none !important;
    padding: 0.3em 0.25em !important;*/
}



/*** CONTENTS GLOBALNAV ****************************/

ul#portal-globalnav {
    #portaltab-index_html   a span:before { content:'\0021'; }
    #portaltab-cours        a span:before { content:'\0022'; }
    #portaltab-etudiants    a span:before { content:'\0023'; }
    #portaltab-logout       a span:before { content:'\0024'; }
}

/*** CONTENTS CATEGORIES ****************************/

#content {
    .categorie_fichiers             a:before { content: "\0025"; }
    .categorie_sonorisation         a:before { content: "\0026"; }
    .categorie_wims                 a:before { content: "\0027"; }
    .categorie_ressourcesexternes   a:before { content: "\0028"; }
    .categorie_glossaire            a:before { content: "\0054"; }
    .categorie_webconference        a:before { content: "\002a"; }
    .categorie_clubjalon            a:before { content: "\002b"; }
    .categorie_sos                  a:before { content: "\002c"; }
    
    .categorie_demo                 a:before { content: "\002f"; }
    .categorie_configuration        a:before { content: "\0030"; }
    .categorie_mescours_C2ITICE     a:before { content: "\0031"; }
    
    .categorie_plan_texte           a:before { content: "\0029"; }
    .categorie_plan_monespace       a:before { content: "\0021"; }
    .categorie_plan_creer_monespace a:before { content: "\004d"; }
    .categorie_plan_activite        a:before { content: "\002d"; }
    .categorie_plan_gestion         a:before { content: "\002e"; }
    
    .categorie_activite_sujets      a:before { content: "\0032"; }
    .categorie_activite_exercices   a:before { content: "\0036"; }
    .categorie_activite_resultats   a:before { content: "\0033"; }
    
    .categorie_boite_sujets         a:before { content: "\0035"; }
    .categorie_boite_depots         a:before { content: "\0034"; }
    .categorie_boite_corrections    a:before { content: "\0033"; }
    .categorie_boite_competences    a:before { content: "\0050"; }
    
    .categorie_resume_annonces      a:before { content: "\0060"; }
    .categorie_resume_actualites    a:before { content: "\005e"; }
    .categorie_resume_forums        a:before { content: "\e016"; }
    .categorie_resume_comments      a:before { content: "\e013"; }
    .categorie_resume_shares        a:before { content: "\e00f"; }
    .categorie_resume_participants  a:before { content: "\0023"; }
}

/*** CONTENTS BOUTONS ****************************/

.bouton_icone {
    &.icone_creer:before        { content: "\003f"; }
    &.icone_connexion:before    { content: "\0037"; }
    &.icone_retour:before       { content: "\0038"; }
    &.icone_valider:before      { content: "\0041"; }
    &.icone_supprimer:before    { content: "\003a"; }
    &.icone_favoris:before      { content: "\0061"; }
    &.icone_upload:before       { content: "\0042"; }
    &.icone_download:before     { content: "\0043"; }
    &.icone_visible:before      { content: "\003b"; }
    &.icone_invisible:before    { content: "\003c"; }
    &.icone_modifier:before     { content: "\0064"; }
    &.icone_forum:before        { content: "\0049"; }
    &.icone_reglage:before      { content: "\006c"; }
    &.icone_heure:before        { content: "\0053"; }
    &.icone_plan_gestion:before { content: "\002e"; }
    &.icone_competences:before  { content: "\0050"; }

    &.icone_fleche_haut:before   { content: "\2b06"; }
    &.icone_fleche_bas:before    { content: "\2b07"; }
    &.icone_fleche_droite:before { content: "\0037"; }
    &.icone_fleche_gauche:before { content: "\0038"; }
}
#content a.creer_tag:before,
.qq-upload-button::before {
    content: "\003f";
}
.qq-upload-list .qq-upload-cancel:before {
    content: "\003a";
}

/*** CONTENTS ICONES SEULES ****************************/

a.bouton.iconeseule, 
#content a.bouton.iconeseule {
    &.icone_visible:before          { content: "\003b"; }
    &.icone_invisible:before        { content: "\003c"; }
    &.icone_visible_date:before     { content: "\003d"; }
    &.icone_invisible_date:before   { content: "\003e"; }
    &.icone_fleche_droite:before    { content: "\0037"; }
    &.icone_fleche_gauche:before    { content: "\0038"; }
    &.icone_modifier:before         { content: "\0064"; }
    &.icone_supprimer:before        { content: "\003a"; }
    &.icone_reglage:before          { content: "\006c"; }
}


/*** CONTENTS TYPES ****************************/

.typeElement {
    &.type_File                     .typeElementTitre:before { content: "\0046"; }
    &.type_Page                     .typeElementTitre:before { content: "\0046"; }
    &.type_Image                    .typeElementTitre:before { content: "\004a"; }
    &.type_Lienweb                  .typeElementTitre:before { content: "\0028"; }
    &.type_Lecteurexportable        .typeElementTitre:before { content: "\004b"; }
    &.type_CatalogueBU              .typeElementTitre:before { content: "\0044"; }
    &.type_Glossaire                .typeElementTitre:before { content: "\0054"; }
    &.type_Examen                   .typeElementTitre:before { content: "\0048"; }
    &.type_AutoEvaluation           .typeElementTitre:before { content: "\002d"; }
    &.type_BoiteDepot               .typeElementTitre:before { content: "\0045"; }
    &.type_Presentationssonorisees  .typeElementTitre:before { content: "\0026"; }
    &.type_Forum                    .typeElementTitre:before { content: "\0049"; }
    &.type_SalleVirtuelle           .typeElementTitre:before { content: "\002a"; }
    &.type_Webconference            .typeElementTitre:before { content: "\0047"; }
    &.type_TexteLibre               .typeElementTitre:before { content: "\004c"; }
}

/*** CONTENTS TITRES ****************************/

.texte_icone {
    &.icone_monespace:before	  { content: "\0021"; }
    &.icone_cours:before	      { content: "\0022"; }
    &.icone_wims:before	          { content: "\0027"; }
    &.icone_fichiers:before		  { content: "\0025"; }
    &.icone_fichier:before		  { content: "\0065"; }
    &.icone_exercice:before		  { content: "\0036"; }
    &.icone_user:before		      { content: "\0056"; }
    &.icone_users:before		  { content: "\0023"; }
    &.icone_verrou:before		  { content: "\0055"; }
    &.icone_refresh:before		  { content: "\002d"; }
    &.icone_consignes:before	  { content: "\0051"; }
    &.icone_heure:before		  { content: "\0053"; }
    &.icone_retard:before		  { content: "\0057"; }
    &.icone_information:before	  { content: "\004c"; }
    &.icone_visible:before		  { content: "\003b"; }
    &.icone_liste:before		  { content: "\0050"; }
    &.icone_reussite:before		  { content: "\0058"; }
    &.icone_forum:before		  { content: "\0049"; }
    &.icone_balance:before		  { content: "\004e"; }
    &.icone_universite:before	  { content: "\0059"; }
    &.icone_plan:before		      { content: "\005a"; }
    &.icone_recherche:before	  { content: "\005c"; }
    &.icone_lettres:before		  { content: "\0054"; }
    &.icone_livre:before		  { content: "\0044"; }
    &.icone_livres:before		  { content: "\004f"; }
    &.icone_url:before		      { content: "\0028"; }
    &.icone_tags:before           { content: "\005d"; }
    &.icone_contrast:before		  { content: "\0052"; }
    &.icone_nouveautes:before  	  { content: "\005e"; }
    &.icone_mail:before           { content: "\005f"; }
    &.icone_annonce:before        { content: "\0060"; }
    &.icone_acces:before          { content: "\002e"; }
    &.icone_favoris:before        { content: "\0061"; }
    &.icone_modifier:before       { content: "\0064"; }
    &.icone_reglage:before        { content: "\006c"; }
    &.icone_examen:before         { content: "\0048"; }
    &.icone_depot:before          { content: "\0045"; }
    &.icone_medaille:before       { content: "\0067"; }
    &.icone_enregistrement:before { content: "\0067"; }
    &.icone_sonorisation:before   { content: "\0026"; }
    &.icone_webconference:before  { content: "\002a"; }
    &.icone_wizard:before         { content: "\f0d0"; }
    &.icone_compas:before         { content: "\e000"; }
    &.icone_carte:before          { content: "\0063"; }
    &.icone_soleil:before         { content: "\e001"; }
    &.icone_lunettes:before       { content: "\e003"; }
    &.icone_fleche_haut:before    { content: "\2b06"; }
    &.icone_fleche_bas:before     { content: "\2b07"; }
    &.icone_competences:before    { content: "\0050"; }
}

/*** PAGESLIDE CATEGORIES ****************************/

#pageslide {
    li#Fichiers                  a:before { content: "\0025"; }
    li#Presentationssonorisees   a:before { content: "\0026"; }
    li#RessourcesExternes        a:before { content: "\0028"; }
    li#Webconference             a:before { content: "\002a"; }
}


/*** CONTENTS TAGS ****************************/

#tag li a:before, #content #tag li a:before                     { content: "\005b"; }
#tag li.accepted a:before, #content #tag li.accepted a:before   { content: "\0037"; }
#tag li.selected a:before, #content #tag li.selected a:before   { content: "\0041"; }

/*** PLACEHOLDER ****************************/

.placeholder:before {
    content: "\0037";
}

/*** FAVORI ****************************/

#content .favori, .favori {
    &, &.off:hover {
        color: @category4Color !important;
    }
    &.off, &:hover {
        color: @mediumGreyColor !important;  
    }

    &:before {
        content: "\005e";
        font-size: 150%;
        margin:0;
    }
    span {
        display: none;
    }
}

/*** PLONEBOARD ****************************/

body.portaltype-ploneboard ul.visualNoMarker.discreet li a:before,
body.portaltype-ploneboardforum ul.visualNoMarker.discreet li a:before {
    content: "\005e";
}
body.portaltype-ploneboardforum a.link-parent:before,
body.portaltype-ploneboardconversation a.link-parent:before {
    content: "\0042";
}
body.portaltype-ploneboardforum form button.standalone:before {
    content: "\003f";
}
body.portaltype-ploneboardconversation .boardCommentActions .context:before {
    content: "\0039";
}
body.portaltype-ploneboardconversation .boardCommentActions .destructive:before {
    content: "\003a";
}
body.portaltype-ploneboardconversation .boardCommentActions .standalone:before {
    content: "\003b";
}
body.portaltype-ploneboardconversation .boardCommentReplyActions .standalone:before {
    content: "\0049";
}
body.portaltype-ploneboardconversation .boardComment blockquote:before {
    content: "\0068";
}
