@import "utils";

/*** GLOBALNAV **************************************************************************************/

a#portal-logo {
   margin: 10px;
   padding:0;
   float:left;
}
#portal-header .hiddenStructure {
    clear: none;
    display:none;
}

ul#portal-globalnav {
    background: none;
    clear: none;
    font-size:80%;
    text-align:center;
    line-height: 32px;
    padding: 20px 0; /* (52 (height logo) + 2x10 (margin) - 32) / 2 */ 
    margin-right: 120px; /* width logo */
    
    .anonymous {
        float: right;
        margin-right: 20px;
    }
    
    li a, li a:hover, li a:active,
    li.selected a, li.selected a:hover, li.selected a:active {
        text-transform: uppercase;
        text-decoration:none;
        font-weight:bold;
        min-width:0;
    
        color: @lightColor !important;
        background-color:transparent;
    
        text-shadow:0 1px 1px @black100;
        .opacity(50);
    }
}

ul#portal-globalnav, #portal-languageselector {
    li a:hover, li.selected a, li.selected a:hover,
    li.currentLanguage a {
        background-color:lighten(@selectedColor, 25%);
        .opacity(100);
    }
}


/*** LANGUAGE SELECTOR *******************************************************************/

#portal-languageselector {
    top:0;
    right: 5px;
    margin:0;
    padding:0;
    background-color: transparent;
    
    padding: 25px 0;
    
    li {
        float: left;
        display: block;
        a {
            padding: 0.25em;
            margin-right: 1px;
            display: block;
            
            img {
                width: auto;
                height: auto;
                border: 0 !important;
            }
        }
    }
    li.currentLanguage a, li a:hover {
        .box-shadow(0, 0, 2px, @black75);
    }
}

/*** BREADCRUMB **************************************************************************/

#portal-breadcrumbs {    
    background-color: @lightColor;
    color: @darkColor;
    height:3em;
    overflow: hidden;
    font-size: 110%;
    font-weight: bold;
    margin: -10px -20px 1em -20px;
    text-shadow:0 1px 1px @white100, 0 1px 1px @white100;
    .box-shadow(0, 0, 5px, @black25);

    span {
        float:left;
        line-height:3em;
        padding-left:.75em;
    
        span {
            padding-left:0;
        }
        a {
            background:url("@{theme}/crumbs.png") no-repeat right center;
            display:block;
            padding:0 15px 0 0;
            
            &:link, &:visited {
                text-decoration:none;
            }
        }							

    }
}

body.section-front-page #portal-breadcrumbs,
.breadcrumbSeparator {
    display:none;
}


/*** DIVERS **************************************************************************************/

dl.portalMessage {
  display:none !important;
}
