@import "utils";

/*** POPOVER *************************************************************************/

@popoverTriangle: 10px;
@popColor: @darkColor;

body .popover {
    border: 1px solid @darkColor;
    padding:5px;
    background-color: @popColor;
    .box-shadow(0, 0, 10px, @black50);
    .transition-none();
    .radius(4px);
    
    .triangle {
        border-width: @popoverTriangle !important;
        &.top {
            bottom: -(@popoverTriangle * 2);
            border-top-color: @popColor;
        }
        &.bottom {
            top: -(@popoverTriangle * 2);
            border-bottom-color: @popColor;
        }
        &.left {
            right: -(@popoverTriangle * 2);
            border-left-color: @popColor;
        }
        &.right {
            left: -(@popoverTriangle * 2);
            border-right-color: @popColor;
        }
    }
    
    .header {
        background-color: transparent;
        background-image: none;
        padding: 0;
        height: auto;
    }
    
    .content {
        min-width: 5em;
        padding:8px;
        color: @darkGreyColor;
        background-color: @lightColor;
        border: 1px solid @darkColor;
        .radius(2px);
        .box-shadow(0, 1px, 0, @white25);
        
        * {
            text-shadow:0 0 transparent;
        }
        p {
            margin: 0 !important;
            padding: 0 !important;
        }
        ul {
            margin-left: 1em !important;
            li {
                margin: 0 !important;
                ul {
                    list-style-type: circle !important;
                    
                    ul {
                        list-style-type: square !important;
                    }
                }
            }
        }
        .indicateur {
            font-size: 90%;
            font-weight: normal;
        }
        .formControls {
            margin: 0 !important;
            margin-top: 0.5em !important;
        }
        hr {
            margin: 0.5em 0;
            border: 0;
            border-top: 1px solid @black100;
            border-top-color: @black25;
        }
        label {
            font-weight: normal;
        }
        textarea {
            width: auto !important;
        }
        fieldset {
            margin: 0;
            margin-bottom: 0.5em;
            border-color: @black100 !important;
            border-color: @black10 !important;
        }
        legend {
            padding-top: 0 !important;
        }
        .formHelp {
            color: @mediumGreyColor;
        }
    }

    &.invert {
        .content {
            background-color: transparent;
            border: 0;
            padding: 0;
            .box-shadow-none();

            li {
                color: @mediumGreyColor;
            }

            a, a.link-overlay, h1, h2, h3, h4, h5, h6 {
                color: @white100 !important;
                border-color: @white100 !important;

                &.bouton {
                    margin-bottom: 0 !important;

                    &:last-child {
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
    
    div.loading {
        background-image: url('@{theme}/ajax-loader2.gif');
    }
}

.savoirplus_contenu {
    display: none;
    padding: 1px;
}
#content a.bouton.savoirplus_lien {
    &.popover-on {
        color: @lightColor !important;
        background-color: @darkColor !important;
        text-shadow:none;
    }
}

#content h2.savoirplus_lien {
    .radius(3px);
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    padding: 0.5em !important;
    position: relative;
    width: auto;
    background-color: #FFF !important;
    border: 1px solid @black20 !important;

    a, a:hover {
        color: #444 !important;

        &:after {
            content: '\25BC';
            font-size: 75%;
            margin-left: 0.5em;
        }
    }
}


//////

ol#plan li .sortableElement {
    clear: both;
}

body #plan .popover {
    &.active {
        float: right;
        position: relative !important;
        left: 0 !important;
        right: 0 !important;
        top: 10px !important;
        margin-bottom: 1em;

        .triangle {
            left: auto !important;
            right: 0.4em !important;
            &.top {
                top: -(@popoverTriangle * 2);
                border-bottom-color: @popColor;
                bottom: inherit !important;
                border-top-color: transparent;
            }
        }
    }
}

