@import "utils";

/*** TAGS **********************************************************************************/

#content a.creer_tag, .tags #tag, .tags #tag li.tag {
  margin-bottom: 0 !important;
    display: inline-block;
}

.tags {
    margin: 0 0 2em 20px !important;
    padding: 0 !important;
    background-color: transparent;
}

#content a.creer_tag,
#content #tag li a, #tag li a,
#content #tag li a:hover, #tag li a:hover {
	border: 0 !important;
    background-image: none !important;
    .box-shadow-none(~'!important');
}

#tag li a, #content #tag li a,
#content #tag li a:hover, #tag li a:hover  {
    background-color: @darkGreyColor;
	background-image: url("@{theme}/tag_mask.png") !important;
	background-repeat: no-repeat !important;
	background-position: left center !important;
	margin-left: 0.25em;
	
	.radius-top-left(0);
	.radius-bottom-left(0);
}
.pb-ajax, .pb-image, .ui-dialog, div.overlay-inline {
    #tag li a {
        background-image: url("@{theme}/tag_mask_overlay.png") !important;
    }
}

#tag li.selected a, #content #tag li.selected a,
#content #tag li.selected a:hover, #tag li.selected a:hover {
    background-color: @category2Color;
}

/*** DRAG & DROP ****************************************************************************/

.ui-draggable-dragging {
    background-color: @white100 !important;
    .box-shadow(0, 2px, 4px, @black25);
    .radius(3px);

    td {
        display: block;
        background-color: transparent !important;
        border:0 !important;

        &.tdcenter, &.fullwidth .discreet {
            display: none;
        }
    }
}

/*** TAGS AJOUT ****************************************************************************/

#support_ajout #tableauAjout p {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-size: 90%;
}