@import "utils";

/*** HIGH CONTRAST **************************************************************************************/

body .desactive_high_contrast,
body.high_contrast .active_high_contrast {
    display: none;
}
body.high_contrast .desactive_high_contrast,
body .active_high_contrast {
    display: inline;
}

body.high_contrast {
    font-size: 125% !important;
    background-color: darken(@mainColor, 20%)  !important;
    
    #visual-portal-wrapper {
        min-width: 43em !important;
    }
    
    ul#portal-globalnav li, ul#portal-globalnav li.selected {
        a, a:hover, a:active {
            border-width: 0 !important;
            border-top-width: 2px !important;
            border-color: transparent !important;
            background-color: transparent !important;
            .radius(0, ~'!important');
            .opacity(100);
        }
    }
    ul#portal-globalnav li a:hover,
    ul#portal-globalnav li.selected a,
    ul#portal-globalnav li.selected a:hover {
        border-top-color: lighten(@lightColor, 20%) !important;
        background-color: darken(@mainColor, 20%) !important;
    }
    
    #portal-languageselector li.currentLanguage a,
    #portal-languageselector li a:hover {
        border-color: lighten(@lightColor, 20%) !important;
    }
    
    div#portal-breadcrumbs {
        background-image: none !important;
        border-bottom: 1px solid darken(@mainColor, 20%) !important;
        .box-shadow-none();
    }
    
    
    a.bouton, #content a.bouton,
    a.bouton:focus, #content a.bouton:focus,
    input.bouton, input.searchButton, input.destructive,
    .standalone,
    .context, input.context, input[type="submit"].context, .formControls .actionButtons .button, .documentEditable * .context,
    .qq-upload-button, .uploadifybutton,
    #content a.creer_tag, #content #tag li a, #tag li a,
    button.ui-button,
    .couleur1,
    .arrondi.selected,
    ul#portal-globalnav li a:hover,
    ul#portal-globalnav li.selected a,
    ul#portal-globalnav li.selected a:hover,
    #portal-languageselector li.currentLanguage a,
    #portal-languageselector li a:hover {
        background-color: darken(@buttonColor, 10%) !important;
    }
    
    
    
    #content .categorie,
    #content #tag li a, #tag li a {
        background-color: darken(@mediumGreyColor, 40%) !important;
    }
    #content li.categorie_fichiers {
        background-color: darken(@category1Color, 20%) !important;
    }
    #content .categorie_ressourcesexternes {
        background-color: darken(@category4Color, 27%) !important;
    }
    #content .categorie_sonorisation,
    #content .categorie_webconference,
    #content .categorie_plan_texte,
    #tag li.selected a, #content #tag li.selected a,
    #content #tag li.selected a:hover, #tag li.selected a:hover {
        background-color: darken(@informationColor, 20%) !important;
    }
    #content .categorie.categorie_wims,
    #content .categorie_plan_monespace,
    div.qq-upload-drop-area-active {
        background-color: darken(@category3Color, 35%) !important;
    }
    #content .categorie_glossaire,
    #content .categorie_plan_activite {
        background-color:darken(@category5Color, 20%) !important;
    }
    
    /*span.bookmark {
    	background-color: darken(@mainColor, 20%);
    }
    span.bookmark_mask {
        border-color: darken(@mainColor, 20%);
    }*/
    
    .cours_legende {
        .opacity(100);
    }
    
    .discreet, #content .discreet, .element_vide,
    div.qq-upload-drop-area,
    table.listing thead th, table.listing tfoot td,
    div.listing_vide, div.listing_vide p {
        color: darken(@darkGreyColor, 20%) !important;
    }
    
    .arrondi.off, .arrondi.invisible, .arrondi.invisible_date {
        background-image: url("@{theme}/fond_off2.png") !important;
    }
    .arrondi.typeElement {
        border-left-color: @black25;
        border-top-color: @black25;
        border-bottom-color: @black25;
    }

}
