@import "utils";

/*** OVERLAY *************************************************************************/

div.overlay-iframe, div.overlay-ajax, div.overlay-inline {
    width: 75%;
}

.pb-ajax, .pb-image, .ui-dialog, div.overlay-inline,
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
	padding: 0.5em;
	border: 0;
	//background-repeat: repeat-x;
	//background-position: top left !important;
	
	.radius(3px);
    .box-shadow(0, 0, 5px, @black50);
}

div.overlay-inline {
    font-size: 100%;
    padding: 1.5em;
    position: relative;
}

.pb-ajax > div, div.overlay-inline > div {
    width: 95%;
    margin: 0 auto;
}

/* correction bug de placement à cause du positio:relative du #content quand 2 colonnes */
div.cell.width-1\3a 2 div.overlay-inline,
div.cell.width-1\3a 4 div.overlay-inline,
div.cell.width-3\3a 4 div.overlay-inline {
    margin-left: -37.5%;
}

.pb-ajax, .pb-image, .ui-dialog, div.overlay-inline {
    text-align: left;
    background-color: @lightColor;
    color: @darkColor;
    
    h1 {
        text-align: center;
    }
}

div.overlay-inline a.close {
    cursor: pointer;
    height: 30px;
    left: -14px;
    position: absolute;
    top: -14px;
    width: 30px;
}

div.overlaybg, div.overlay, div.overlay-inline {
    .close {
        left: auto !important;
        right: -14px !important;
        background-image: url("@{theme}/pb_close.png") !important;
    }
}

.overlay{
    iframe {
    	background-color: transparent;
    	border: 1px solid @mediumGreyColor;
    	.box-shadow-none();
    }
    #portal-breadcrumbs{
    	display:none;
    }
    li {
    	display: list-item;
    }
}

#exposeMask, .ui-widget-overlay {
    background-color: @darkColor !important;
    background-image: none;
    .opacity(66);
    width: auto !important;
    right: 0;
}

#fieldset-openid-login input, #login-form input {
    font-size: 100%;
}

/************************************************************************************/

.ui-dialog {
    padding: 1.5em;
    
    ui-dialog-content {
        padding: 0;
        
        p {
            margin: 1em 0;
            overflow: hidden;
        }
    }
    .ui-dialog-buttonpane {
        background-color: transparent;
        border: 0 none;
        margin: 0;
        padding: 0;
        
        .ui-dialog-buttonset {
            float: none;
        }
        button {
            margin: 0;
            
            &.ui-button-text-only .ui-button-text {
                padding: 0;
            }
        }
    }
}
.ui-dialog-titlebar {
    display: none;
}

/****************************************************************************************/

div.overlay .formControls a {
    margin: 0;
}
.overlay-inline {
    display: none;
}


/*** DATE/TIME PICKER ****************************************************/

div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover,
div.date-picker .date-picker-selected-date,
.ui-timepicker .ui-timepicker-table .ui-state-hover {
  background-color: @buttonColor;
  color: @lightColor;
}

.plone-jscalendar-popup {
    display: none;
}
.ui-timepicker {
    z-index: 20000 !important;
}
div.date-time-pickers {
    text-align: center;
}

div.date-picker,
div.date-picker .date-picker-statusbar {
    font-size: 75%;
}
.ui-timepicker .ui-timepicker-table {
    font-size: 85%;
}
div.date-picker .today-but {
    font-size: 85%;
    
    &:hover {
        color: @lightColor !important;
    }
}
div.date-picker table *,
.ui-timepicker .ui-timepicker-table * {
    background: none !important;
    text-shadow:none !important;
    color: @white100;
    border-width: 0 !important;
    font-weight: normal;
}
div.date-picker table {
    padding: 0.25em;
}
div.date-picker table,
.ui-timepicker .ui-timepicker-table {
    background-color: @darkColor;
    background-image: none;
}

div.date-picker td,
.ui-timepicker .ui-timepicker-table table td a {
    background-color: @white25;
    color: @lightColor;
}

div.date-picker .date-picker-title {
    padding: 0;
}

div.date-picker .prev-but, div.date-picker .next-but {
    font-size: 150%;
}

div.date-picker td, div.date-picker tbody th,
.ui-timepicker .ui-timepicker-table table td a {
    width: 2em;
    height: 1.5em;
    .radius(2px);
}
.ui-timepicker .ui-timepicker-table table td a {
    display: inline-table;
    text-align: center;
}
div.date-picker .date-picker-hover,
div.date-picker .month-out.date-picker-hover {
    .box-shadow-none();
}
div.date-picker .out-of-range, div.date-picker .not-selectable {
    font-style: normal;
    background-color: @darkColor;
    border-color: @darkColor;
}

div.date-picker .out-of-range, div.date-picker .not-selectable,
div.date-picker .month-out.date-picker-highlight {
    color: @mediumGreyColor;
}


div.date-picker .date-picker-today {
  background-color: @category2Color !important;
  color: @lightColor;
  border-color: @category2Color;
}



div.date-picker .date-picker-statusbar {
    height: auto;
    padding: 0.25em 0;
}

.date-picker-control span,
.time-picker-container a {
    width: 32px !important;
    height: 32px !important;
    display: inline-block;
}
.date-picker-control:link, .date-picker-control:visited {
    background-image: url("@{theme}/calendar.png") !important;
    border: 0 !important;
}

div.date-picker-out,
input.time-picker-out {
    font-weight: bold;
    text-transform: uppercase;
}

.time-picker-container a {
    background-image: url("@{theme}/time.png");
}
input.time-picker-out, input.time-picker-out:hover, input.time-picker-out[type]:focus {
    border: 0 none;
    margin: 0;
    padding: 0;
    background: none !important;
    text-align: center;
    width: 4em !important;
    .box-shadow-none();
}
.ui-timepicker .ui-timepicker-table,
.ui-timepicker .ui-timepicker-table table {
    border-spacing: 2px;
}
.ui-timepicker .ui-timepicker-table .ui-timepicker-minutes {
    margin-left: 1em;
}
.ui-timepicker .ui-timepicker-table .ui-widget-header {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}
