@import "utils";

/*** FORUMS *************************************************************************/

/*.comment {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 1em;
    position: relative;
}


img.commentImage {
    background-color: @lightColor;
    color: @darkColor;
    float: right;
    width: 100px;
    height: auto;
    
    padding: 0.5em;
    margin-top: -4em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: center;
    cursor: pointer;
    
    .rotation(10deg);
    .transition(0.25s, ease-in-out);
    .box-shadow(0, 2, 4, @black50);
    
    &:hover {
        margin-right: 1em;
        margin-top: 1em;
        .rotation(0deg);
        .scale(1.25);
    }
}
.commentBody {
    clear: none;
    margin-bottom: 0.5em;
    p {
        background-color: @lightColor;
        color: @darkColor;
        float: none;
    }
    button {
        clear: both;
    }
}

.comment {
    h1, h2, h3, h4, h5, h6 {
        font-weight: inherit;
        display: inline;
    }
}

.commentActions {
    clear: both;
    float: none;
    text-align: left;
}

.row #commenting, .row #commenting legend, .row .discussion legend {
    font-size: 100%;
}
.row #commenting fieldset, .row .discussion fieldset {
    border: 0 !important;
}*/


/*** PLONEBOARD *********************************/

body.portaltype-ploneboard,
body.portaltype-ploneboardforum,
body.portaltype-ploneboardconversation,
body.portaltype-ploneboardcomment {

    h1.documentFirstHeading img,
    .poweredBy {
        display: none;
    }
    .listingForum {
        background: none;
        padding: 0;
    }

    table.listing {
        margin-top: 0.5em;

        .discreet {
            white-space: normal;
            text-align: left;
        }

        th:first-child, td:first-child {
            width: auto;
            white-space: normal;
        }
    }

    ul.visualNoMarker.discreet li {
        img {
            display: none;
        }
        a {
            display: block !important;
            text-align: center;
        }
    }

    .boardComment {
        margin: 0;
        margin-top: 1em;
        //border: 0;

        .boardCommentContent {

            li {
                list-style: inherit;
            }

            blockquote {
                margin-left: 2em;
                padding-left: 0.5em;
                border-left: 1px dashed @mediumGreyColor;

                &:before {
                    float: left;
                    margin-left: -2em;
                }
            }
        }

    }
    .boardCommentDetails {
        background-color: @lightGreyColor;
        border-bottom: 1px solid @black10;
        .radius-top-left(3px);
        .radius-top-right(3px);
        font-size: 100%;
        margin: -0.75em;
        margin-bottom: 0.75em;

        img {
            display: none;
        }
    }
    .commentAttachments {
        margin: 0;
        padding-bottom: 0;
    }

    .searchResults dt img {
        display: none;
    }

}
