@import "utils";

/*** FORMS ******************************************************************/

input, textarea, select,
ul.token-input-list {
	border-color: @mediumGreyColor;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    font-size: 100%;
    
    .radius(3px);
    .box-shadow(0, 0, 8px, @black10);
}

input[type="text"], input[type="password"], textarea, select,
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover,
/*input:focus, */textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus  {
  background-color: @lightColor;
  color: @darkColor;
}

#portal-column-content {
    input, textarea {
        padding: 6px;
    }
    input[type="submit"] {
        margin-left:2px;
        padding:5px;
    }
}
textarea, div.overlay textarea, input.fullwidth,
.field input[type="text"][name$=".title"], input#title {
    width: 98% !important;
}
.field textarea {
    font-family: Arial,FreeSans,sans-serif;
    font-size: 1.1em !important;
    font-weight: bold;
    height: 10em;
    
    &.big {
        height: 20em;
    }
}
/*input:hover, textarea:hover,*/
input:focus, textarea:focus,
ul.token-input-list:hover {
    .box-shadow(0, 0, 8px, @black25);
}
option {
    padding:3px;
    margin:3px;
    .radius(3px);
}
.pb-ajax fieldset {
    border: 0;
}


#content .field input[type="text"][name$=".title"], #archetypes-fieldname-title input {
    font-size: 1.5em;
}

#content fieldset {
    border: 1px solid @mediumGreyColor;
    .radius(3px);
}
#content legend {
    font-size: 100%;
    font-weight: bold;
}

input.mini, select.mini {
    padding: 0 !important;
    font-size: 90%;
    
    option {
        padding: 1px !important;
    }
}
.formHelp {
	font-size: 85%;
	font-weight: normal;
	line-height: 1.2em;
}
.fieldErrorBox {
	color: @importantColor;
    font-weight: bold;
	
    ul {
	   padding:0;
    }
    li {
	   list-style:none;
	   display:inline;
    }
}
div.field.error {
	color: @darkColor;
    .radius(5px);
}
.formControls {
    clear: both;
    margin: 0.5em 0 !important;
    text-align: center;
}


/*** TOKEN INPUT *****************************************************************/

ul.token-input-list {
    padding: 0;
	border-color: @mediumGreyColor;
    li {
        margin: 0 !important;
        input, input:focus {
            background-color: @white100;
            background-image: none;
            .box-shadow-none();
        }
    }
}
div.token-input-dropdown ul li {
    &.token-input-dropdown-item, &.token-input-dropdown-item2 {
        display: block;
    }
}

li.token-input-token {
    background-color: @lightGreyColor;
    color: @black100;
    .radius(2px);
}
li.token-input-token p {
    margin: 0 !important;
    padding: 1px !important;
    text-shadow: 0 1px 1px @white100;
}
li.token-input-selected-token,
li.token-input-selected-dropdown-item {
    background-color: @mainColor !important;
    color: @white100 !important;
}
li.token-input-selected-token p {
    text-shadow:@black50 0px 1px 1px;
}
li.token-input-selected-token span {
    color:@white100 !important;
}

.jalonnews div[class*=rbtoc] {
   display:none;
}


/*** LISTES DOUBLES *******************************************************/

.listesDoubles {

    div.width-1\3a 3 {
        width: 45%;

        &.position-1\3a 3 {
            width: 100%-2*45%;
            margin-left: 45%-100%;
        }
        &.position-2\3a 3 {
            margin-left: -45%;
        }
    }

    select.listeDouble {
        width: 100%;
        height: 30em;
    }
    button.versListeDouble {
        width: 90%;
        margin-left: 5%;

        &:first-child {
            margin-top: 30em/2;
        }
    }
    input.champFiltreListeDouble {
        width: 96%;
        padding-left: 2% !important;
        padding-right: 2% !important;
        margin-bottom: 0.5em;
    }
    span.compteListeDouble {
        display: block;
        text-align: center;
        font-size: 80%;
        color: @darkGreyColor;
    }

    button.clearFiltreListeDouble {
        display: none;
    }
}