@import "utils";

/*** CATEGORIES *************************************************************************/

ul.categories {
    text-align:center;
}

.categorie {
    display: inline-block !important;
    font-weight: bold;
    margin-bottom: 5px !important;
    padding: 0;
    text-align: center;
    min-width: 10em;
    background-color: @mediumGreyColor;
    .gradient-2stops(@white0, @white0, 49.9%, @black5, 50%, @black10);

    a {
        &, &:active, &:focus {
            color: @lightColor !important;
            text-shadow:@black100 0px 1px 1px;
            display: block;
            text-decoration: none;
            background-position: center -5px;
            background-repeat: no-repeat;
            display: block;
            padding: 0.5em;
            border: 0 !important;
            
            width: 12.5em;
            .ellipsis();
        }
    }
    &.categorie_plan a {
        width: 17em;
    }
}

#content .categorie {
    background-color: @mediumGreyColor;
    a {
        &, &:active, &:focus {
            color: @lightColor !important;
            border: 0 !important;
        }
    }

    &.categorie_resume {
        //background-color: lighten(@category1Color, 15%);
        min-width: 0;

        &.selected {
            //background-color: @category1Color;
        }
        &.selected, &:hover {
           background-color: @mainColor !important;
           //.gradient(@black0, @black10);
        }

        a {
            width: auto;
            position: relative;
            font-size: 125%;
            padding-top: 0.66em;
            padding-bottom: 0.1em;
            overflow: visible;

            strong {
                //display: none;
                display: block;
                font-size: 75%;
                font-weight: 500;
            }
        }

    }
}

.sup {
    display: inline-block;
    background-color: @warningColor;
    color: @white100;
    font-weight: 500;
    font-size: 80%;
    margin-top: -0.33em;
    vertical-align: top;
    padding: 0 0.5em;
    .radius(1em);
    text-shadow: none;
    border: 2px solid @lightGreyColor;
}

.categorie_resume {
    .sup {
        position: absolute;
        //border: 1px solid darken(lighten(@category1Color, 15%), 5%);
        //border: 1px solid darken(@mediumGreyColor, 5%);
        margin-top: -0.66em;
        margin-left: 0.1em;
    }
    &.selected, &:hover {
        .sup {
            //border: 1px solid darken(@category1Color, 5%);  
            //border-color: darken(@mainColor, 5%);
        }
    }
}

/*** COULEURS *************************************************************************/

#content {
    .categorie_fichiers {
        background-color: @category1Color;
    }
    .categorie_sonorisation,
    .categorie_webconference,
    .categorie_plan_texte {
        background-color: @category2Color;
    }
    .categorie.categorie_wims,
    .categorie_plan_monespace {
        background-color: @category3Color;
    }
    .categorie_ressourcesexternes {
        background-color: @category4Color;
    }
    .categorie_glossaire,
    .categorie_plan_activite {
        background-color: @category5Color;
    }

    .categorie_plan_texte,
    .categorie_resume_annonces {
        .radius-top-right(0);
        .radius-bottom-right(0);
    }
    .categorie_plan_monespace,
    .categorie_resume_actualites,
    .categorie_resume_forums,
    .categorie_resume_comments {
        .radius(0);
    }
    .categorie_plan_activite,
    .categorie_resume_shares,
    .categorie_resume_participants {
        .radius-top-left(0);
        .radius-bottom-left(0);
    }
    .categorie_plan_gestion {
        margin-left: 1em !important;
    }
}


/*** ONGLETS *************************************************************************/

.onglets {
	text-align:left !important;

	.categorie {
	    float: left;
        margin-bottom: 0 !important;
        margin-right: 0.25em !important;
        padding: 0.25em !important;
        min-width: 0;
        .radius-bottom-left(0);
        .radius-bottom-right(0);
        border-bottom: 0;
        //.gradient(@black10, @black0);
        background-image: none;
        
        &.selected, &:hover {
	       background-color: @mainColor !important;
	       //.gradient(@black0, @black10);
        }
        
        a {
            width: auto;
            background-position: left center;
            line-height: 40px;
        }
    }
}

.onglets_contenu {
    clear: both;
    position: relative;
    padding: 1em;
    border: 2px solid @mainColor;
    background-color: white;
    
    .radius(3px);
    .radius-top-left(0);
}

/*** AFFICHER/MASQUER *************************************************************************/

.bloc_showhide {
    display: none;
}


