@import "utils";

/*** GLOSSAIRE ************************************************************************/

#content div.glossaire {
    margin-bottom: 1em;
    padding: 0;
    
    ul.lettres {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            margin:0;
            padding:0;
            
            a:link, a:active, a:visited {
                float: left;
                margin-right: 0.25em;
                padding: 0.25em 0.5em !important;
                min-width: 1em;
                text-align: center;
            }
            
            a.blanc {
                .opacity(50);
                cursor:default;
            }
            
        }
    }
    
    ul.termes {
        clear: both;
        
        li {
            padding: 0.5em;
            margin-bottom: 0.5em;
            
            h2 {
                font-size: 200%;
                font-weight: bold;
                font-family:"Times New Roman", Times, serif;
            }
            dl {
                margin-left: 1em;
                margin-bottom: 0.5em;
            
                dd {
                    margin:0;
                    padding:0;
                    padding-left: 2em;
                    color: @darkGreyColor;
                }
            }
        }
    }
}
