@import "utils";

/*** GLOBALNAV **************************************************************************************/

a#portal-logo {
   margin: 10px;
   padding:0;
   float:left;
}
#portal-header .hiddenStructure {
    clear: none;
    display:none;
}

ul#portal-globalnav {
    background: none;
    clear: none;
    font-size:80%;
    text-align:center;
    line-height: 32px;
    padding: 20px 0; /* (52 (height logo) + 2x10 (margin) - 32) / 2 */ 
    margin-right: 120px; /* width logo */
    
    .anonymous {
        float: right;
        margin-right: 20px;
    }
    
    li a, li a:hover, li a:active,
    li.selected a, li.selected a:hover, li.selected a:active {
        /*** Voir couleurs dans le nuancier ***/
        text-transform: uppercase;
        text-decoration:none;
        font-weight:bold;
        margin:0px;
        padding:0 10px;
        min-width:0;
    
        background-color:transparent;
        
        border-color: @white25;
        border-style: solid;
        border-width: 1px 1px 1px 0;
    
        text-shadow:0 1px 1px #000;
        .opacity(66);
    }
    li:first-child a, li:first-child a:hover {    
        padding-left: 14px; /* 10 + 4 */
        border-left-width: 1px;
        .radius-top-left(21px); /* line-height / 2 */
        .radius-bottom-left(21px); /* line-height / 2 */
    }
    li:last-child a, li:last-child a:hover {
        padding-right: 14px; /* 10 + 4 */
        border-right-width: 1px;
        .radius-top-right(21px); /* line-height / 2 */
        .radius-bottom-right(21px); /* line-height / 2 */
    }
}

ul#portal-globalnav, #portal-languageselector {
    li a:hover, li.selected a, li.selected a:hover,
    li.currentLanguage a {
        /*** Voir couleurs dans le nuancier ***/
        border-color: @white33;
        .gradient(@black50, @black25);
        .opacity(100);
    }
}

/*** ICONES ************************************************************************************************/

ul#portal-globalnav {
    li a span, li.selected a span, li a:hover span {
        display: inline-block;
        background-position: left center !important;
        background-repeat: no-repeat !important;
        padding-left: 34px; /* 30 + 4 */
    }
}
ul#portal-globalnav li#portaltab-index_html a span/*,
body.template-firstpage_view span.bookmark_icon,
body.section-Members span.bookmark_icon*/ {
    background-image: url("@{theme}/globalnav/globalnav_monespace.png");
}
ul#portal-globalnav li#portaltab-cours a span/*,
body.section-cours span.bookmark_icon*/ {
    background-image: url("@{theme}/globalnav/globalnav_cours.png");
}
ul#portal-globalnav li#portaltab-etudiants a span/*,
body.section-etudiants span.bookmark_icon*/ {
    background-image: url("@{theme}/globalnav/globalnav_etudiants.png");
}
ul#portal-globalnav li#portaltab-didacticiels a span {
    background-image: url("@{theme}/globalnav/globalnav_aide.png");
}
ul#portal-globalnav li#portaltab-logout a span {
    background-image: url("@{theme}/globalnav/globalnav_logout.png");
	text-indent: -10000px;
}


/*** LANGUAGE SELECTOR *******************************************************************/

#portal-languageselector {
    top:0;
    right: 5px;
    margin:0;
    padding:0;
    background-color: transparent;
    
    padding: 25px 0;
    
    li {
        float: left;
        display: block;
        a {
            padding: 0.25em;
            margin-right: 1px;
            display: block;
            border: 1px solid transparent;
            .radius(3px);
            
            img {
                width: auto;
                height: auto;
                border: 0 !important;
            }
        }
    }
    li.currentLanguage a, li a:hover {
        .box-shadow(0, 0, 2px, @black75);
    }
}