@import "utils";

.fieldTextFormat,
.suppressVisualEditor {
    display: none;
}


@editorBackColor1: #cbcbcb;
@editorBackColor2: #8b8b8b;
@editorButtonColor1: #8e9296;
@editorButtonColor2: #5f6369;
@editorSelectedColor1: #1f2225;
@editorSelectedColor2: #4a4e53;
@editorTextColor: @white100;


@editorButtonColor1: lighten(@buttonColor, 10%);
@editorButtonColor2: darken(@editorButtonColor1, 20%);
@editorSelectedColor1: darken(@editorButtonColor1, 50%);
@editorSelectedColor2: darken(@editorButtonColor1, 30%);


@editorBackColor1: @category1Color;
@editorBackColor1: @mainColor;
@editorButtonColor1: @white100;

.mceEditor.ploneSkin {

    table.mceToolbar {
        margin-left: 0;
    }
    /*table.mceLayout {
        .box-shadow(0, 2px, 4px, @black25);
        .radius-top-left(5px);
        .radius-top-right(5px);
    }*/

    table.mceLayout {
        /*.box-shadow(0, 2px, 4px, @black25);*/
        border: 3px solid @editorBackColor1;
        border-collapse: inherit !important;
        .radius-top-left(10px);
        .radius-top-right(10px);

        td.mceToolbar {
            background-color: @editorBackColor1;
            //.gradient(@editorBackColor1, @editorBackColor2);
            padding: 5px !important;
            .radius-top-left(5px);
            .radius-top-right(5px);
            .box-shadow(0, 3px, 3px, @black10);
        }
        td.mceStatusbar {
            &, a {
                border: 0 !important;
            }
            div {
                display: none;
            }
        }
    }
    .mceIframeContainer {
        border: 0;
        background-color: @white100 !important;
    }

    .mceButton {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;

        span.mceIcon, img.mceIcon {
            display: none;
        }
    }

    .mceButton.mceButtonEnabled {
        background-color: @editorButtonColor1;
        //.gradient(@editorButtonColor1, @editorButtonColor2);
        //border: 1px solid darken(@editorButtonColor2, 2%) !important;
        //.box-shadow(0, 1px, 1px, @white33);
        border: 1px solid @editorButtonColor1 !important;
        .radius(5px);
        margin-right: 5px;
        cursor: pointer;

        &:hover, &.mceButtonActive {
            background-color: @editorBackColor1;
        }
        &.mceButtonActive {
            //.gradient(@editorSelectedColor1, @editorSelectedColor2);
            //border-color: @editorSelectedColor1 !important;
        }
    }
    .mceButton.mce_bold,
    .mceButton.mce_sub,
    .mceButton.mce_bullist,
    .mceButton.mce_latex {
        margin-right: 0;
        border-right-width: 0 !important;
        .radius-top-right(0);
        .radius-bottom-right(0);
    }
    .mceButton.mce_italic,
    .mceButton.mce_sup,
    .mceButton.mce_numlist,
    .mceButton.mce_equation {
        .radius-top-left(0);
        .radius-bottom-left(0);
    }

    .mceButton {

        &:before {
            display: block;
            margin: 0.25em 0.33em;
            font-size: 150%;
            //color: @white100;
            color: @editorBackColor1;
            //text-shadow: 0 -1px 1px darken(@editorButtonColor2, 10%);
        }
        &:hover:before, &.mceButtonActive:before {
            color: @editorButtonColor1;
        }
    }
    .mceButton.mce_pastetext:before {
        content: "\e00d";
    }
    .mceButton.mce_bold:before {
        content: "\e002";
    }
    .mceButton.mce_italic:before {
        content: "\e005";
    }
    .mceButton.mce_sub:before {
        content: "\e008";
    }
    .mceButton.mce_sup:before {
        content: "\e007";
    }
    .mceButton.mce_bullist:before {
        content: "\e009";
    }
    .mceButton.mce_numlist:before {
        content: "\e00a";
    }
    .mceButton.mce_fullscreen:before {
        content: "\e00b";
    }
    .mceButton.mce_fullscreen.mceButtonActive:before {
        //content: "\e00e";
    }
    .mceButton.mce_latex:before {
        content: "\e00c";
    }
    .mceButton.mce_equation:before {
        content: "\e00c";
    }

}
#mce_fullscreen_container {
    table.mceLayout td.mceToolbar {
        .radius(0);
    }
}