/*** NUANCIER UNS ***********************************************************************

@mainColor          : #567490; // 476076 384B5D
@buttonColor        : saturate(@mainColor, 10%);
@selectedColor      : @mainColor;
@topColor           : transparent;

@linkColorNormal    : lighten(saturate(@mainColor, 20%), 12%); // 4F6A83
@linkColorActive    : darken(@linkColorNormal, 20%); // 3C5063

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);  // f5f5f5
@mediumGreyColor    : darken(@lightColor, 27%); // bababa
@darkGreyColor      : darken(@lightColor, 60%); // 666666

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%); // 61937f
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%); // c0ca5d
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%); // d08b57
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%); // b25c77

@informationColor   : @category2Color; // 61937f
@warningColor       : #BD4932;
@warningButtonColor : @warningColor;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : -300px;
@headerBgPosY       : -70px;
@headerBgPosR       : no-repeat;

// Connexion
@connexionTitleSize : 700%;
@connexionTitleTop  : -3em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header.png";
@backgroundImageTop : "blurred1.jpg";
@backgroundImageLog : "blurred1.jpg";

//Dégradé 4+2 teintes (pour formatage conditionel)
@zero_score         :#FF6358;
@firstQuarter       :#E89345;
@secondQuarter      :#FFDD58;
@thirdQuarter       :#BCE850;
@lastQuarter        :#58FF7E;
@max_score          :#72ADFF;


//*** NUANCIER UVSQ ***********************************************************************

/*@mainColor          : #696366;
@buttonColor        : #F68529;
@selectedColor      : #9FDF21;
@topColor           : transparent;

@linkColorNormal    : darken(saturate(@mainColor, 35%), 12%);
@linkColorActive    : darken(@linkColorNormal, 10%);

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);
@mediumGreyColor    : darken(@lightColor, 27%);
@darkGreyColor      : darken(@lightColor, 60%);

@category1Color     : #56626B;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%);
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%);
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%);
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%);

@informationColor   : @category2Color;
@warningColor       : #BD4932;
@warningButtonColor : #CBB072;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : 0;
@headerBgPosY       : 0;
@headerBgPosR       : no-repeat;

// Connexion
@connexionTitleSize : 9em;
@connexionTitleTop  : -1em;

// Images
@theme              : "++resource++jalon.theme.images";
@backgroundImage    : "portal-header_uvsq.png";
@backgroundImageTop : "blurred1.jpg";
@backgroundImageLog : "blurred1.jpg";
*/


//*** NUANCIER PEGASUS ***********************************************************************

@mainColor          : #6e6a92;
@buttonColor        : @mainColor;
@selectedColor      : #FA8A0C;
@topColor           : @mainColor;

@linkColorNormal    : @mainColor;
@linkColorActive    : #FA8A0C;

@lightColor         : #FFFFFF;
@darkColor          : #000000;
@lightGreyColor     : darken(@lightColor, 4%);
@mediumGreyColor    : darken(@lightColor, 27%);
@darkGreyColor      : darken(@lightColor, 60%);

@category1Color     : @mainColor;
@category2Color     : lighten(saturate(spin(@category1Color,  -50), 10%), 10%);
@category3Color     : lighten(saturate(spin(@category1Color, -140), 40%), 20%);
@category4Color     : lighten(saturate(spin(@category1Color, -180), 45%), 20%);
@category5Color     : lighten(saturate(spin(@category1Color,  135), 25%), 15%);

@informationColor   : @category2Color;
@warningColor       : #BD4932;
@warningButtonColor : #FA772C;
@importantColor     : #6C101E;

// Units
@headerBgPosX       : 0;
@headerBgPosY       : 0;
@headerBgPosR       : repeat;

// Connexion
@connexionTitleSize : 7em;
@connexionTitleTop  : -1em;

// Images
@theme              : "++resource++pegasus.theme.images";
@backgroundImage    : "bkgd.jpg";
@backgroundImageTop : "blurred4.jpg";
@backgroundImageLog : "blurred4.jpg";

//Dégradé 4+2 teintes (pour formatage conditionel)
@zero_score         :rgba(255, 99, 88,0.5);  // rouge
@firstQuarter       :rgba(232,147, 69,0.75); // orange
@secondQuarter      :rgba(255,221, 88,0.75); // jaune
@thirdQuarter       :rgba(188,232, 80,0.75); // vert 1
@lastQuarter        :rgba(88 ,255,126,0.66); // bleu/vert canard
@max_score          :rgba(114,173,255,0.5);  // bleu