@import "nuancier";

//*** LESS ************************************************************

@black0  : rgba(0,0,0,0.00);
@black5  : rgba(0,0,0,0.05);
@black10 : rgba(0,0,0,0.10);
@black20 : rgba(0,0,0,0.20);
@black25 : rgba(0,0,0,0.25);
@black33 : rgba(0,0,0,0.33);
@black50 : rgba(0,0,0,0.50);
@black66 : rgba(0,0,0,0.66);
@black75 : rgba(0,0,0,0.75);
@black100: #000;

@white0  : rgba(255,255,255,0.00);
@white5  : rgba(255,255,255,0.05);
@white10 : rgba(255,255,255,0.10);
@white20 : rgba(255,255,255,0.20);
@white25 : rgba(255,255,255,0.25);
@white33 : rgba(255,255,255,0.33);
@white50 : rgba(255,255,255,0.50);
@white66 : rgba(255,255,255,0.66);
@white75 : rgba(255,255,255,0.75);
@white100: #FFF;

/**************************************************/

.radius(@radius, @important:~'') {
    //@arguments: 0;
    -webkit-border-radius: @arguments;
	   -moz-border-radius: @arguments;
	        border-radius: @arguments;
}
.radius-top-left(@topleft, @important:~'') {
    //@arguments: 0;
    -webkit-border-top-left-radius: @arguments;
        -moz-border-radius-topleft: @arguments;
            border-top-left-radius: @arguments;
}
.radius-top-right(@topright, @important:~'') {
    //@arguments: 0;
    -webkit-border-top-right-radius: @arguments;
        -moz-border-radius-topright: @arguments;
            border-top-right-radius: @arguments;
}
.radius-bottom-left(@bottomleft, @important:~'') {
    //@arguments: 0;
    -webkit-border-bottom-left-radius: @arguments;
        -moz-border-radius-bottomleft: @arguments;
            border-bottom-left-radius: @arguments;
}
.radius-bottom-right(@bottomright, @important:~'') {
    //@arguments: 0;
    -webkit-border-bottom-right-radius: @arguments;
        -moz-border-radius-bottomright: @arguments;
            border-bottom-right-radius: @arguments;  
}

/**************************************************/

.box-shadow(@hor, @vert, @blur, @shadow, @inset:~'', @important:~'') {
	-webkit-box-shadow: @arguments;
	   -moz-box-shadow: @arguments;
	        box-shadow: @arguments;
}
.box-shadow-none(@important:~'') {
	-webkit-box-shadow: none @important;
	   -moz-box-shadow: none @important;
	        box-shadow: none @important;
}
.box-shadow2(@hor1, @vert1, @blur1, @shadow1, @inset1, @hor2, @vert2, @blur2, @shadow2, @inset2, @important:~'') {
	-webkit-box-shadow: @hor1 @vert1 @blur1 @shadow1 @inset1, @hor2 @vert2 @blur2 @shadow2 @inset2 @important;
	   -moz-box-shadow: @hor1 @vert1 @blur1 @shadow1 @inset1, @hor2 @vert2 @blur2 @shadow2 @inset2 @important;
	        box-shadow: @hor1 @vert1 @blur1 @shadow1 @inset1, @hor2 @vert2 @blur2 @shadow2 @inset2 @important;
}

/**************************************************/

.gradient(@start, @stop, @important:~'') {
    background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background-image: -webkit-linear-gradient(top, @start, @stop) @important;
    background-image:    -moz-linear-gradient(top, @start, @stop) @important;
    background-image:     -ms-linear-gradient(top, @start, @stop) @important;
    background-image:      -o-linear-gradient(top, @start, @stop) @important;
    background-image:         linear-gradient(top, @start, @stop) @important;
}
.gradient-1stop(@start, @stop1, @pos1, @stop) {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(@pos1,@stop1), color-stop(100%,@stop));
    background-image: -webkit-linear-gradient(top, @start 0%, @stop1 @pos1, @stop 100%);
    background-image:    -moz-linear-gradient(top, @start 0%, @stop1 @pos1, @stop 100%);
    background-image:     -ms-linear-gradient(top, @start 0%, @stop1 @pos1, @stop 100%);
    background-image:      -o-linear-gradient(top, @start 0%, @stop1 @pos1, @stop 100%);
    background-image:         linear-gradient(top, @start 0%, @stop1 @pos1, @stop 100%);
}
.gradient-2stops(@start, @stop1, @pos1, @stop2, @pos2, @stop) {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(@pos1,@stop1), color-stop(@pos2,@stop2), color-stop(100%,@stop));
    background-image: -webkit-linear-gradient(top, @start 0%, @stop1 @pos1, @stop2 @pos2, @stop 100%);
    background-image:    -moz-linear-gradient(top, @start 0%, @stop1 @pos1, @stop2 @pos2, @stop 100%);
    background-image:     -ms-linear-gradient(top, @start 0%, @stop1 @pos1, @stop2 @pos2, @stop 100%);
    background-image:      -o-linear-gradient(top, @start 0%, @stop1 @pos1, @stop2 @pos2, @stop 100%);
    background-image:         linear-gradient(top, @start 0%, @stop1 @pos1, @stop2 @pos2, @stop 100%);
}

/**************************************************/

.rotation(@deg){
    -webkit-transform: rotate(@deg);
       -moz-transform: rotate(@deg);
        -ms-transform: rotate(@deg);
         -o-transform: rotate(@deg);
            transform: rotate(@deg);
    zoom: 1;
}
.scale(@ratio){
    -webkit-transform: scale(@ratio);
       -moz-transform: scale(@ratio);
        -ms-transform: scale(@ratio);
         -o-transform: scale(@ratio);
            transform: scale(@ratio);
    zoom: 1;
}
.skew(@degX, @degY){
    -webkit-transform: skew(@degX, @degY);
       -moz-transform: skew(@degX, @degY);
        -ms-transform: skew(@degX, @degY);
         -o-transform: skew(@degX, @degY);
            transform: skew(@degX, @degY);
    zoom: 1;
}
.transition(@property:all, @duration:1s, @ease:ease-out) {
    -webkit-transition: @arguments;
       -moz-transition: @arguments;
        -ms-transition: @arguments;
         -o-transition: @arguments;
            transition: @arguments;
}
.transitionPrefix(@property:all, @duration, @ease:ease-out) {
    -webkit-transition: ~'-webkit-@{property}' @duration @ease;
       -moz-transition: ~'-moz-@{property}' @duration @ease;
        -ms-transition: ~'-ms-@{property}' @duration @ease;
         -o-transition: ~'-o-@{property}' @duration @ease;
            transition: @arguments;
}
.transition-none() {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/**************************************************/

.opacity(@opacity) {
    -webkit-opacity: @opacity/100;
     -khtml-opacity: @opacity/100;
       -moz-opacity: @opacity/100;
            opacity: @opacity/100;
    filter:alpha(opacity=@opacity);
}

.ellipsis() {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display: block;
}