[buildout]
extends = {{component.profile}}
sources-dir = {{args.buildout.sources_dir}}

[versions]
setuptools = {{args.buildout.setuptools}}
zc.buildout = {{args.buildout.version}}

[sources]
{{args.source.mr_developer}}
