/*/* IE FIX INPUTS */*/
::-ms-clear, ::-ms-reveal {
    display: none;
}


body {
    padding:0 -15px;
    background-color:#ecedef;
    color:#454545;
    line-height:1.45em;
            font-size:140%;
}
.main-content {

}
.hiddenStructure {display:none;}
.visualClear {clear:both;}

a {color:#369;}
a:hover {color:#396999;}
.line {
    height:20px;
    border-bottom:1px solid #ddd;   
}

/*
.navbar-inverse {
    background-color:#2f3339;
}
*/
.ity-navbar {
    background-color:#fff !important;
    border-bottom:1px solid #ddd;
}
.container {
    /*
                                width:100% !important; 
    */
}

#portal-column-content.fullscreen {
    position:absolute;
    z-index:9000;
    width:100%;
    height:200%;
    top:0;
    left:0;
}

#portal-column-one.hidden,
#portal-column-two.hidden {
    display:none;
}


.table > thead > tr > th {border:none;}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F6F7F9;
}

.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
    border-top: none;
}


table.listing td,
table.listing th {
    background:#f1f2f3;
    border:1px solid #f1f2f3;
}
.table.listing tbody tr.odd td {
    background:#fff;    
}

/* bootsrap fixes */
label {display: inline;}

.label {color:#333333; font-size:100%}

input[type="checkbox"],
input[type="radio"] {margin: 5px 5px 0 0 }

/* @@navigation-controlpanel */
.field > .widget > .label > .value > div {
    text-align:left; }
.field > .widget > .label > .value > div > input.label {
    display:inline !important; }

/* /bootsrap fixes */


/* --- form.css fixes --- */
.field input#form-widgets-statusflag_period {
    width:5em !important;
}
/* --- form.css fixes --- */

/* ============ topnavi =============== */
#portal-logo {
    margin: 0;
}
#portal-logo img {
    margin: 12px 20px 0 15px;
}

@media screen and (max-width: 767px) {
    #portal-logo img {
        margin-left:34px;
    }
}


#site-globalnav > li.selected > a ,
#site-globalnav > li a:hover {
    color:#369 !important;
/*    background-image: linear-gradient(to bottom, #222222 0%, #3c3c3c 100%);*/
/*    background:#2f3339;*/
                                        background:#fff;
}
#site-globalnav .dropdown-menu > li > a {
    border-bottom: 1px solid #EEEEEE;
    padding: 7px 20px;
}
#site-globalnav .fa {
    font-size:26px;
}


.nav li.active a {
    /*padding-top:12px;*/
}
.nav li.active  {
    border-top:3px solid #A1C537;
}

/* --- FARBEN EINSTELLEN ------ */
#portaltab-dokumente.active {
    border-top:3px solid magenta !important;
}
#portaltab-Web.active {
    border-top:3px solid red     !important;
}
/* --- /FARBEN EINSTELLEN ------ */

/* bootstrap 3 submenu missing ... */
ul.submenu a.state-published:hover, 
.selected ul.submenu .state-published {
    color: #69c !important;
}
.dropdown-menu {
    font-size:12px;
    border-radius: 0;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:0;
    /*box-shadow:none;*/
}
.dropdown-submenu{position:relative; display:block}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

@media screen and (max-width: 767px) {
    .dropdown-submenu * {
        display:none;
    }
}
/* /bootstrap 3 submenu missing ... */

/* --- personal tools -- */
.navbar {
    margin-bottom:0;
    min-heigth: auto;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #999;
}

.navbar-tools {
    position:fixed;
    top:0;
    right:60px;
    height:50px;
    /*min-width:160px;*/
    width: 50px;
    max-width: 50px;
    line-height:42px;
    padding:2px 0;
    text-align:center;
/*
    background-color: #232323;
    background-image: linear-gradient(to bottom, #292929 0%, #1F1F1F 100%);
    background-repeat: repeat-x;
*/
    white-space: nowrap;

}

.navbar-tools .dropdown {
    position: static;
}

.navbar-tools .dropdown .dropdown-menu {
                    width: 20em;
}


.navbar-tools .dropdown .dropdown-menu a {
    display: block;
}


.navbar-tools .dropdown li {
    display: list-item;
    line-height: 1.4;
    text-align: left;
}

.navbar-tools a.dropdown-toggle {
    display: block;
}

.navbar-tools .dropdown .caret {
    border-top-color: #999;
    margin-left: 5px;
}

.navbar-tools .dropdown img.img-rounded.xs {
	border: 2px solid #ccc;
}

.navbar-tools .dropdown:hover .caret {
    border-top-color: #369;
}
.navbar-tools .dropdown:hover img.img-rounded.xs {
	border-color: #369;
}
/* --- /personal tools -- */

.dropdown-caret:before {
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 9px;
}
.pull-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}

/* --- notify items  -- */
.navbar-notify {
    position:fixed;
    top:0;
    right:110px;
    height:50px;
    min-width:80px;
    line-height:42px;
    padding:0;
    text-align:center;
        border:0 1px;
        border-left:1 ps solid #ddd;
/*
    background-color: #232323
    background-image: linear-gradient(to bottom, #292929 0%, #1F1F1F 100%);
    background-repeat: repeat-x;
*/
    white-space: nowrap;
}
#notify-activities,
#notify-messages,
#new-content {
    color:white;
    display: inline-block;
    float:left;
        min-width: 30px;
}
#notify-activities{
    /*    background-color: #003345;*/
    padding:8px 0 0 0;
}
#notify-messages {
    /*    background-color: #450000;    */
    padding:8px 0 0 0;
}
#new-content{
    /*    background-color: #004500;    */
    padding:8px 10px 0 10px;
    margin-right:210px;
}
#notify-activities a,
#notify-messages a,
#new-content {
	color:#ccc;
}
#notify-activities .fa,
#notify-messages .fa, 
#new-content .fa {
    font-size: 26px;
}
#notify-activities .fa:hover {
    color:#369;
    cursor:pointer;
}
#notify-messages .fa:hover {
    color:#369;
    cursor:pointer;
}
#new-content .fa:hover {
    color:#369;
    cursor:pointer;
}
#new-content #new-content-widget-button {
    color: #8cbe00;/*#85AF19;*/
}
#new-content #new-content-widget-button:hover {
    color: #a5cf39;
}
#notify-activities #activities-counter.badge,
#notify-messages #messages-counter.badge {
    font-size:11px;
    font-family: Arial "Sans Serif";
	position: relative;
    left: -10px;
    top: 5px;
    /*padding: 0 4px;*/
        
}

.img-rounded {
    border-radius: 40px;
}

.badge-green {
	background-color:#8cbe00;
}
.badge-red {
    background-color:#d9534f;
}

.badge-hide {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

#notify-messages-box, #notify-messages-box a {
    color: #333;
}
#notify-messages-box {
    text-align: left;
}
#notify-messages-box .message-notify-list {
    width: 360px;
    max-width: 360px;
}
#notify-messages-box .message-notify-list li {
    border-top: 1px solid #ccc;
    display: block;
    padding-top: 10px;
}
#notify-messages-box .message-notify-list li:first-child {
    border-top: 0;
}
#notify-messages-box .message-notify-list li a {
    display: block;
    text-decoration: none;
}
#notify-messages-box .message-notify-list li:after, #notify-messages-box .message-notify-list li a:after {
    display: table;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}
#notify-messages-box .message-notify-list .row {
    margin: 0;
}
#notify-messages-box .message-notify-list .row [class*="col-xs-"] {
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
}
#notify-messages-box .message-notify-list .row [class*="col-xs-"]:first-child {
    padding-right: 0;
    text-align: center;
}
#notify-messages-box .message-notify-list .row span.badge {
    position: absolute;
    top: 35px;
    left: 55px;
}
#notify-messages-box .message-notify-list .row span.username {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#notify-messages-box .message-notify-list .row p {
    display: block;
    border-top: 1px dotted #ccc;
    white-space: normal;
}
/* --- /notify items -- */

/* =============== /topnavi =============== */

/* ============== livesearch ============== */
#livesearch-wrapper {
	background-color:red;
	position:fixed;
	right:0;
	top:51px;
	height:20px;
	width:20px;
}
/* ============== /livesearch ============== */

/* ============== portlets ================ */
#portal-column-one .portlet {
	margin:0 0px 15px -15px !important;
    background-color:white;
                                                    border:1px solid #ddd;

}
#portal-column-two .portlet {
	margin:0 -15px 15px 0px !important;
   background-color:white;
                                                    border:1px solid #ddd;
}
dl.portlet {
    font-size:100%;
}
dl.portlet dt.portletHeader {
    font-size:125%;
    font-weight:500;
    color:#636669;
    background-color:white;
    padding:8px 15px;
    margin: 0;
}
dl.portlet dt.portletHeader a {
    color:#333;
/*
    background-image: linear-gradient(to bottom, #F6F6F6 0%, #efefef 100%);
    background-repeat: repeat-x;
*/
    
}
dl.portlet dt.portletHeader:hover {
/*
    background-image: linear-gradient(to bottom, #F0F0F0 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
*/
}

/* korrektur controlpanel.css */
div.managePortletsLink, 
a.managePortletsFallback {
    background: none;
    border-radius: none;
    font-size: 100%;
    margin: auto;
    padding: 0;
    text-align: left;
                            display:none;
}
dl.portlet dd.portletItem {
    padding:3px 15px;
/*
    background-image: linear-gradient(to bottom, #F6F6F6 0%, #efefef 100%);
    background-repeat: repeat-x;
*/
    
}

.portlets-manager {
    background-color:white;
    padding:15px;
}
/* ============== /portlets ================ */


/* =============== sidepanel ================ */
/* --- sidepanel-anpassungen --- */

#sidepanel-switch {
	display:block;
	border-bottom:1px dashed #ccc;
	text-align:center;
    text-decoration:none;
    margin:20px 0;
}
#sidepanel-switch:hover .fa {
    color:#669;
}
.fa-arrow-circle-left  {
	color:#999;
	font-size:20px;
	z-index:20;
	display:block;
	margin:0 auto -10px auto;
	width:20px;
	
}
#sidemenu {
	display:inline;
}
#sidemenu li {
    display:block;
    white-space: nowrap;

/*    
    border-bottom:1px solid #DDD;
    background-color: #EFEFEF;
    background-image: linear-gradient(to bottom, #F6F6F6 0%, #EFEFEF 100%);
    background-repeat: repeat-x;
*/
}
#sidemenu li:first-child {
/*        border-top:1px solid #DDD;
        margin-top:37px;
        padding-top:0;
*/
}
#sidemenu > li > a {
    color:#636669;
    display:block;
    width:180px;
}

.nowrap {white-space: nowrap}

#sidemenu .fa {
    font-size:16px;
    padding: 12px 8px;
    width:32px;
}
/*
#sidemenu .fa-home {color:#333639;}
#sidemenu .fa-envelope {color:#333639;}
#sidemenu .fa-user {color:#333639;}
#sidemenu .fa-users {color:#333639;}
#sidemenu .fa-dahsboard {color:#333639;}
#sidemenu .fa-folder {color:#333639;}
#sidemenu .fa-calendar {color:#333639;}
#sidemenu .fa-cog {color:#333639;}
#sidemenu .fa-cogs {color:#333639;}
*/
#sidemenu li:hover {
/*
    background-color: #EFEFEF;
    background-image: linear-gradient(to bottom, #F0F0F0 0%, #E6E6E6 100%);
    background-repeat: repeat-x;
*/
}
#sidemenu li:hover,
#sidemenu li:hover a,
#sidemenu li:hover i {
    color:#336699 !important;
    text-decoration:none;
}

/* =============== /sidepanel ================ */

/* =============== breadcrumbs =========== */
.expander {min-height:50px}
.breadcrumb {
    display:block;
/*
    border-bottom: 1px solid #DDDDDD;
*/
    min-height: 38px;
    margin: 0 0 0 -12px;
                                background-color:transparent;
                                padding: 8px 0;
/*
        white-space: nowrap;
        overflow:hidden; */
        border-radius:0;
                                font-size:90%;
}
/* =============== /breadcrumbs =========== */

/* ======== whoisonline-portlet ========= */
#who-is-online {
    margin:0 15px 15px;
}
/* ======== /whoisonline-portlet ========= */

/* =============== editbar =========== */
#editbar-container {
    display:block;
    margin: 0  -15px;
    padding:0;

}
#editbar-container-switch {
    float:right;
    padding:5px;
    margin:-35px -15px 0 0;
    font-size:12px;    
    cursor:pointer;
}
#editbar-container-switch:hover {
    color:#369;
}
#edit-bar {
    background-color:#d8dee8;
    border:1px solid #bbccdd;
                                border-buttom:none; 
    display: block;
    white-space: nowrap;
                                    height:50px;
    font-size:14px;
    padding-top:12px;
    border-radius: 0em !important;
    -moz-border-radius: 0 !important;
                        padding:0;
                        margin:0 0 15px 0;
                                                
}
#edit-bar #content-views {
    background-color: #d8dee8;
}
#edit-bar #contentActionMenus {
                    background-color: transparent;
    background-repeat: repeat-x;
    border-radius: 0 0 0 1.5em ;
    float: right;
    margin: 0 0 0 0;
    padding: 0 0.5em;
    position: relative;
    right: 0em;
    top: 0;
                        font-size:14px;
}


#contentActionMenus dl.actionMenu dt  {
    height: 48px;
    line-height:48px;
}

#contentActionMenus dl.actionMenu a {
                        background-color: #d8dee8;   
    color: #636669;
    height:48px
    border-bottom: 0;
    right:-15px;
}
#contentActionMenus dl.actionMenu a:hover {
                        background-color: #d8dee8;   
    color: #336699 !important;
}


#contentActionMenus dl.actionMenu.activated dd {
    background-color: #d8dee8;   
    color: #336699;
    line-height:40px;
    border-top: 1px solid #bbccdd;
    border-left: 1px solid #bbccdd;
    border-right: 1px solid #bbccdd;
    border-bottom: 1px solid #bbccdd;
    border-radius:0;
                        right:-8px;
}
#contentActionMenus dl.actionMenu ul li a {
        /*    background-image:none;        */
        background-color:#D8DEE8;
}
#contentActionMenus dl.actionMenu ul li {
}

/* hinzufügen aus contentactionmenu raus*/
/*   #plone-contentmenu-factories {display:none}    */


#contentActionMenus dl.actionMenu.activated dd a,
#contentActionMenus dl.actionMenu.activated dd a:hover, 
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    padding:0px 10px;
    margin:0;
    line-height:35px;
}

dl.actionMenu.activated dt a, 
dl.actionMenu.activated dd a, 
dl.actionMenu.activated dd div,
dl.actionMenu.deactivated dt a, 
dl.actionMenu.deactivated dd a, 
dl.actionMenu.deactivated dd div  {
}
.actionMenuContent {
    padding: 0;
}

.actionMenuHeader {
    margin-top:0px;
}

#plone-contentmenu-workflow {
    margin-top: 0px;
}

#plone-contentmenu-workflow .state-private {
    background-color: #d9534f;/*#CC0000;*/
    border: 0.3em solid #d9534f;/*#CC0000;*/
    border-radius: 1em;
    color: #FFFFFF !important;
    padding: 0 0.5em;
}
.state-private i.fa {
    color: #CC0000;
}
#plone-contentmenu-workflow .state-internal {
    background-color: #999;
    border: 0.3em solid #999;
    border-radius: 1em;
    color: #FFFFFF !important;
    padding: 0 0.5em;
}
.state-internal i.fa {
    color: #999;
}
#plone-contentmenu-workflow .state-pending {
    background-color: #ffaa00;
    border: 0.3em solid #ffaa00;
    border-radius: 1em;
    color: #FFFFFF !important;
    padding: 0 0.5em;
}
.state-pending i.fa {
    color: #ffaa00;
}
#plone-contentmenu-workflow .state-internally_published {
    background-color: #6699cc;
    border: 0.3em solid #6699cc;
    border-radius: 1em;
    color: #FFFFFF !important;
    padding: 0 0.5em;
}
.state-internally_published i.fa {
    color: #6699cc;
}
#plone-contentmenu-workflow .state-external {
    background-color: #66bb66;
    border: 0.3em solid #66bb66;
    border-radius: 1em;
    color: #FFFFFF !important;
    padding: 0 0.5em;
}
.state-external i.fa {
    color: #66bb66;
}




#content-views a {
    color: #336699;
}
#edit-bar dl {
    margin-bottom:0;
}
#edit-bar ul {
    margin-bottom: 0px;
}

#content-views li.selected a, 
#content-views li a:hover {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-radius:0 !important;
    border:none !important;
    color:#000000;
                            height:48px; /* 50 -2px borders */
                            line-height:48px;
                min-width:50px;
}
#content-views li a:hover {
                            height:48px; /* 50 -2px borders */
                            line-height:47px;
}
#content-views li.selected a:hover {
                            height:48px; /* 50 -2px borders */
                            line-height:48px;
}


#content ul.formTabs {
    background-color:#e6e9ec;
    border-color: #e6e9ec;
}
/*
#content li.formTab a.selected, 
#content li.formTab a:hover, 
#content-core li.formTab a.selected, 
#content-core li.formTab a:hover 
*/

div.formControls {
    margin:5px 0;
}

#edit-bar .fa {
    font-size:20px;
    color:#646668;
}

#edit-bar .actionMenuContent .fa {
    font-size:16px;
    padding-right: 10px;
    width:20px;
}
#edit-bar ul > li.selected .fa {
    background-color:#FFF;
    color:#336699;
}
#edit-bar ul > li.plain .fa {
    background-color:transparent;
}

#edit-bar .text {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    position: absolute;
    top: 50px;
    z-index: 20;
}

#edit-bar > ul.contentViews > li > a > .text {
    display:none;
}
#edit-bar > ul.contentViews > li {
    margin-right:-2px;
}

#content-views a, 
#content li.formTab a, 
#content-core li.formTab a {
    padding: 0 15px;
    margin:0px 0 0 0;
}
/* =============== /editbar =========== */


/* ================ content =================== */
#content-core > dl > dt {
	margin-top:1em;
	border-top:1px dotted #e0e0e0;
}

#content-core .fa.fa-file-image-o,
#content-core .fa.fa-file-o {
    display:none;                        
}
#content-core img {
    margin-right:5px;                        
}


#content-core > dl > dd {
}

/*#edit-bar {display:none;} DEBUG */

.documentByLine {
    font-size:88%;
    color:#686868;
    font-weight:normal;
    font-style:italic;
}
#category {
    float:right;
    background-color:#eee;
    padding:10px 20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.documentDescription {
    font-size:110%;
}

#portal-columns {
    margin-bottom:40px;            
}
#portal-column-one {
}
#portal-column-two {
}
#portal-column-content {
                                                                    background-color:white !important;
                                                                    padding: 15px !important;
                                                                    border:1px solid #ddd;
}

#content {
    line-height:1.6em;
    font-size:100%;
                                                                    margin:0 !important;
}

#content dd {margin-bottom:15px;}
/*
#content div {
    margin:10px 0 10px 0;
    
}
*/
#content .documentDescription, 
#content #description {
    color: #234;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 0;
    font-size:120%;
                padding:0 0 15px 0;
}
/* warun? */
/*
#content a:link, dl.portlet a:link {
                                                                    border-bottom: none !important;
}
*/
#form-widgets-comment-text {
    width:100%
}
.reply {
    margin-top:2em;
}


/* --- sidepanel ---------------- */
.column-sidepanel {
    position: fixed;
    bottom: 0;
    top:50px;
    float:left;
    width:180px;
/*    border-right: 1px solid #ccc;*/
    z-index: 10;
        background-color:#fff;
        margin-right:15px;
                                                                border-right:1px solid #ddd;
}
.column-sidepanel.small-panel {
        width:32px;
        overflow:hidden;
        z-index:2;
}


dl.actionMenu.activated dd {
    min-width: 15em;
}
dl.actionMenu a {
    text-decoration:none;
}

/* ============ 480 ======================= */
@media screen and (max-width: 480px) {
    dl.actionMenu.deactivated dt > a > span {
        display:none;
    }
}

/* ============ 767 ======================= */
@media screen and (max-width: 767px) {
	body {
	   /*font-size:22px;*/
	}

/*
    .navbar-tools {                                 right:60px; width:70px}
    .navbar-notify {                                right:128px;}
*/
    .column-sidepanel {
        display:none;
    }

    #new-content {
        display:none;
    }
    .content-wrapper {
        margin:50px 5px 5px 5px !important;
        padding:5px !important;
        position:relative !important; /* wichtig! sonst skalieren Bilder nicht ! */
    }
    #livesearch-container {
        display:none;
    }

    #site-globalnav .dropdown {
        border-bottom:1px solid #ddd;
    }
    #site-globalnav > li.plain.dropdown.open > a {
        background-color:#f1f2f3;
    }
    dl.actionMenu.deactivated dt {
        margin:0;
    }
    #portal-column-two {
        margin:15px 0 0 -15px !important;
    }


}
/* ============ 992 ======================= */
@media screen and (max-width: 992px) {

	.column-content {
 
    }
}

/* ======== wide ============= */
.content-wrapper {
    margin-top:50px;
	padding-bottom:50px;
    height:100%;
}
.content-wrapper.small-panel {
}


#main-title {font-size:28px; color:#369}

h1,.h1 {font-size:26px}
h2,.h2 {font-size:22px}
h3,.h3 {font-size:18px}
h4,.h4 {font-size:14px}
h5,.h5 {font-size:13px}
h6,.h6 {font-size:12px}
.documentFirstHeading {margin-top:15px;}


.state-private {color:#c00 !important}
.state-published {color:#69c !important}


/* ================ /content =================== */

/* === searchpage ========== */
input.searchPage {
    font-size: 20px !important;
    padding: 5px;
    height:35px;
}
input.searchPage.searchButton {
    padding:3px 15px;
    margin:-5px 15px 0;
    font-size:20px;
}
#search-term {
    padding-left:0em;
}
#search-results {
    margin:0;
    padding:1em 0 !important;
}


/* === /searchpage ========== */


/* ======== forms =============================== */
.btn {
    margin-right:5px;
}
/* ======== forms =============================== */


/* ======= documentActions ======================*/
#viewlet-below-content-body {
    padding:0px 0 0 0;
}
.documentActions ul  {
    margin-left:0 !important;
    margin:0;
}
.documentActions ul li {
    display:inline !important;
    padding-left:0px;
    padding-right:15px;
}
/* ======= /documentActions ======================*/

.listingBar.pagination ul  {
    margin:0 0 -30px 0 !important;
}
.listingBar.pagination ul li {
    display:inline !important;
}
.listingBar.pagination ul li a {
    border:none;
}

/* ======== footer ===================== */
#footer {
    position:fixed;
    bottom:0;
    background:#2f3339;
        width:100%;
        min-height:40px;
    color:#d0d0d0;
    font-size:11px;
    padding:15px 0px 0;   
    line-height:1em;
    z-index:2;
}
#footer a {
    color:#fff
}

/* ======== /footer ===================== */


/* ============= dashboard ==================== */
body.template-dashboard {
}
body.template-dashboard #portal-column-content {
  background-color:transparent;
    margin: 0px -0px 0 0;
}

body.template-dashboard #dashboard {
    font-size:100%;
    line-height:1.5em;
}
body.template-dashboard #dashboard > div {
    margin: 0 15px 0 0;
}

body.template-dashboard #dashboard-portlets1, 
body.template-dashboard #dashboard-portlets2, 
body.template-dashboard #dashboard-portlets3,
body.template-dashboard #dashboard-portlets4 {
    border:1px solid #eee;
    width:23.75%;
    padding:15px;
    margin:15px;
}
/* ============= dashboard ==================== */

/* === manage portlets ======================== */
body.template-manage-portlets #portal-column-one .portlet,
body.template-manage-portlets #portal-column-two .portlet  {
    margin: 15px 0 !important;
}

/* === /manage portlets ======================= */

/* ======== activityStream ===================== */
#activity-stream .well .wrapper {
    position: relative;
}

#activity-stream .thumbnail-preview {
    display: none;
    position: absolute;
    left: 65px;
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.95) !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
       -moz-box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
            box-shadow: 0 0 2px rgba(100, 100, 100, 0.6);
    height: auto;
    padding: 10px;
    z-index: 2;
}

#activity-stream a.user-message:hover {
    text-decoration: none;
}
/* ======== /activityStream ===================== */





/* ========== login/logout ====================== */
.login-body {
	background:black url('../img/kl.jpg') top left no-repeat;
}
.login-body .login-wrapper {
    margin:60px auto;
    /*width:680px;*/
    width: 95%;
    max-width: 400px;
    background-color:white;
    font-size:12px;
}
.login-body #portal-column-content {
    background-color: white;
    border: none;
    padding-bottom: 15px;
}
.login-body .columns-wrapper {
	padding:15px;
}
.login-body .navbar-default {
    background-color: #fff;
    border-color: #ddd;
    border-radius:0;
    box-shadow:none;
    background-image:none;
}

.login-body .login-content {
    padding:20px 0;
}
#login-forgotten-password {
    margin:60px 0 0px 0;
}

/* icones in menu */
.icons-on #plone-contentmenu-factories .contenttype-document {
    background-position: 10px 9px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-event {
    background-position: 10px -207px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-folder {
    background-position: 10px -639px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-link {
    background-position: 10px -1071px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-news-item {
    background-position: 10px -1287px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-plone-site {
    background-position: 10px -1505px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-collection {
    background-position: 10px -1719px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-topic {
    background-position: 10px -1730px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-file {
    background-position: 10px -423px  !important;
}
.icons-on #plone-contentmenu-factories .contenttype-image {
    background-position: 10px -856px  !important;
}

.icons-on #plone-contentmenu-factories .contenttype-document, 
.icons-on #plone-contentmenu-factories .contenttype-event, 
.icons-on #plone-contentmenu-factories .contenttype-folder, 
.icons-on #plone-contentmenu-factories .contenttype-link, 
.icons-on #plone-contentmenu-factories .contenttype-news-item, 
.icons-on #plone-contentmenu-factories .contenttype-plone-site, 
.icons-on #plone-contentmenu-factories .contenttype-collection, 
.icons-on #plone-contentmenu-factories .contenttype-topic, 
.icons-on #plone-contentmenu-factories .contenttype-file, 
.icons-on #plone-contentmenu-factories .contenttype-image {
    padding-left: 10px !important;
}
.icons-on #plone-contentmenu-factories a {
    background-image: none  !important;
}
/*
.icons-on .contenttype-document, 
.icons-on .contenttype-event, 
.icons-on .contenttype-folder, 
.icons-on .contenttype-link, 
.icons-on .contenttype-news-item, 
.icons-on .contenttype-plone-site, 
.icons-on .contenttype-collection, 
.icons-on .contenttype-topic, 
.icons-on #plone-contentmenu-factories .contenttype-file, 
.icons-on #plone-contentmenu-factories .contenttype-image 
*/

/* --- portaMessages ------------------------------------- */
dl.portalMessage {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #FFFFcc;
    border: 1px solid #CCC;
    margin: 0;
    color:#333639;
    line-height: 1.25em;
    z-index:10000;
    font-size: 102% !important;
}
dl.portalMessage dt, 
div > .admonition-title {
    background-color: #6b0;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
dl.portalMessage dd {
    line-height: 1.25em;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    text-align:center;
} 
.portalMessage.attention dt {background-color:#cc0000;}
.portalMessage.caution dt {background-color:#cc6600;}
.portalMessage.danger dt {background-color:#cc0000;} 
.portalMessage.error dt {background-color:#cc0000;} 
.portalMessage.hint dt {background-color:#6b0;} 
.portalMessage.important dt {background-color:#ee0;}
.portalMessage.note dt {}
.portalMessage.tip dt {} 
.portalMessage.warning dt {background-color:#cc6600;}
/* --- /portaMessages ------------------------------------ */

/* ========== /login/logout ====================== */

.transparent-50 {
    /* Theoretically for IE 8 & 9 (more valid) */   
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.5;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.5;
    
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.5;
}

.truncate {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* verhindert aufblitzen der box */
#new-content-container {display:none}

.follow-lnk {
    position:absolute;
    top:0;
    right:0;
    padding:0px 0px 0px 0px;
    font-size:86%;
}
.follow-lnk a {
    display:block;
    padding:5px 0;
    margin:0 30px 0 0;
    cursor:pointer;
}
.follow-lnk .fa {
    position:absolute;
    top:5px;
    right:5px;
    color:#789F09;
    font-size:20px;   
}

.follow-lnk .fa.off {
    color:#e6e6e6;
    font-size:20px;
}




/* ---- configuration ---------------------- */
body.template-usergroup-groupprefs table tbody tr th,
body.template-usergroup-userprefs  table tbody tr th {
    padding:2px;
    font-size:86%;
}
body.template-usergroup-groupprefs table tbody tr td,
body.template-usergroup-userprefs  table tbody tr th {
    padding:2px;
    font-size:86%;
}
/*
body.portaltype-plone-site #site-breadcrumbs i.fa.fa-long-arrow-right {
        display:none;
}
*/
/* ---- configuration ---------------------- */


body.template-dialog-overview #portal-column-content,
body.template-messages #portal-column-content,
body.template-activities #portal-column-content  {
    background-color: transparent !important;
    border: none ;
    padding: 0px !important;
}

.qq-upload-button {
    background: none repeat scroll 0 0 #336699;    
    border-bottom: 1px solid #DDDDDD;    
    border-radius: 0; 
}






/** MR: vereinheitlichungen */
#new-content-container, .livesearch-results, #activity-stream .thumbnail-preview {
    display: none;
    
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);/*0 3px 9px rgba(0,0,0,.5); 0px 5px 10px 2px rgba(50, 50, 50, 0.75);*/
       -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);/*0 3px 9px rgba(0,0,0,.5); 0px 5px 10px 2px rgba(50, 50, 50, 0.75);*/
            box-shadow: 0 5px 15px rgba(0,0,0,.5);/*0 3px 9px rgba(0,0,0,.5); 0px 5px 10px 2px rgba(50, 50, 50, 0.75);*/
}



/** activity stream tabs */
#astream-header-box #astream-tabs .nav.nav-tabs li {
	width: 50%;
	margin: 0;
	padding: 0;
}

#astream-header-box #astream-tabs {
	margin: 0 -16px -16px;
}

#astream-header-box #astream-tabs .nav.nav-tabs {
	border-bottom: 0;
}

#astream-header-box #astream-tabs .nav.nav-tabs li {
	background-color: #ecedef;
    border-top: 1px solid #ddd;
	text-align: center;
}

#astream-header-box #astream-tabs .nav.nav-tabs li.active {
	border-top: 1px solid transparent;
	background: transparent;
}

#astream-header-box #astream-tabs .nav.nav-tabs li:first-child {
	border-right: 1px solid #ddd;
}

#astream-header-box #astream-tabs .nav.nav-tabs li:last-child {
	border-left: 1px solid #ddd;
}

#astream-header-box #astream-tabs .nav.nav-tabs li:first-child.active {
    border-right: 0;
}

#astream-header-box #astream-tabs .nav.nav-tabs li:last-child.active {
    border-left: 0;
}

#astream-header-box #astream-tabs .nav.nav-tabs li a {
	border: 0;
	margin: 0;
	background: none;
}

#astream-header-box #astream-tabs .nav.nav-tabs li:not(.active) a:hover {
	text-decoration: underline;
}


/* --- quickuploader fix */
.uploadifybutton, 
.qq-upload-button {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
        margin:0 0 5px 0;
    background-color: #FFFFFF;
    color: #333333;
    
}
.uploadifybutton:hover,
.qq-upload-button:hover {
    border-color: #ADADAD;
    background-color: #E6E6E6;    
}
/* --- /quickuploader fix */

