body {
}

a {color:#454545 !important}

.header {
    background-color:white;
}
.logout {
    text-align:right;
    
}
.navbar-header {
    margin-left:-15px;
    width:100%;
}
.logo-onkonnekt {
    display:block;
    float:left;
}
.logo-lilly {
    display:block;
    float:right;
    text-align:right;
        padding-top:15px;
}


.footer {
    background-color:#80cc28;
    padding:15px 15px;
                        padding:0;
/*    height:80px; */
    margin-bottom:0;
}
.footer a {color:#FFF !important}

.footer a {
    height:64px;
    width:64px;
    display:inline;
    float:left;
}

.footer #btn-imessage {
    background:transparent url(../img/asco/btns/btn_messages_inactive_kl.png) center center no-repeat;
}
.footer #btn-Members {
    background:transparent url(../img/asco/btns/btn_contacts_inactive_kl.png) center center no-repeat;
}
.footer #btn-myprofile {
    background:transparent url(../img/asco/btns/btn_profile_inactive_kl.png) center center no-repeat;
}
.footer #btn-mystuff {
    background:transparent url(../img/asco/btns/btn_doc_inactive_kl.png) center center no-repeat;
}
.footer #btn-help {
    background:transparent url(../img/asco/btns/btn_help_inactive_kl.png) center center no-repeat;
}

.template-message-inbox .footer #btn-imessage,
.footer #btn-imessage:hover {
    background:transparent url(../img/asco/btns/btn_messages_active_kl.png) center center no-repeat;
}
.template-users .footer #btn-Members,
.footer #btn-Members:hover {
    background:transparent url(../img/asco/btns/btn_contacts_active_kl.png) center center no-repeat;
}
.template-author .footer #btn-myprofile,
.footer #btn-myprofile:hover {
    background:transparent url(../img/asco/btns/btn_profile_active_kl.png) center center no-repeat;
}
.template-thumbnail_listing .footer #btn-mystuff,
.footer #btn-mystuff:hover {
    background:transparent url(../img/asco/btns/btn_doc_active_kl.png) center center no-repeat;
}
.template-message-help .footer #btn-help,
.footer #btn-help:hover {
    background:transparent url(../img/asco/btns/btn_help_active_kl.png) center center no-repeat;
}

.content-wrapper {
    margin-top:0px;
	padding-bottom:115px;
    background-color:white;
    height:100%;
    margin-left:0px;
}

.well {
    border-radius:0;
    box-shadow:none;
    border:none;
    background-image:none;
    background-color:#eee;
}
.panel {
    border-radius:0;
    box-shadow:none;
    border:none;
    
}
.navbar {
    margin-bottom:0px;
}

#message-stream ul.latest-messages li {
    font-size: 80%;
}

h1.documentFirstHeading,
h1#main-title {
    font-size:140%;
    padding:0;
    line-height:1.5em;
    margin:0;
}

#site-footer {
    margin:0 0px;
            width:320px;
                    
}

#site-footer .fa {
    font-size:40px;
    line-height:50px;
    margin-right:0px;
        width:65px;
}
#site-footer .fa.last {
    margin-right:0px;
}

#messages-counter,
#whoisonline-counter {
    position:relative;
    top:36px;
    right:-20px;
    z-index:100;
}


/* --- DATATABLES --- users.pt overide databases.css */
#user-list-in {
    border: none;
    padding: 0;
}

.dataTables_filter {
    width: auto;
}

table#user-table {
    font-size: 100%;
}

.paginate_disabled_previous,
.paginate_disabled_next {
    background-image: none;
}

#user-table th.lastlogin,
#user-table th.fullname {
    width: auto;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table.table th:nth-child(3),
    table.table td:nth-child(3) {display:none}

}
@media only screen and (max-width: 480px),
(min-device-width: 480px) and (max-device-width: 767px)  {
    table.table th:nth-child(3),
    table.table th:nth-child(5),
    table.table td:nth-child(3),
    table.table td:nth-child(5) {display:none}

    #user-table_length {display:none}

}

/* --- /DATATABLES --- users.pt overide databases.css */



/* -- Userprofile -- */
#userprofile-wrapper, #user-activity-wrapper {
    border: none;
    padding: none;
}
/* -- /Userprofile -- */


/* --- whoisonline --- */
#who-is-online {
    position:fixed;
    top:100px;
    right:0;
    width:32px;
    height:100%;
}
/* --- /whoisonline --- */






/* DEBUG */
/*
#portal-column-content {
    border:1px solid red;
}
.content-wrapper {
    border:1px solid green;

}
.main-content {
    border:1px solid yellow;

}

#content {
    border:1px solid blue;

}
*/
.container {
    padding:0;
}
