[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

extensions += buildout.dumppickedversions
package-name = Products.PloneGlossary
package-extras = [test]
socket-timeout = 3

# To test with dexterity content types:
#[instance]
#eggs += plone.app.contenttypes
#        collective.dexteritytextindexer

[versions]
collective.dexteritytextindexer = 2.0
plone.app.contenttypes = 1.0
plone.formwidget.querystring = 1.1.0
zc.buildout = 1.6.3
