.portaltype-sent_mail #body-text {
	padding: 4px;
	background-color: #BBB;
	width: 60%;
}

.portaltype-sent_mail table {
	width: 100%;
}

.portaltype-sent_mail table tr.field td {
    padding: 3px;
    vertical-align: top;
}

.portaltype-sent_mail table tr.field td.name {
	font-weight: bold;
    text-align: right;
    width: 8%;
}

.portaltype-sent_mail table tr.field td.value {
    text-align: left;
}
