/* modifications au styles venant de "ext-all.css" */

/* used for Extjs toolbar, geoprisma UI. */
.grig02{background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:-20px -40px !important; height:20px !important;}
.choixcarte {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:-20px -42px !important; padding-left: 21px !important; padding-right:3px !important;}
.ssoPasseport {background-image:url(../images/sso_btn_small.png) !important; width: 23px !important;}
.close_16 {background-image:url(../images/close_16.png) !important}
.gear {background-image:url(../images/gear.png) !important;}
.folderFT {background-image: url(../images/folder_16.png);background-repeat: no-repeat;}
.geonetwork {background-image: url(../images/geonetwork16.png);background-repeat: no-repeat;width:100px !important;}
.disconnect {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:-20px -20px !important; height:20px !important; padding-left: 21px !important; padding-right:3px !important;}
.userinfo {background-image: url(../images/user.png) !important;}
/* used for Extjs toolbar, form template UI. */

.homeFT{background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:-20px -42px !important;}
.AddFT {background-image: url(../images/add_16.png) !important;}
.ExcludeFT {background-image: url(../images/ico/delete_16.png) !important;}
.ValidateFT {background-image: url(../images/accept_16.png) !important;}
.SignFT {background-image: url(../images/sign_16.png) !important;}
.PrintFT {background-image: url(../images/printer_16.png) !important;}
.CancelFT {background-image: url(../images/ico/cancel_16.png) !important;}
.ShowUploadF{background-image: url(../images/picture_add_16.png;);}
.EditFT {background-image: url(../images/pencil_16.png) !important;}
.EraseFT {background-image: url(../images/draw_eraser_16.png) !important;}
.ViewFT {background-image: url(../images/open_16.png) !important;}
.ShowFT {background-image: url(../images/ico/eye_16.png) !important;}
.SearchFT, .icon-magnifier {background-image: url(../images/ico/magnifier_16.png) !important;}
.LinkFileFT {background-image: url(../images/ico/page_link_16.png) !important;}
.ShowOnMapFT {background-image: url(../images/map_magnify_16.png) !important;}
.ExcelFT {background-image: url(../images/excel_icon_16.png) !important;}
.PdfFT, .icon-pdf {background-image: url(../images/pdf_icon_16.png) !important;}
.ImgFT, .icon-img {background-image: url(../images/ico/16/picture.png) !important;}
.SuivantFT {background-image: url(../images/ico/resultset_next_16.png) !important;}
.PrecedentFT {background-image: url(../images/ico/resultset_previous_16.png) !important;}
.HautFT {background-image: url(../images/ico/16/bullet_arrow_up.png) !important;}
.BasFT {background-image: url(../images/ico/16/bullet_arrow_down.png) !important;}
.CompleteFT {background-image: url(../images/ico/tick_16.png) !important;}
.undoFT {background-image: url(../images/ico/16/arrow_undo.png) !important;}
.HorsCircuitFT {background-image: url(../images/ico/routing_intersection_right_16.png) !important;}
.linkFT {background-image: url(../images/ico/link_16.png) !important;}
.linkBreakFT {background-image: url(../images/ico/16/link_break.png) !important;}
.KeyFT {background-image: url(../images/ico/16/key.png) !important;}
.dateFT {background-image: url(../images/ico/16/date.png) !important;}
.dateDayFT {background-image: url(../images/ico/16/calendar_view_day.png) !important;}
.judgeRulesFT {background-image: url(../images/ico/16/auction_hammer_gavel.png) !important;}
.imageFT {background-image: url(../images/ico/16/picture.png) !important;}
.photoFT {background-image: url(../images/ico/16/camera.png) !important;}

.AddAllFT {background-image: url(../images/ico/16/add_all.png) !important;}
.RemoveAllFT {background-image: url(../images/ico/16/remove_all.png) !important;}

.AddAllFT {background-image: url(../images/ico/16/add_all.png) !important;}
.RemoveAllFT {background-image: url(../images/ico/16/remove_all.png) !important;}

.lineChartFT {background-image: url(../images/ico/16/chart_stock.png) !important;}
.meteoFT {background-image: url(../images/ico/16/sun_rain.png) !important;}
.buildingFT {background-image: url(../images/ico/16/building.png) !important;}
.factoryFT {background-image: url(../images/ico/16/factory.png) !important;}
.commentsFT {background-image: url(../images/ico/16/comments.png) !important;}
.exclamationFT {background-image: url(../images/ico/16/exclamation.png) !important;}
.rapportFacturationFT {background-image: url(../images/ico/16/table_money.png) !important;}
.infoFT {background-image: url(../images/information_16.png) !important;}
.legalFT {background-image: url(../images/ico/16/auction_hammer_gavel.png) !important;}
.rueFT {background-image:url("../images/ico/16/street.png") !important; background-repeat:no-repeat;}
.userFT {background-image: url(../images/ico/user_16.png) !important;}
.userCommentFT {background-image: url(../images/ico/16/user_comment.png) !important;}
.phoneFT {background-image: url(../images/ico/16/telephone.png) !important;}

.updateFT {background-image:url("../images/update_16.png") !important; background-repeat:no-repeat;}
.pagesFT {background-image:url("../images/ico/pages_white_text_16.png") !important; background-repeat:no-repeat;}

.editfeaturePolyEditFT {background-image: url(../images/ico/toolbar_poly_edit.png) !important;  background-repeat:no-repeat; background-position: -1px 1px;}

.directionFT {background-image: url(../images/ico/16/direction.png) !important;}
.tagFT {background-image: url(../images/ico/16/tag_blue.png) !important;}
.trafficFT {background-image: url(../images/ico/16/traffic_lights.png) !important;}
.slideshowFullScreenFT {background-image: url(../images/ico/16/slideshow_full_screen.png) !important;}

.Cardex {background-image: url(../images/ico/cardex16.png) !important;}
.Livre {background-image: url(../images/ico/livre_propriete16.png) !important;}

.geomPickerWizard{background-image: url(../images/icon_active.png) !important; background-repeat: no-repeat; width: 20px; height:20px;}
.point{background-image: url(../images/point.png) !important; background-repeat: no-repeat; width: 18px; height:18px;}

.icon32FT {height:32px !important; width:32px !important;}
.Add32FT {background-image: url(../images/ico/32/add.png) !important; height:32px !important; width:32px !important;}
.checkbox32FT {background-image: url(../images/ico/32/check_box_uncheck.png) !important; height:32px !important; width:32px !important;}
.checkboxGreen32FT {background-image: url(../images/ico/32/check_box_check.png) !important; height:32px !important; width:32px !important;}
.checkboxRed32FT {background-image: url(../images/ico/32/check_box_check_red.png) !important; height:32px !important; width:32px !important;}
.checkboxBlue32FT {background-image: url(../images/ico/32/check_box_check_blue.png) !important; height:32px !important; width:32px !important;}
.phoneAdd32FT {background-image: url(../images/ico/32/telephone_add.png) !important; height:32px !important; width:32px !important;}
.search41132FT {background-image: url(../images/ico/32/411search.png) !important; height:32px !important; width:32px !important;}

img.Add {background-image: url(../images/add_16.png) !important;}
img.Current {background-image: url(../images/accept_16.png) !important;}
img.Past {background-image: url(../images/ico/cancel_16.png) !important;}
img.Info {background-image: url(../images/information_16.png) !important;}

img.ViewButton { background-image: url(../images/open_16.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.HautButton { background-image: url(../images/ico/16/arrow_up.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.BasButton { background-image: url(../images/ico/16/arrow_down.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.EditButton { background-image: url(../images/pencil_16.png) !important; background-repeat: no-repeat; width: 100%; height:16px;}
img.EditButtonSynchRole { background-image: url(../images/pencil_16.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.InfoButton { background-image: url(../images/information_16.png) !important; background-repeat: no-repeat; width: 100%; height:16px;}
img.AddButton { background-image: url(../images/add_16.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.JudgeRulesButton { background-image: url(../images/ico/16/auction_hammer_gavel.png) !important; background-repeat: no-repeat; width: 100%; height:20px;}
img.ShowOnMapButton { background-image: url(../images/map_magnify_16.png) !important; background-repeat: no-repeat; width: 100%; height:16px;}
img.DeleteRow { background-image: url(../images/draw_eraser_16.png) !important; background-repeat: no-repeat; width: 100%; height:16px;}
img.signRequired { background-image: url(../images/ico/tosign_16.png) !important; background-repeat: no-repeat; width: 100%;}
img.renouvRequired { background-image: url(../images/ico/clock_16.png) !important; background-repeat: no-repeat; width: 100%;}
img.expired{ background-image: url(../images/ico/clock_red_16.png) !important; background-repeat: no-repeat; width: 100%; height: 16px;}
img.expiredNotif{ background-image: url(../images/ico/clock_16.png) !important; background-repeat: no-repeat; width: 100%; height: 16px;}
img.canceled{ background-image: url(../images/ico/cancel_16.png) !important; background-repeat: no-repeat; width: 100%; height: 16px;}
img.completed{ background-image: url(../images/ico/tick_16.png) !important; background-repeat: no-repeat; width: 100%; height: 16px;}
img.stop{ background-image: url(../images/ico/16/stop.png) !important; background-repeat: no-repeat; width: 100%;}
img.noGeom{ background-image: url(../images/ico/16/world_prohibition.png) !important; background-repeat: no-repeat; width: 100%; height: 16px;}

.pente {background-image: url(../images/pente.png) !important; height:20px !important; width:20px !important;}

button.signRequired { background-image: url(../images/ico/tosign_16.png) !important;}
button.renouvRequired { background-image: url(../images/ico/clock_16.png) !important;}
button.expired{ background-image: url(../images/ico/clock_red_16.png) !important;}
button.canceled{ background-image: url(../images/ico/cancel_16.png) !important;}
button.completed{ background-image: url(../images/ico/tick_16.png) !important;}


div.icoTick{ background-image: url(../images/ico/tick_16.png) !important; background-repeat: no-repeat; padding-left:24px; min-height: 16px;}
div.icoRestricted{ background-image: url(../images/delete_16.png) !important; background-repeat: no-repeat; padding-left:24px; min-height: 16px;}


.hintIcon {
    background-image:url("../images/help_16.png") !important;
	background-repeat: no-repeat;
	background-position: right;
    height:16px !important;
    width:16px !important;
	margin:3px 4px 0px 0px;
	padding-left: 6px;
	display: block;
	cursor: help;
}


/* GeoExtToobar.css override */
.editfeature_create {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px 0px !important; height:20px !important;width:20px !important;}
.editfeature_delete {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-20px -40px !important; height:20px !important;width:20px !important;}
.editfeature_update {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px -40px !important; height:20px !important;width:20px !important;}

.gx-featureediting-draw-point {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px 0px !important; height:20px !important;width:20px !important;}
.gx-featureediting-draw-line {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-20px 0px !important; height:20px !important;width:20px !important;}
.gx-featureediting-draw-polygon{background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px -20px !important; height:20px !important;width:20px !important;}
.gx-featureediting-draw-label{background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-20px -20px !important; height:20px !important;width:20px !important;}
.gx-featureediting-editfeature {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px -40px !important; height:20px !important;width:20px !important;}
.gx-featureediting-delete  {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-20px -40px !important; height:20px !important;width:20px !important;}
/*
.gx-featureediting-import {background-image:url(../images/silk/pencil.png) !important;}
.gx-featureediting-export {background-image:url(../images/silk/pencil.png) !important;}
*/
/* MeasureTool */

.x-btn .gp-measuretool-icon-measure-area, .x-menu-item .gp-measuretool-icon-measure-area, .x-tree-node .gp-measuretool-icon-measure-area {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-22px -62px !important; height:16px !important;width:16px !important;}
.x-btn .gp-measuretool-icon-measure-length, .x-menu-item .gp-measuretool-icon-measure-length, .x-tree-node .gp-measuretool-icon-measure-length {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-1px -62px !important; height:16px !important;width:16px !important;}

.x-btn  .gp-measuretool-icon-measure-area {background-position:-20px -60px !important; height:20px !important;width:20px !important;}
.x-btn  .gp-measuretool-icon-measure-length {background-position:0px -60px !important; height:20px !important;width:20px !important;}

.queryonclick {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px -120px !important; height:20px !important;width:20px !important;}
.next {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:-20px -100px!important; height:20px !important;width:20px !important;}
.back {background-image:url(../images/toolbar_geoprisma.png) !important ; background-position:0px -100px !important; height:20px !important;width:20px !important;}
.zoomin {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:0px 0px !important; height:20px !important;width:20px !important;}
.zoomout {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:-20px 0px !important; height:20px !important;width:20px !important;}
.zoomfull {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:0px -20px !important; height:20px !important;width:20px !important;}
.pan {background-image:url(../images/toolbar_geoprisma_autre.png) !important ; background-position:0px -40px !important; height:20px !important;width:20px !important;}
.tool_view {background-image: url(../images/ico/toolbar_view.png) !important; height:20px !important; width:20px !important;}

.x-menu-item-icon {height:18px !important; width:18px !important; margin-left: -2 !important; background-repeat:no-repeat !important;}

/* line operation buttons */
.editfeature_line_copy {background-image: url(../images/ico/toolbar_line_copie.png) !important; height:20px !important; width:20px !important;}
.editfeature_line_drag {background-image: url(../images/ico/toolbar_line_move.png) !important; height:20px !important; width:20px !important;}
.editfeature_line_create {background-image: url(../images/ico/toolbar_line_add.png) !important; height:20px !important; width:20px !important;}
.editfeature_line_edit {background-image: url(../images/ico/toolbar_line_edit.png) !important; height:20px !important; width:20px !important;}

/* line operation buttons */
.editfeature_poly_copy {background-image: url(../images/ico/toolbar_copy.png) !important; height:20px !important; width:20px !important;}
.editfeature_poly_drag {background-image: url(../images/ico/toolbar_drag.png) !important; height:20px !important; width:20px !important;}
.editfeature_poly_edit {background-image: url(../images/ico/toolbar_poly_edit.png) !important; height:20px !important; width:20px !important;}
.editfeature_poly_split {background-image: url(../images/ico/toolbar_split.png) !important; height:20px !important; width:20px !important;}

.editfeature_copy {
    background-image: url(../images/ico/toolbar_copy.png) !important;
    height:20px !important;
    width:20px !important;
}
.editfeature_drag {
    background-image: url(../images/ico/toolbar_drag.png) !important;
    height:20px !important;
    width:20px !important;
}

.htwindow_tutoriel {
    background-image:url("../images/help_16.png") !important;
}

.iframewindow_tutoriel {
    background-image:url("../images/help_16.png") !important;
    height:16px !important;
    width:16px !important;
}
.fleche_suivant {
    background-image:url("../images/suivant.png") !important;
    height:25px !important;
    width:25px !important;
}
.fleche_precedent {
    background-image:url("../images/precedent.png") !important;
    height:25px !important;
    width:25px !important;
}

.menu_icon_rle, .menu_icon_role {
    background-image:url("../images/ico/user_16.png") !important;
}

/*
.float-left {
  float: left;
}
.clear-left {
  clear: left;
}
.zoomin {
  background-image:url("../images/icon_zoomin.png") !important;
  height:20px !important;
  width:20px !important;
}
.zoomout {
  background-image:url("../images/icon_zoomout.png") !important;
  height:20px !important;
  width:20px !important;
}
.zoomfull {
  background-image:url("../images/icon_zoomfull.png") !important;
  height:20px !important;
  width:20px !important;
}
.pan {
  background-image:url("../images/icon_pan.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawpoint {
  background-image:url("../images/draw_point_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawline {
  background-image:url("../images/draw_line_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon {
  background-image:url("../images/draw_polygon_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.measuretoolArea {
  background-image:url("../images/draw_polygon_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.measuretoolLength {
  background-image:url("../images/draw_line_off.png") !important;
  height:20px !important;
  width:20px !important;
}
.next {
    background-image:url("../images/resultset_next.png") !important;
    height:20px !important;
    width:20px !important;
}
.back {
    background-image:url("../images/resultset_previous.png") !important;
    height:20px !important;
    width:20px !important;
}
.queryonclick {
    background-image:url("../images/icon_query.png") !important;
    height:20px !important;
    width:20px !important;
}
.getmouseposition {
    background-image:url("../images/mouse_xy.png") !important;
    height:20px !important;
    width:20px !important;
}

*/
/* END GeoExtToobar.css override*/

/* ================================================================ */
/* Custom widget cursor */

/* Add by Maxime Beaudoin */

.olControlModifyFeatureActive, .olControlDrawFeatureActive, .olControlEditFeature_DeleteActive {
  cursor: url(../images/cursor/cross.cur) 16 16, auto;
}
.olControlZoomBoxActive, .zoom-cursor {
	cursor: url(../images/cursor/magnifier.cur) 9 9, auto;
}
.olControlDragPanActive{
	cursor: url(../images/cursor/openhand.cur) 8 8, auto;
}
.olControlMeasureActive {
  cursor: url(../images/cursor/cross_mesure.cur) 16 16, auto;
}
.olControlWMSGetFeatureInfoActive, .olControlQueryOnClickActive {
	cursor: url(../images/cursor/cross_info.cur) 16 16, auto;
}
.geoprisma_htwindow_addons_menu_icon {
    background-image:url("../images/page_16.png") !important;
}
.menu_icon_configuration {
    background-image:url("../images/ico/16/gear_in.png") !important;
}
.gx-zoomto-recenteroncoords {
  background-image: url("../images/ico/recenter_on_coords.png") !important;
  height:20px !important;
  width:20px !important;
}

