#mover_img{cursor: url(../images/cursor/openhand.cur), auto;}

.olControlModifyFeatureActive, .olControlDrawFeatureActive, .olControlEditFeature_DeleteActive {
  cursor: url(../images/cursor/cross.cur) 16 16, auto;
}
.olControlZoomBoxActive, .zoom-cursor {
	cursor: url(../images/cursor/magnifier.cur) 9 9, auto;
}
.olControlDragPanActive{
	cursor: url(../images/cursor/openhand.cur) 8 8, auto;
}
.olControlMeasureActive {
  cursor: url(../images/cursor/cross_mesure.cur) 16 16, auto;
}
.olControlWMSGetFeatureInfoActive, .olControlQueryOnClickActive {
	cursor: url(../images/cursor/cross_info.cur) 16 16, auto;
}