.ShowPopUp{
	bottom: 35px;
	right: 15px;
	width: 120px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.olPopup {
	cursor: auto;
}
.olFramedCloudPopupContent {
    padding: 5px;
    margin-right: 8px;
    overflow: auto;
    width: auto !important;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.9em;
}
.olFramedCloudPopupContent strong {
	font-weight: bold;
}
.olFramedCloudPopupContent h1 {
    font-size: 130%;
}
.baseLayerSwitcherFrame {
	top: 15px;
	right: 20px;
	width: 104px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.baseLayerSwitcherFrame .layersDiv {
	padding: 2px;
    background-color: #000;
	border: outset 1px #696983;
	overflow: hidden;
}
.baseLayerSwitcherFrame .baseLayersDiv {
	padding: 0px !important;
	overflow: hidden;
}
.baseLayerSwitcherFrame img {
	background-color: #4B4B4B;
	border: inset 1px #696983;
}
.olLayerGooglePoweredBy {
	display: none;
}

