/* fieldsets */
.x-column .x-fieldset {
    padding:10px;
}

.x4-window, .x4-window * {
    -moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}


.x4-action-col-icon, .x-action-col-icon {
	cursor: pointer;
	background-position: center top;
	background-repeat: no-repeat;
}
.x4-action-col-icon:active, .x-action-col-icon:active {
	opacity: 0.4;
}


.x4-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x4-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x4-grid-checkheader {
    height: 14px;
    background-image: url('../images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x4-grid-checkheader-checked {
    background-image: url('../images/checked.gif');
}

.x4-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}


.onTopZindex {
	z-index: 9999999999999 !important;
}


img.x4-action-col-icon {
	background-repeat: no-repeat;
	width: 100%;
}

.noDisplay{
	display:none;
}


.input-minimalist {
	background: transparent !important;
	margin: 0px !important;
	font-weight: bold !important;
}


.htmlContent h1{margin:15px 0px 5px; font-size:1.2em;}
.htmlContent p{margin:5px 0px 15px; font-size:1.1em;}
