.popover-content{
  font-weight: normal;
 }

.stick {white-space: nowrap;}


label {
  font-weight: bold;
}

input.integer {
  width: 200px;
}

.form-horizontal .form-group > label {
  text-align:left
}

.options-holder {
 margin-left: 4em;
}

.panel.panel-default.panel-normalization > .panel-heading,
.panel.panel-default.panel-blocking > .panel-heading,
.panel.panel-default.panel-distance > .panel-heading {
  font-weight: bold;
  padding: 6px 10px;
}

/* distance */
.panel.panel-default.panel-distance .control-label,
.panel.panel-default.panel-distance label,
.panel.panel-default.panel-distance label i {
  color: #3C763D;
}

.panel.panel-default.panel-distance > .panel-heading {
  background-color: #DFF0D8;
}

.panel.panel-default.panel-distance .form-control,
.panel.panel-default.panel-distance .panel-heading,
.panel.panel-default.panel-distance .panel-heading div > .input-group-addon,
.panel.panel-default.panel-distance {
  border-color: #D6E9C6;
}

 /* blocking */
.panel.panel-default.panel-blocking .control-label,
.panel.panel-default.panel-blocking label,
.panel.panel-default.panel-blocking label i {
  color: #31708F;
}

.panel.panel-default.panel-blocking > .panel-heading {
  background-color: #D9EDF7;
}

.panel.panel-default.panel-blocking .form-control,
.panel.panel-default.panel-blocking .panel-heading,
.panel.panel-default.panel-blocking .panel-heading div > .input-group-addon,
.panel.panel-default.panel-blocking {
  border-color: #BCE8F1;
}

 /* normalization */
.panel.panel-default.panel-normalization .control-label,
.panel.panel-default.panel-normalization label,
.panel.panel-default.panel-normalization label i {
  color: #8A6D3B;
}
.panel.panel-default.panel-normalization > .panel-heading {
  background-color: #FCF8E3;
}

.panel.panel-default.panel-normalization .form-control,
.panel.panel-default.panel-normalization .panel-heading,
.panel.panel-default.panel-normalization .panel-heading div > .input-group-addon,
.panel.panel-default.panel-normalization {
  border-color: #FAEBCC;
}

.panel-heading div > .input-group-addon {
  border-width: 1px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.panel-heading div > .input-group-addon:last-child {
  border-left-width: 1px;
}