div.olControlMultiProjectionMousePosition {
	bottom:0;
	display:block;
	font-family:Arial;
	font-size:9pt;
	color:#000000;
	position:absolute;
	right:3px;
	width:240px;
}
.olControlMultiProjectionMousePositionCoord{
	background-image:url("img/bullet_arrow_top.png") !important;
	background-repeat: no-repeat;
    background-position:right;
	cursor: pointer;
	padding-right:20px;
	z-index:9999;
    text-align: right;
}
div.olControlMultiProjectionMousePositionSelector {
	cursor: auto;
	width:150px;
	bottom:20px;
	display:none;
	font-family:Arial;
	font-size:9pt;
	color:#000000;
	position:absolute;
	right:3px;
	background-color:#ccc;
	border:3px #999 solid;
	padding:5px;
}