[resources]

# Path where you would like the sqlite database with sequence and homology
# data to be located.  This database will be created the first time you call
# anything that needs it.

agalma_database = ~/.biolite/agalma.sqlite

# BLAST databases
# ---------------
# Custom nt database containing rRNA
# see dev/build-nt-rrna.py
nt_rrna_blastdb = %(agalma)s/blastdb/nt.rrna
# Custom swissprot build, including the OG (organelle) field
# see dev/build-swissprot.py
swissprot_blastdb = %(agalma)s/blastdb/swissprot
# A blast database of vector and adapter sequences
# ftp://ftp.ncbi.nih.gov/pub/UniVec/
univec_blastdb = %(agalma)s/blastdb/UniVec

# Curated rRNA
#
# This is a set of curated rRNA sequences that will be used to identify rRNA in
# assemblies.  The sequences in this file should:
#
# - Be from species related to those you are studying (they don't have to be
#   the exact sequences from your species).
# - Be full length, or as close as it to possible.
# - Include representatives of 18s, 28s, 16s, and 12s.
# - Be oriented in a 5' to 3' direction, as they are used to orient the
#   sequences that are written to the diagnostics files.
# - Use sequence headers prepended with the name of the gene, i.e. 28s_, 18s_,
#   16s_, or 12s_. For example, a header might look like this:
#
#      >18s_gi|290750865|gb|FJ977632.1| Lottia gigantea voucher
#                                          MCZ:DNA101968 18S ribosomal RNA gene
#
# It is fine, and a good idea, to have multiple examples of each rRNA. 
#
# A default example rRNA fasta is provided with this software and installed
# in the data directory of the agalma python module.

rrna_fasta = %(agalma)s/data/rRNA-animal.fasta

