div#container {
    background: white;
}
ul li.status0 {
    color: black;
}
ul li.status1 {
    color: yellow;
}
ul li.status2 {
    color: green;
}
li span {
    float: right;
    font-style: italic;
}
li a {
    float: right;
}
