
.ui-tabs-nav li {
	padding: 10px;
	margin: 5px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
	-moz-border-radius: 5px 10px;     /* Firefox */
	border-radius: 5px 10px; 
	background-color: #837D7B;
}

.ui-tabs-nav a{
	text-decoration: none;
	color:#FFFFFF;
}


.ui-tabs-active {
	text-decoration: none;
	color:#D91910!important;
	background-color: #FFFFFF!important;
}
.ui-tabs-active a{
	text-decoration: none;
	color:#000!important;
	background-color: #FFFFFF!important;
}
.ui-widget-content {
    padding: 0px;
}