body {
    background: #eee;
    margin: 0;
    padding: 0;
    font: 83%/1.2 'Helvetica Neue', 'Arial', sans-serif;
}

ul {
    margin: 0.5em 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0 0.5em 0 4em;
    text-indent: -3.5em;
}

li:target {
    background: #ecc;
}

li a {
    color: inherit;
}

li a.timestamp {
    white-space: nowrap;
    font-size: smaller;
    color: gray;
}

.content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.misc {
    color: gray;
}
